force-app/main/default/flows/afl_Invoice_Details_to_CSV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_ConvertRecordsToCSVQueueable</name>
        <label>1. ConvertRecordsToCSVQueueable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>usf3__ConvertRecordsToCSVQueueable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_01_ContentDocumentId</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordCollection</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentShareType</name>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>rInvoice.CSV_Attachment_Name_c__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentVisibility</name>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsString</name>
            <value>
                <elementReference>cSOQLFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkedRecordIdsString</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordCollection</name>
            <value>
                <elementReference>rOrderItems</elementReference>
            </value>
        </inputParameters>
        <nameSegment>usf3__ConvertRecordsToCSVQueueable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vContentDocumentId</assignToReference>
            <name>contentDocumentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vContentVersionId</assignToReference>
            <name>contentVersionId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_Execute_SOQL_Order_Items</name>
        <label>1. Execute SOQL - Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>act_01_ConvertRecordsToCSVQueueable</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>OrderItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>vOrderItemSOQL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rOrderItems</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rInvoice.CSV_Attachment_Name_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAttachmentNameCSV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_Execute_SOQL_Order_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cSOQLFields</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Order.Subscription25__Invoice__r.Subscription25__Invoice_Number__c, PoNumber__c, Object__c, Device__c, ProductCode__c, Product_Name__c, InvoiceStartDate__c, InvoiceEndDate__c,  Remarks_Customer__c, Quantity, UnitPrice, Subscription25__Total_Price__c, Order.Contract__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSOQLOrder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Order.Subscription25__Invoice__r.Subscription25__Invoice_Number__c, PoNumber__c, Object__c, Product_Code__c, ServiceDate</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_ContentDocumentId</name>
        <label>1. ContentDocumentId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_ContentDocumentId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vContentDocumentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Invoice</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rInvoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Invoice</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Generic flow to export Invoice details to a CSV and links it to the invoice</description>
    <environments>Default</environments>
    <formulas>
        <name>fAttachmentNameCSV</name>
        <dataType>String</dataType>
        <expression>&apos;Invoice_&apos; + {!rInvoice.Subscription25__Invoice_Number__c} + &apos;_Details.csv&apos;</expression>
    </formulas>
    <interviewLabel>afl - Invoice - Details to CSV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Invoice - Details to CSV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription25__Invoice_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Subscription25__Invoice__c</object>
        <outputReference>rInvoice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription25__Invoice_Number__c</queriedFields>
        <queriedFields>CSV_Attachment_Name_c__c</queriedFields>
        <queriedFields>Subscription25__Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rInvoice</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Invoice__c</objectType>
    </variables>
    <variables>
        <name>rOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderItemSOQL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>select {!cSOQLFields} from OrderItem where Order.Subscription25__Invoice__c = &apos;{!recordId}&apos; Order by {!cSOQLOrder}</stringValue>
        </value>
    </variables>
</Flow>
