force-app/main/default/flows/afl_Account_Get_new_debtor_number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAccount.FinancialDebtorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdBankAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdBankMandate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdBillingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialIdVisitingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialReplaceDebtorNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.FinancialSystemSync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_CurrentRecord_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Current_Record_to_Collection</name>
        <label>1. Current Record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcAccountContactRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_AccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_CurrentRecord_Update</name>
        <label>1. Current Record (Update)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lp_01_AccountContactRelationship.FinancialIdContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Current_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Digital</name>
        <label>1. Digital</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.FinancialIdContactDigital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.FinancialIdContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Contact_Digital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Historical_Debtor_Number</name>
        <label>1. Historical Debtor Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDebtorNumber.Subscription25__Administration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDebtorNumber.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Debtor_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.FinancialDebtorNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Exact_Bank_Account_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.FinancialIdBankAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Exact_Billing_Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.FinancialIdBillingAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Exact_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.FinancialIdAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Invoice_Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDebtorNumber.Subscription25__Invoice_Layout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Exact_Mandate_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccount.FinancialIdBankMandate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_AccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Exact_Contact_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.FinancialIdContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Contact_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Digital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Reminder</name>
        <label>1. Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.FinancialIdContactReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.FinancialIdContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Contact_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Shipping</name>
        <label>1. Shipping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.FinancialIdContactShipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.FinancialIdContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rHistoricalDebtorNumber.Contact_Shipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_AccountContactRelationship.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_rcAccountContactRelationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>dec_01_Account_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Debtor_Number</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Digital</name>
        <label>1. Digital</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Digital_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lp_01_AccountContactRelationship.isDigitalContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Digital</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Digital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Invoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lp_01_AccountContactRelationship.isInvoiceContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_rcAccountContactRelationships</name>
        <label>1. rcAccountContactRelationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_01_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>dec_01_rcAccountContactRelationships_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcAccountContactRelationships</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Account</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Reminder</name>
        <label>1. Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Reminder_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lp_01_AccountContactRelationship.isReminderContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Shipping</name>
        <label>1. Shipping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Shipping_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lp_01_AccountContactRelationship.isShippingContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Shipping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>afl - Account - Get new debtor number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Account - Get new debtor number</label>
    <loops>
        <name>lp_01_AccountContactRelationship</name>
        <label>1. Account Contact Relations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dgr_01_AccountContactRelationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_01_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_01_Historical_Debtor_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Update only 1 debtor number</description>
        <name>dcr_01_Historical_Debtor_Number</name>
        <label>1. Historical Debtor Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rHistoricalDebtorNumber</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_AccountContactRelationship</name>
        <label>1. Account Contact Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lp_01_AccountContactRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinancialIdContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Debtor_Number</name>
        <label>1. Debtor Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Historical_Debtor_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription25__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription25__Debtor_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rAccount.FinancialDebtorNumber__c</elementReference>
            </value>
        </filters>
        <object>Subscription25__Debtor_Number__c</object>
        <outputReference>rDebtorNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription25__Account__c</queriedFields>
        <queriedFields>Subscription25__Administration__c</queriedFields>
        <queriedFields>Subscription25__Debtor_Number__c</queriedFields>
        <queriedFields>Subscription25__Invoice_Layout__c</queriedFields>
        <queriedFields>Subscription25__Revision_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_04_Commit</targetReference>
        </connector>
        <inputReference>rAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Account_Contact_Relationship</name>
        <label>1. Account Contact Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputReference>rcAccountContactRelationships</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcAccountContactRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>rDebtorNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Debtor_Number__c</objectType>
    </variables>
    <variables>
        <name>rHistoricalDebtorNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historic_Debtor_Number__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
