force-app/main/default/flows/afl_AccountContactRelation_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>acc_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountContactRelationRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Contact_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactInvoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Subscription25__UBL_Billing_Attendant_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactDigital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Subscription25__Reminder_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactReminder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Subscription25__Billing_Attendant_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactInvoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Contact_Shipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactShipping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.Contact_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactMain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_AccountContactRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_accountContactRelationRecord</name>
        <label>1. accountContactRelationRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountContactRelationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_AccountContactRelationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>acc_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ContactDigital_Remove</name>
        <label>1. Remove Digital (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesDigitalRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_ContactReminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ContactInvoice_Remove</name>
        <label>1. Remove Invoice (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesInvoiceRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_ContactDigital</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ContactMain_Remove</name>
        <label>1. Remove Main (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesMainRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_PaymentContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ContactReminder_Remove</name>
        <label>1. Remove Reminder (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesReminderRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Contact_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ContactShipping_Remove</name>
        <label>1. Remove Shipping (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesShippingRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_vUpdate_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rAccountContactRelation</name>
        <label>1. rAccountContactRelation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Account_Contact_Relations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1_reset_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcAccountContactRelations</name>
        <label>1. rcAccountContactRelations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcAccountContactRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rAccountContactRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_Account_Contact_Relations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Remove_PaymentContact</name>
        <label>1. Remove Payment (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRolesPaymentRemove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_ContactInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_rAccountContactRelation</name>
        <label>2. rAccountContactRelation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAccountContactRelation.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRoles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccountContactRelation.RolesUpdateStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_rcAccountContactRelations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_reset_Variables</name>
        <label>1. (re)Set Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vUpdateAccountContactRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAccountContactRelation.Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_ContactMain</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cRolesDigital</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRolesInvoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRolesMain</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Main</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRolesPayment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRolesReminder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reminder</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRolesShipping</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Contact_Shipping</name>
        <label>1. Shipping (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_vUpdate_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contact_Shipping_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.isShippingContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.isShippingContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ContactShipping_Remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_ContactDigital</name>
        <label>Digital (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_ContactReminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_ContactDigital_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.isDigitalContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.isDigitalContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ContactDigital_Remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_ContactInvoice</name>
        <label>1. Invoice (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_ContactDigital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_ContactInvoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.isInvoiceContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.isInvoiceContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ContactInvoice_Remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_ContactMain</name>
        <label>1. Main (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_PaymentContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_ContactMain_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.isMainContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.isMainContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ContactMain_Remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_ContactReminder</name>
        <label>1. Reminder (Billing - Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Contact_Shipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_ContactReminder_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.isReminderContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.isReminderContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ContactReminder_Remove</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_PaymentContact</name>
        <label>1. Payment (Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_ContactInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_PaymentContact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountContactRelationRecord.IsPaymentContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccountContactRelation.IsPaymentContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Remove_PaymentContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_recordId</name>
        <label>1. recordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_recordId_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_AccountContactRelationRecord</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Update_Account</name>
        <label>1.  Update (Account)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Update_Account_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rAccount.Subscription25__Billing_Attendant_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accountContactRelationRecord.Account.Subscription25__Billing_Attendant_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccount.Subscription25__UBL_Billing_Attendant_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accountContactRelationRecord.Account.Subscription25__UBL_Billing_Attendant_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rAccount.Subscription25__Reminder_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>accountContactRelationRecord.Account.Subscription25__Reminder_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Update_rcAccountContactRelation</name>
        <label>1.  Update (rcAccountContactRelation)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Update_rcAccountContactRelation_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcAccountContactRelations</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_AccountContactRelation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_vUpdate_List</name>
        <label>1. vUpdate (List)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>lp_01_Account_Contact_Relations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_vUpdate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUpdateAccountContactRelation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_rAccountContactRelation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fContactDigital</name>
        <dataType>String</dataType>
        <expression>IF({!accountContactRelationRecord.isDigitalContact__c},{!accountContactRelationRecord.ContactId},{!accountContactRelationRecord.Account.Subscription25__UBL_Billing_Attendant_To__c})</expression>
    </formulas>
    <formulas>
        <name>fContactInvoice</name>
        <dataType>String</dataType>
        <expression>IF({!accountContactRelationRecord.isInvoiceContact__c},{!accountContactRelationRecord.ContactId},{!accountContactRelationRecord.Account.Subscription25__Billing_Attendant_To__c})</expression>
    </formulas>
    <formulas>
        <name>fContactMain</name>
        <dataType>String</dataType>
        <expression>IF({!accountContactRelationRecord.isMainContact__c},{!accountContactRelationRecord.ContactId},{!accountContactRelationRecord.Account.Contact_person__c})</expression>
    </formulas>
    <formulas>
        <name>fContactReminder</name>
        <dataType>String</dataType>
        <expression>IF({!accountContactRelationRecord.isReminderContact__c},{!accountContactRelationRecord.ContactId},{!accountContactRelationRecord.Account.Subscription25__Reminder_Contact__c})</expression>
    </formulas>
    <formulas>
        <name>fContactShipping</name>
        <dataType>String</dataType>
        <expression>IF({!accountContactRelationRecord.isShippingContact__c},{!accountContactRelationRecord.ContactId},{!accountContactRelationRecord.Account.Contact_Shipping__c})</expression>
    </formulas>
    <formulas>
        <name>fRolesDigitalRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesDigital} + &apos;;&apos;), &apos;&apos;),{!cRolesDigital},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRolesInvoiceRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesInvoice} + &apos;;&apos;), &apos;&apos;),{!cRolesInvoice},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRolesMainRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesMain} + &apos;;&apos;), &apos;&apos;),{!cRolesMain},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRolesPaymentRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesPayment} + &apos;;&apos;), &apos;&apos;),{!cRolesPayment},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRolesReminderRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesReminder} + &apos;;&apos;), &apos;&apos;),{!cRolesReminder},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRolesShippingRemove</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vRoles}, ({!cRolesShipping} + &apos;;&apos;), &apos;&apos;),{!cRolesShipping},&apos;&apos;),&apos;;;&apos;,&apos;;&apos;)</expression>
    </formulas>
    <interviewLabel>afl - Account Contact Relation - Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Account Contact Relation - Roles</label>
    <loops>
        <name>lp_01_Account_Contact_Relations</name>
        <label>1. Account Contact Relations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dgr_01_AccountContactRelation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_rAccountContactRelation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_01_Update_rcAccountContactRelation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_AccountContactRelation</name>
        <label>1. Account Contact Relation (Checking)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lp_01_Account_Contact_Relations</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 AND 10) OR (11 AND 12) OR (13 AND 14))</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isMainContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.isMainContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isMainContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isInvoiceContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.isInvoiceContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isInvoiceContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isShippingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.isShippingContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isShippingContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isReminderContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.isReminderContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isReminderContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isDigitalContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.isDigitalContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isDigitalContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPaymentContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountContactRelationRecord.IsPaymentContact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPaymentContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_AccountContactRelationRecord</name>
        <label>1. Account Contact Relation (Record)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_accountContactRelationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_AccountContactRelation</name>
        <label>1. Account Contact Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rcAccountContactRelations</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_recordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountContactRelationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>rAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rAccountContactRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>rcAccountContactRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>recorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUpdateAccountContactRelation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
