force-app/main/default/flows/afl_Notification_Step_Execution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Asset</name>
        <label>1. Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAsset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_StepAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_StepAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Create</name>
        <label>1. Case (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Account__r.Contact_person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.IsClosedOnCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ServiceEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Account__r.Reseller_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rNotification.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Notification_add_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Customer</name>
        <label>1. Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Customer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_StepAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Notification_add_Case</name>
        <label>1. Notification  (add Case)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Final_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Notification_Step_Next</name>
        <label>1. Notification Step (Next)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.NotificationStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Notification_Step_Next.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Oeps_Message_Case_Create</name>
        <label>3. Oeps Message (Case Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.ProcessMessages__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fOepsMessageCaseCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Oeps_Message_Target</name>
        <label>1. Oeps  Message (Target)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.ProcessMessages__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fOepsMessageTargetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Status</name>
        <label>1. Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Notification_Step_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Oeps_Message_Target_Create</name>
        <label>2. Oeps Message (Target Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.ProcessMessages__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fOepsMessageTargetAction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Oeps_Message_Next_Step</name>
        <label>4. Oeps Message (Next Step)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.ProcessMessages__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fOepsMessageNextStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cCaseQueueNameBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqCasePlatform</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Asset</name>
        <label>1. Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Oeps_Message_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Asset_Record</name>
        <label>1. Record (Asset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StepAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Record_Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Asset</targetReference>
            </connector>
            <label>Get</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_01_Oeps_Message_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Case_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Case_Record</name>
        <label>1. Record (Case)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StepAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Case_Record_Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Case</targetReference>
            </connector>
            <label>Get</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_CreateTarget</name>
        <label>1. Target (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Oeps_Message_Target_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_CreateTarget_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Target__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Create</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Customer</name>
        <label>1. Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_01_Oeps_Message_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Customer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Customer_Record</name>
        <label>1. Record (Customer)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StepAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Customer_Record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Final_Step</name>
        <label>1. Final Step</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Final_Step_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.isFinal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Notification_Step_Next</name>
        <label>1. Notification Step (Next)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_04_Oeps_Message_Next_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Notification_Step_Next_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Notification_Step_Next</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Notification_Step_Next</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_rNotification</name>
        <label>1. rNotification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_rNotification_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rNotification.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Target</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Status</name>
        <label>1. Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Notification_Step_Next</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Status</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_StepAction</name>
        <label>1. Action (Step)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Final_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_StepAction_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_CreateTarget</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>dec_01_StepAction_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Final_Step</targetReference>
            </connector>
            <label>Update</label>
        </rules>
        <rules>
            <name>Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Final_Step</targetReference>
            </connector>
            <label>Mail</label>
        </rules>
        <rules>
            <name>dec_01_StepAction_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Message</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Final_Step</targetReference>
            </connector>
            <label>Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Target</name>
        <label>1. Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StepAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Target_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Target__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Asset_Record</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
        <rules>
            <name>dec_01_Target_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Target__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Case_Record</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rNotification.NotificationStep__r.Target__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Customer_Record</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fAssetId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rNotification.Asset__c},&apos;DUMMY&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCaseId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rNotification.Case__c},&apos;DUMMY&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCaseQueueName</name>
        <dataType>String</dataType>
        <expression>{!cCaseQueueNameBase} + {!fServiceEntity}</expression>
    </formulas>
    <formulas>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Notification&apos; + IF(ISBLANK(TEXT({!rNotification.Type__c})),&apos;&apos;,(&apos; - &apos; + TEXT({!rNotification.Type__c}))) + &apos; - &apos; + BLANKVALUE(TEXT({!rNotification.Action__c}),&apos;Start&apos;) + &apos; - &apos; + BLANKVALUE({!rNotification.Asset__r.Name},&apos;&lt;No Hardware&gt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCustomerId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rNotification.Account__c},&apos;DUMMY&apos;)</expression>
    </formulas>
    <formulas>
        <name>fOepsMessageCaseCreate</name>
        <dataType>String</dataType>
        <expression>&apos;Oeps, case create went wrong, please try again!&apos; + BR()</expression>
    </formulas>
    <formulas>
        <name>fOepsMessageNextStep</name>
        <dataType>String</dataType>
        <expression>&apos;Oeps, expected a NEXT step, please check the definition and make sure a final step is defined for the &apos; + TEXT({!rNotification.Type__c}) + &apos; process!&apos; + BR()</expression>
    </formulas>
    <formulas>
        <name>fOepsMessageTargetAction</name>
        <dataType>String</dataType>
        <expression>&apos;Oeps, no &apos; + TEXT({!rNotification.NotificationStep__r.Action__c})+ &apos; action DEFINED (by design) for target  &apos; + TEXT({!rNotification.NotificationStep__r.Target__c})+ &apos;! Please check the STEP-definitions. Process aborted!&apos; + BR()</expression>
    </formulas>
    <formulas>
        <name>fOepsMessageTargetRecord</name>
        <dataType>String</dataType>
        <expression>&apos;Oeps, expected to find a target record, NO &apos; + TEXT({!rNotification.NotificationStep__r.Target__c})+ &apos; RECORD FOUND! Please check the STEP-definitions. Process aborted!&apos; + BR()</expression>
    </formulas>
    <formulas>
        <name>fServiceEntity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!rNotification.Account__r.Reseller_Name__c}),&apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>afl - Notification - Step Execution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Notification - Step Execution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ass_01_Oeps_Message_Case_Create</targetReference>
        </faultConnector>
        <inputReference>rCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Asset</name>
        <label>1. Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Case_Queue</name>
        <label>1. Queue (case)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcr_01_Case</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3 OR 4))</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASR_AS</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqCaseSupportASR1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCaseQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>rCase.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Case_Record_Type</name>
        <label>1. Record Type (Case)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Case_Queue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASR</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>rCase.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Customer</name>
        <label>1. Customer (Account)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCustomerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Notification_Step_Next</name>
        <label>1. Notification Step (Next)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Notification_Step_Next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rNotification.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>rNotification.NotificationStep__r.Step__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>rNotification.NotificationStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NotificationStep__c</object>
        <sortField>Step__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rNotification</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_rNotification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
