force-app/main/default/flows/afl_Lead_Sales_Region_and_Address_State_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Owner</name>
        <label>1. Owner</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOwnerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Update_Sales_Region</name>
        <label>1. Update Sales Region</label>
        <locationX>270</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>rLead.Update_Sales_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Set a queue or not</description>
        <name>dec_01_Queue</name>
        <label>1. Queue</label>
        <locationX>270</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>dur_01_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Queue_Yes</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>rLead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.Sales_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.Sales_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Queue</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Runtime_Type</name>
        <label>1. Runtime Type</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Runtime_Type_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Lead</targetReference>
            </connector>
            <label>ID</label>
        </rules>
        <rules>
            <name>dec_01_Runtime_Type_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asf_General_Get_Province_Code_and_Sales_Region</targetReference>
            </connector>
            <label>Record</label>
        </rules>
    </decisions>
    <description>Updates the lead address state code and the sales region (NL- Version)</description>
    <formulas>
        <name>fOwnerID</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vQueueId},{!rLead.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>fQueueName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!rLead.Sales_Region__c}),BLANKVALUE(TEXT({!rLead.CountryCode}),&apos;Lead&apos;))</expression>
    </formulas>
    <interviewLabel>afl - Lead - Sales Region and Shipping State Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Lead - Sales Region and Address State Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Lead</name>
        <label>1. Lead</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asf_General_Get_Province_Code_and_Sales_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>rLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>StateCode</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Update_Sales_Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>138</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Lead</name>
        <label>1. Lead</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <inputReference>rLead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Runtime_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>asf_General_Get_Province_Code_and_Sales_Region</name>
        <label>asf - General - Get Province Code and Sales Region</label>
        <locationX>270</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>ass_01_Update_Sales_Region</targetReference>
        </connector>
        <flowName>asf_General_Get_Province_Code_and_Sales_Region</flowName>
        <inputAssignments>
            <name>vCountryCode</name>
            <value>
                <elementReference>rLead.CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vZipPostalCode</name>
            <value>
                <elementReference>rLead.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rLead.Sales_Region__c</assignToReference>
            <name>vSalesRegion</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rLead.StateCode</assignToReference>
            <name>vStateCode</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
