force-app/main/default/flows/afl_Campaign_UTM_Structure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Campaign_Main</name>
        <label>1. Campaign  - Main</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Campaign_Main</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Campaign_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Campaign_SalesChannel</name>
        <label>1. Campaign - SalesChannel</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Campaign_SalesChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Campaign_Main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Campaign_Source_Medium</name>
        <label>1. Campaign  - Source / Medium</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>rCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Campaign_Source_Medium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_vCampaignID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Campaign_Year</name>
        <label>1. Campaign - Year</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>rCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Campaign_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Campaign_Source_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vCampaignID</name>
        <label>1. vCampaignID</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>vCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Campaign_Main</name>
        <label>2. Campaign  - Main</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rCampaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUTM_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Campaign_Main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Campaign_SalesChannel</name>
        <label>2. Campaign - SalesChannel</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUTM_Reseller_SalesChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Campaign_SalesChannel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Campaign_Source_Medium</name>
        <label>2. Campaign  - Source / Medium</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>rCampaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUTM_Source_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vUTM_Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Campaign_Source_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Campaign_Year</name>
        <label>2. Campaign  - Year</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>rCampaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUTM_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCampaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Campaign_Year</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Campaign_Main</name>
        <label>1. Campaign  - Main</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>ass_02_Campaign_Main</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>dec_01_Campaign_Main_Exists</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Campaign_Main</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Campaign_Main</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Campaign_SalesChannel</name>
        <label>1. Campaign - SalesChannel</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ass_02_Campaign_SalesChannel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>dec_01_Campaign_SalesChannel_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Campaign_SalesChannel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Campaign_SalesChannel</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Campaign_Source_Medium</name>
        <label>1. Campaign  - Source / Medium</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>ass_02_Campaign_Source_Medium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>dec_01_Campaign_Source_Medium_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Campaign_Source_Medium</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Campaign_Source_Medium</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Campaign_Year</name>
        <label>1. Campaign  - Year</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>ass_02_Campaign_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>dec_01_Campaign_Year_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Campaign_Year</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Campaign_Year</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_UTM_Params_Check</name>
        <label>1. UTM - Params Check</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_UTM_Params_Check_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUTM_SalesChannel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_SalesChannel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Campaign</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Source</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Source</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Medium</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vUTM_Medium</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vReseller</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vReseller</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Campaign_SalesChannel</targetReference>
            </connector>
            <label>Go</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>fUTM_Reseller_SalesChannel</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vReseller}, &apos;0&apos;) + &apos; - &apos; + BLANKVALUE({!vUTM_SalesChannel}, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>fUTM_Source_Medium</name>
        <dataType>String</dataType>
        <expression>TRIM(BLANKVALUE({!vUTM_Source},&apos;Source&apos;)) + &apos; - &apos;  + TRIM(BLANKVALUE({!vUTM_Medium},&apos;Search&apos;) )</expression>
    </formulas>
    <formulas>
        <name>fUTM_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>afl - Campaign - UTM - Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Campaign - UTM - Structure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Campaign_Main</name>
        <label>1. Campaign  - Main</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>dgr_01_Campaign_Year</targetReference>
        </connector>
        <inputReference>rCampaign</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Campaign_SalesChannel</name>
        <label>1. Campaign - SalesChannel</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>dgr_01_Campaign_Main</targetReference>
        </connector>
        <inputReference>rCampaign</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Campaign_Source_Medium</name>
        <label>1. Campaign  - Source / Medium</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>ass_01_vCampaignID</targetReference>
        </connector>
        <inputReference>rCampaign</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Campaign_Year</name>
        <label>1. Campaign - Year</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>dgr_01_Campaign_Source_Medium</targetReference>
        </connector>
        <inputReference>rCampaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Campaign_Main</name>
        <label>1. Campaign  - Main</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Campaign_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUTM_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Campaign_SalesChannel</name>
        <label>1. Campaign  - SalesChannel</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Campaign_SalesChannel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUTM_Reseller_SalesChannel</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Campaign_Source_Medium</name>
        <label>1. Campaign  - Source / Medium</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Campaign_Source_Medium</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUTM_Source_Medium</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Campaign_Year</name>
        <label>1. Campaign  - Year</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Campaign_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUTM_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rCampaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_UTM_Params_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>vCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vReseller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_Content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_Medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_SalesChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUTM_Term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
