force-app/main/default/flows/afl_Opportuntity_Create_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_generateRandomString</name>
        <label>1.  generateRandomString</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Inv_generateRandomString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_01_Add_OrderId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>length</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>Inv_generateRandomString</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rOrderProduct.Partner_Code__c</assignToReference>
            <name>code</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_Sync_Order</name>
        <label>1. Sync Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Inv_syncOrderToFinancialSystem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inv_syncOrderToFinancialSystem</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vResultOrder</assignToReference>
            <name>resultMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Add_OrderId</name>
        <label>1. Add OrderId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_OrderProductCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_02_OrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Order_Product</name>
        <label>1. Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Subscription25__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_rcOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_OrderProduct</name>
        <label>1. OrderProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_02_OrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Package_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_OrderProductCreate</name>
        <label>1. OrderProductCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderProductsInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_02_OrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcOrderProducts</name>
        <label>1. rcOrderProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcOrderProductsPackage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vCountOrderProducts</name>
        <label>1. vCountOrderProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCountOrderProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>rcOrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_vCountOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_rcOrderProducts</name>
        <label>2. rcOrderProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_BatchSync</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_commit</name>
        <label>5. commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>cBatchSync</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_BatchSync</name>
        <label>1. Batch Sync</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>pa_02_Wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Original)</defaultConnectorLabel>
        <rules>
            <name>dec_01_BatchSync_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cBatchSync</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Package</name>
        <label>1. Package</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Package_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lp_01_Opportunity_Product.Product2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asf_Opportunity_Package_to_Order_products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Package_Service</name>
        <label>1. Package Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Add_OrderId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rOrderProduct.PricebookEntry.Product2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubscriptionP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOrderProduct.PricebookEntry.Product2.Generate_Partner_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_generateRandomString</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Sync_to_Exact</name>
        <label>1. Sync to Exact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_04_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>dec_01_Sync_to_Exact_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rDebtorNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rDebtorNumber.Subscription25__Debtor_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rDebtorNumber.Subscription25__Debtor_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rDebtorNumber.Exact_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rDebtorNumber.Exact_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_02_OpportunityProduct</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_vCountOrderProducts</name>
        <label>1. vCountOrderProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_03_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_vCountOrderProducts_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountOrderProducts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcr_Order</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <description>2026 - 05 - 18 - Removed Automatic Order Sync
2026 - 03 - 06 - Removed Account to Financial system and version upgrade
2023 -12 - 12 - Update Version (59) and Opportunity Owner to Order Owner</description>
    <environments>Default</environments>
    <formulas>
        <name>fDateTimeOffset</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (2 / (24 * 3600))</expression>
    </formulas>
    <formulas>
        <name>fPaymentMethod</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!dgr_01_Opportunity.Payment_Method__c}), BLANKVALUE(TEXT({!dgr_01_Opportunity.Account.Payment_Method_Opportunities__c}),&apos;08&apos;))</expression>
    </formulas>
    <formulas>
        <description>Overall Result</description>
        <name>fResultMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) + &apos; &apos; + BR() + 
{!vResultAccount} +  BR() +
{!vResultOrder}</expression>
    </formulas>
    <interviewLabel>afl - Opportuntity Create Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afl - Opportunity - Create Order</label>
    <loops>
        <name>lp_01_Opportunity_Product</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dgr_02_OpportunityProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_01_Package</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_01_vCountOrderProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_02_OrderProducts</name>
        <label>1. rcOrderProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_OrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_02_OrderItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_02_OrderItem</name>
        <label>1. Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>dur_02_Opportunity</targetReference>
        </faultConnector>
        <inputReference>rcOrderProductsInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_Order</name>
        <label>1. Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>vOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>dgr_01_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>dgr_01_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>dgr_01_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>dgr_01_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Is_Paid__c</field>
            <value>
                <elementReference>dgr_01_Opportunity.Payment_Is_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>fPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>dgr_01_Opportunity.Payment_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>dgr_01_Opportunity.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>dgr_01_Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Channel__c</field>
            <value>
                <elementReference>dgr_01_Opportunity.Sales_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>dgr_01_Opportunity.ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>dgr_01_Opportunity.ShippingCountryCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>dgr_01_Opportunity.ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>dgr_01_Opportunity.ShippingStateCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>dgr_01_Opportunity.ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription25__Administration__c</field>
            <value>
                <elementReference>dgr_01_Opportunity.Administration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordDeletes>
        <name>ddr_01_Order</name>
        <label>1. Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_05_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
    </recordDeletes>
    <recordLookups>
        <name>dgr_01_Debtor_Number</name>
        <label>1. Debtor Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Sync_to_Exact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription25__Administration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.Administration__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription25__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Subscription25__Debtor_Number__c</object>
        <outputReference>rDebtorNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription25__Account__c</queriedFields>
        <queriedFields>Subscription25__Administration__c</queriedFields>
        <queriedFields>Subscription25__Debtor_Number__c</queriedFields>
        <queriedFields>Exact_ID__c</queriedFields>
        <queriedFields>Exact_Contact_ID__c</queriedFields>
        <queriedFields>Exact_Billing_Address_ID__c</queriedFields>
        <queriedFields>Exact_Bank_Account_ID__c</queriedFields>
        <queriedFields>Exact_Mandate_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Opportunity</name>
        <label>1. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Debtor_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_02_OpportunityProduct</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lp_01_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_RecordType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Opportunity</name>
        <label>1. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_05_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Creation_Fault_Message__c</field>
            <value>
                <elementReference>fResultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_OrderItem</name>
        <label>1. Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>setProductName__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_Opportunity</name>
        <label>2. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ddr_01_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Creation_Fault_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Administration</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_03_Opportunity</name>
        <label>3. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_05_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Creation_Fault_Message__c</field>
            <value>
                <stringValue>Opportunity/order has not valid order lines attached, order creation aborted!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Administration</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_04_Opportunity</name>
        <label>4. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_05_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Creation_Fault_Message__c</field>
            <value>
                <stringValue>Linked account not Financial ready, sync aborted!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Administration</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>asf_Opportunity_Package_to_Order_products</name>
        <label>asf - Opportunity - Package to Order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_rcOrderProducts</targetReference>
        </connector>
        <flowName>asf_Opportunity_Package_to_Order_products</flowName>
        <inputAssignments>
            <name>rOpportunityProduct</name>
            <value>
                <elementReference>lp_01_Opportunity_Product</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rcOrderProductsPackage</assignToReference>
            <name>rcOrderProducts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>rcOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderProductsInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderProductsPackage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rDebtorNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Debtor_Number__c</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCountOrderProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResultAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResultOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>pa_02_Wait</name>
        <label>2. Wait</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>act_01_Sync_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>pa_02_Wait_OrderItem_Update</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>act_01_Sync_Order</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>fDateTimeOffset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Order Product Update</label>
        </waitEvents>
    </waits>
</Flow>
