force-app/main/default/flows/asf_Product_Discount_Approval_Background_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Approval_Finance</name>
        <label>2. Approval Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!fLineReturn}{!fBreakLine}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!approvalComments} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusFinance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ApprovalSales</name>
        <label>1. Approval Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusSales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_03_Approval_Approved</name>
        <label>3. Approval Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!fLineReturn}{!fBreakLine}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!approvalComments} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusActivated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.doApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Approval_Rejected</name>
        <label>4. Approval Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!fLineReturn}{!fBreakLine}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!approvalComments} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusRejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.doApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_Approval_Recall</name>
        <label>5. Approval Recall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!fLineReturn}{!fBreakLine}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!fLineReturn}{!approvalComments} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusPreparation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.doApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>dec_01_Reset</name>
        <label>1. Reset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cStatusPreparation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.doApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalSubmitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalSales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalFinance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cBreakLine</name>
        <dataType>String</dataType>
        <value>
            <stringValue>------------------------------</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStageApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStageFinance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStageRecall</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recall</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStageRejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStageSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStatusActivated</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Activated</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStatusFinance</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStatusPreparation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Preparation</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStatusRejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <constants>
        <name>cStatusSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Stage</name>
        <label>1. Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Reset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Stage_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cStageSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ApprovalSales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>dec_01_Stage_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cStageFinance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Approval_Finance</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>dec_01_Stage_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cStageApproved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_03_Approval_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>dec_01_Stage_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cStageRejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_04_Approval_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>dec_01_Stage_Recall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cStageRecall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_05_Approval_Recall</targetReference>
            </connector>
            <label>Recall</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Validate_Input</name>
        <label>1. Validate Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>dec_01_Validate_Input_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rProductDiscount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Stage</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <description>Sub-flow to update Status as result of approval process</description>
    <environments>Default</environments>
    <formulas>
        <name>fBreakLine</name>
        <dataType>String</dataType>
        <expression>{!cBreakLine} + &apos; &apos; + TEXT({!rProductDiscount.Status__c}) + &apos; &apos; + {!cBreakLine}</expression>
    </formulas>
    <formulas>
        <name>fLineReturn</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>asf - Product Discount - Approval - Background Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>asf - Product Discount - Approval - Background Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>dur_01_Product_Discount</name>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rProductDiscount</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Validate_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rProductDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitter</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
