force-app/main/default/flows/asf_General_Get_Pricebook_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Pricebook_Entry</name>
        <label>1. Pricebook Entry</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_ProductDiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns dgr_01_Product_Discount__c record to record variable</description>
        <name>ass_01_Product_Discount</name>
        <label>1. Product Discount</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_ProductDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Pricebook_Entry</name>
        <label>2. Pricebook Entry</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Price_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromQuantity1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromQuantity2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromQuantity3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromQuantity4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Pricebook_Entry</name>
        <label>3. Pricebook Entry</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_04_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Pricebook_Entry</name>
        <label>4. Pricebook Entry</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.AccountPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUnitPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Product_Discount</name>
        <label>1. Product Discount</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ass_03_Pricebook_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Product_Discount_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rProductDiscount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Pricebook_Entry</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Run</name>
        <label>1. Run</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Run_Yes</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>vPricebookEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQuantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_PricebookEntry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fDiscount</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE(IF({!rPricebookEntry.Product2.Exclude_from_Discount__c},0,ROUND({!vDiscount},2)),0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice1</name>
        <dataType>Currency</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_1__c}),ISBLANK({!rProductDiscount.From_Quantity_1__c})), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_1__c} / IF(OR(({!rProductDiscount.From_Discount_1__c}&gt;1),({!rProductDiscount.From_Discount_1__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice2</name>
        <dataType>Currency</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_2__c}),ISBLANK({!rProductDiscount.From_Quantity_2__c})), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_2__c} / IF(OR(({!rProductDiscount.From_Discount_2__c}&gt;1),({!rProductDiscount.From_Discount_2__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice3</name>
        <dataType>Currency</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_3__c}),ISBLANK({!rProductDiscount.From_Quantity_3__c})), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_3__c} / IF(OR(({!rProductDiscount.From_Discount_3__c}&gt;1),({!rProductDiscount.From_Discount_3__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice4</name>
        <dataType>Currency</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_4__c}),ISBLANK({!rProductDiscount.From_Quantity_4__c})), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_4__c} / IF(OR(({!rProductDiscount.From_Discount_4__c}&gt;1),({!rProductDiscount.From_Discount_4__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromQuantity1</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_1__c}),ISBLANK({!rProductDiscount.From_Quantity_1__c})), null, {!rProductDiscount.From_Quantity_1__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFromQuantity2</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_2__c}),ISBLANK({!rProductDiscount.From_Quantity_2__c})), null, {!rProductDiscount.From_Quantity_2__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFromQuantity3</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_3__c}),ISBLANK({!rProductDiscount.From_Quantity_3__c})), null, {!rProductDiscount.From_Quantity_3__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFromQuantity4</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!rProductDiscount.From_Discount_4__c}),ISBLANK({!rProductDiscount.From_Quantity_4__c})), null, {!rProductDiscount.From_Quantity_4__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_4__c},9999999), ROUND({!rPricebookEntry.From_Price_4__c},2),
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_3__c},9999999), ROUND({!rPricebookEntry.From_Price_3__c},2),
IF({!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_2__c},9999999), ROUND({!rPricebookEntry.From_Price_2__c},2),
IF({!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_1__c},9999999), ROUND({!rPricebookEntry.From_Price_1__c},2),ROUND({!rPricebookEntry.UnitPrice},2))
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fUnitPrice</name>
        <dataType>Currency</dataType>
        <expression>ROUND(({!fSalesPrice} - {!fDiscount}),2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>asf - General - Get Pricebook Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>asf - General - Get Pricebook Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_PricebookEntry</name>
        <label>1. PricebookEntry</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 3)) AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPricebookEntryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive_r__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_ProductDiscount</name>
        <label>1. Product Discount</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Product_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rProductDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDiscount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
