force-app/main/default/flows/asf_Opportunity_Package_to_Order_products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Division_Variables</name>
        <label>1. Division Variables</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>vPackageUnitPriceDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPackageUnitPriceDivision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_PricebookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Order_Product</name>
        <label>1. Order Product</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>rOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOrderProductUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOrderProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Product_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPriceBookEntry.Product_Relation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Subscription25__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPriceBookEntry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPriceBookEntry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPriceBookEntry.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Devision_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_OrderProducts</name>
        <label>1. OrderProducts</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>rcOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_PricebookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Pricebook_Entry</name>
        <label>1. Pricebook Entry</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rPriceBookEntry.Is_Fixed_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductRelation.Is_Fixed_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPriceBookEntry.Product_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductRelation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_PriceBookEntries</name>
        <label>1. PriceBookEntries</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>rcPricebookEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rPriceBookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_Product_Relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_PricebookEntry</name>
        <label>1. PricebookEntry</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>rPriceBookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_PricebookEntries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Loop Item to var, otherwise values not reachable in flow</description>
        <name>ass_01_Product_Relation</name>
        <label>1. Product Relation</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rProductRelation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Product_Relation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asf_General_Get_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Totals</name>
        <label>1. Totals</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vPackageTotalFixed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fPricebookEntryTotalFixed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPackageTotalDivision</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fPricebookEntryTotalDivision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vCountProductRelations</name>
        <label>1. vCountProductRelations</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vCountProductRelations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>dgr_01_Product_Relation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_vCountProductRelations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Modifies the division variables for the next product in this package</description>
        <name>ass_02_Devision_Variables</name>
        <label>2. Devision Variables</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>vPackageTotalDivision</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>fPricebookEntryTotalDivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPackageUnitPriceDivision</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>fOrderProductPackagePrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_OrderProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_vCountProductRelations</name>
        <label>1. vCountProductRelations</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountProductRelations</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lp_01_Product_Relation</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>Creates from a Opportunity product, where the product has the package record type, the order lines with correct (account) prices</description>
    <environments>Default</environments>
    <formulas>
        <name>fDivisionFactor</name>
        <dataType>Number</dataType>
        <expression>IF(({!vPackageTotalDivision} &gt; 0)
,({!vPackageUnitPriceDivision}  /  {!vPackageTotalDivision})
,1)</expression>
        <scale>12</scale>
    </formulas>
    <formulas>
        <description>The new calculate price for a single product (inside this package) times the quantity of that product inside this package</description>
        <name>fOrderProductPackagePrice</name>
        <dataType>Currency</dataType>
        <expression>IF(({!rPriceBookEntry.Is_Fixed_Price__c}),0,({!rOrderProduct.UnitPrice} * {!rPriceBookEntry.Quantity__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fOrderProductQuantity</name>
        <dataType>Number</dataType>
        <expression>{!rPriceBookEntry.Quantity__c} * {!rOpportunityProduct.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fOrderProductUnitPrice</name>
        <dataType>Number</dataType>
        <expression>Round(({!rPriceBookEntry.UnitPrice} * IF({!rPriceBookEntry.Is_Fixed_Price__c},1,{!fDivisionFactor})),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Checks if UnitPrice off the Package minus the total fixed part inside package greater than 0</description>
        <name>fPackageUnitPriceDivision</name>
        <dataType>Currency</dataType>
        <expression>IF((({!rOpportunityProduct.UnitPrice} - {!vPackageTotalFixed}) &gt; 0), ({!rOpportunityProduct.UnitPrice} - {!vPackageTotalFixed}),0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fPricebookEntryTotalDivision</name>
        <dataType>Currency</dataType>
        <expression>IF(NOT({!rPriceBookEntry.Is_Fixed_Price__c}),BlankValue({!rPriceBookEntry.UnitPrice},0), 0) * {!rPriceBookEntry.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fPricebookEntryTotalFixed</name>
        <dataType>Currency</dataType>
        <expression>IF({!rPriceBookEntry.Is_Fixed_Price__c},BLANKVALUE({!rPriceBookEntry.UnitPrice},0), 0)  * {!rPriceBookEntry.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fQuantityInPackage</name>
        <dataType>Number</dataType>
        <expression>IF(({!rProductRelation.Quantity_in_Set__c}&gt;=1),{!rProductRelation.Quantity_in_Set__c},1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>asf - Opportunity - Package to Order products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>asf - Opportunity - Package to Order products</label>
    <loops>
        <name>lp_01_PricebookEntries</name>
        <label>1. PricebookEntries</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>rcPricebookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_PricebookEntry</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>lp_01_Product_Relation</name>
        <label>1. Product Relation</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>dgr_01_Product_Relation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_Product_Relation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_01_Division_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Product_Relation</name>
        <label>1. Product Relation</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_vCountProductRelations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rOpportunityProduct.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active_Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Relation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Product_Relation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>asf_General_Get_Pricebook_Entry</name>
        <label>asf - General - Get Pricebook Entry</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>ass_01_Pricebook_Entry</targetReference>
        </connector>
        <flowName>asf_General_Get_Pricebook_Entry</flowName>
        <inputAssignments>
            <name>vAccountId</name>
            <value>
                <elementReference>rOpportunityProduct.Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPricebookId</name>
            <value>
                <elementReference>rOpportunityProduct.Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vProductId</name>
            <value>
                <elementReference>lp_01_Product_Relation.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vQuantity</name>
            <value>
                <elementReference>fQuantityInPackage</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rPriceBookEntry</assignToReference>
            <name>rPricebookEntry</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>rcOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcPricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>rOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rProductRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Relation__c</objectType>
    </variables>
    <variables>
        <name>vCountProductRelations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vDivisionFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>12</scale>
    </variables>
    <variables>
        <name>vPackageTotalDivision</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vPackageTotalFixed</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Initial it is the UnitPrice of the Package minus the fixed price part inside the package</description>
        <name>vPackageUnitPriceDivision</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
