force-app/main/default/flows/ofl_Voice_Calls_Routed_to_Basic_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Case_to_Screen_Pops</name>
        <label>Add Case to Screen Pops</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d85c6b3b&quot;,&quot;targetObjectId&quot;:&quot;{!caseRecord.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>ScreenPops</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ScreenPops</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Messaging_User_to_Screen_Pops</name>
        <label>Add Messaging User to Screen Pops</label>
        <locationX>1535</locationX>
        <locationY>242</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b9878dde&quot;,&quot;targetObjectId&quot;:&quot;{!Get_Voice_Call.EndUser.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>ScreenPops</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ScreenPops</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Route all the Voice Calls to appropriate queue</description>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>ScreenPops</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9AY0000000All0AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Existing_Contact</name>
        <label>Send Existing Contact</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;888dcf89&quot;,&quot;targetObjectId&quot;:&quot;{!contactRecord.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>ScreenPops</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ScreenPops</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Skill_Name_Fleet</name>
        <label>Assign Skill Name Fleet</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqSupportFleet1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Name_Security</name>
        <label>Assign Skill Name Security</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAftersalesNL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Name_Technical_Support</name>
        <label>Assign Skill Name Technical Support</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>miscTechSupport</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Name_Technical_Support_Advanced</name>
        <label>Assign Skill Name Technical Support Advanced</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqVoiceTechSupportAdvanced1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Name_VIP_Porsche</name>
        <label>Assign Skill Name VIP Porsche</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqVoiceVIP1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Contact</name>
        <label>Set Existing Contact</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.EndUser.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.EndUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_Contact</name>
        <label>Set Found Contact</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>contactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Existing_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Found</name>
        <label>Is Contact Found?</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Found_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skill_Requirement</targetReference>
            </connector>
            <label>No Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a Contact When we do not find a contact record</description>
        <name>NoContactFound</name>
        <label>NoContactFound</label>
        <locationX>1535</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.EndUser.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Requirement</name>
        <label>Skill Requirement</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Skill_Name_Security</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoiceAfterSales1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Name_Security</targetReference>
            </connector>
            <label>Security</label>
        </rules>
        <rules>
            <name>Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoiceFleet1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Name_Fleet</targetReference>
            </connector>
            <label>Fleet</label>
        </rules>
        <rules>
            <name>Technical_Support_Advanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoiceTechSupportAdvanced1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Name_Technical_Support_Advanced</targetReference>
            </connector>
            <label>Technical Support Advanced</label>
        </rules>
        <rules>
            <name>Technical_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>miscTechSupport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Name_Technical_Support</targetReference>
            </connector>
            <label>Technical Support</label>
        </rules>
        <rules>
            <name>VIP_Porsche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoiceVIP1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Name_VIP_Porsche</targetReference>
            </connector>
            <label>VIP Porsche</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_CaseOrigin</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!Get_Voice_Call.Call_Outcome__c},
  &quot;Callback Request&quot;, &quot;Callback&quot;,
  &quot;Phone&quot;
)</expression>
    </formulas>
    <interviewLabel>ofl - Voice Calls Routed to Basic Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ofl - Voice Calls Routed to Basic Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>caseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Language__c</field>
            <value>
                <elementReference>Get_Voice_Call.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Reason__c</field>
            <value>
                <elementReference>Get_Voice_Call.Level_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Sub_Type__c</field>
            <value>
                <elementReference>Get_Voice_Call.Level_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification_Type__c</field>
            <value>
                <elementReference>Get_Voice_Call.Level_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Queue__c</field>
            <value>
                <elementReference>caseRecord.Last_Queue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Messaging_User__c</field>
            <value>
                <elementReference>Get_Voice_Call.EndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>forT_CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Get_Queue.Name} - {!Get_Voice_Call.CallType} - {!Get_Voice_Call.Level_1__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingCallPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>+31889900000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>1535</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoContactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.QueueRedirected__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call</name>
        <label>Get Voice Call</label>
        <locationX>1535</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Messaging_User_to_Screen_Pops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_End_User</name>
        <label>Update End User</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Add_Case_to_Screen_Pops</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.EndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contactRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Messaging_User__c</field>
            <value>
                <elementReference>Get_Voice_Call.EndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voice_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Incoming Phone#</description>
        <name>IncomingCallPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScreenPops</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
</Flow>
