force-app/main/default/flows/ofl_Voice_2_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_Account_to_Screen_Pop</name>
        <label>1. Account to Screen Pop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2fb34aa0&quot;,&quot;targetObjectId&quot;:&quot;{!rMessagingUser.AccountId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rcPendingServiceRoutingInteractionInfo</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_Contact_to_Screen_Pop</name>
        <label>1. Contact to Screen Pop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>dec_01_MessagingUser_AccountId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;6da62049&quot;,&quot;targetObjectId&quot;:&quot;{!rMessagingUser.ContactId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rcPendingServiceRoutingInteractionInfo</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_Messaging_User_to_Screen_Pop</name>
        <label>1. Messaging User to Screen Pop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>dec_01_MessagingUser_ContactId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1afbf120&quot;,&quot;targetObjectId&quot;:&quot;{!rMessagingUser.Id}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rcPendingServiceRoutingInteractionInfo</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_Voice_Call_to_Screen_Pop</name>
        <label>1. Voice Call to Screen Pop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>dec_01_MessagingUserId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;74a6c654&quot;,&quot;targetObjectId&quot;:&quot;{!recordId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rcPendingServiceRoutingInteractionInfo</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Case_to_Screen_Pops</name>
        <label>Add Case to Screen Pops</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>dec_02_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;d85c6b3b&quot;,&quot;targetObjectId&quot;:&quot;{!caseRecord.Id}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingServiceRoutingInteractionInfoInputList</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rcPendingServiceRoutingInteractionInfo</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Route all the Voice Calls to appropriate queue</description>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>rcPendingServiceRoutingInteractionInfo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9AO000000001s0AA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>rVoiceCall.QueueId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fConcactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Account_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Classification_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.Level_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.Level_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.Level_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Messaging_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.EndUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.FromPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseOrigin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_CaseId</name>
        <label>1. Case Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rVoiceCall.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_VoiceCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_MessagingUser</name>
        <label>1. MessagingUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rMessagingUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_MessagingUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_MessagingUser_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Dispatch</name>
        <label>1. Skill Dispatch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAmazonDispatch1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Finance</name>
        <label>1. Skill Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqFinance1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Fleet</name>
        <label>1. Skill Fleet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqSupportFleet1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Planning</name>
        <label>1. Skill Planning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqPlanningFleet1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Reception</name>
        <label>1. Skill Reception</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAdministration1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Sales</name>
        <label>1. Skill Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqSalesFleet1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Security</name>
        <label>1. Skill Security</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAftersalesNL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Skill_Technical</name>
        <label>1. Skill Technical</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NL_Technical_Support_After_Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Voice_Call</name>
        <label>1. Voice Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rVoiceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_VoiceCall</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_Voice_Call_to_Screen_Pop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_VoiceCall</name>
        <label>1. VoiceCall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rVoiceCall.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVoiceCall.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_02_VoiceCall</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_MessagingUser</name>
        <label>2. MessagingUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rMessagingUser.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fConcactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rMessagingUser.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_MessagingUser</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cDefaultQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqAftersalesNL</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_CaseId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>ass_01_VoiceCall_Case_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.Case__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Queue</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_MessagingUser_AccountId</name>
        <label>1. MessagingUser - AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_MessagingUser_AccountId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rMessagingUser.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_Account_to_Screen_Pop</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_MessagingUser_Contact</name>
        <label>1. MessagingUser - Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>act_01_Messaging_User_to_Screen_Pop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_MessagingUser_Contact_Set</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.AccountId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMessagingUser.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVoiceCall.ContactId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMessagingUser.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_MessagingUser</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_MessagingUser_ContactId</name>
        <label>1. MessagingUser - ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_MessagingUser_AccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_MessagingUser_ContactId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rMessagingUser.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_Contact_to_Screen_Pop</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_MessagingUserId</name>
        <label>1. MessagingUserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_MessagingUserId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.EndUserId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_MessagingUser</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Queue_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Queue</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Skill_Requirement</name>
        <label>1. Skill Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Skill_Security</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Security</defaultConnectorLabel>
        <rules>
            <name>dec_01_Skill_Requirement_Fleet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonSupportFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonSupportEchoes1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Fleet</targetReference>
            </connector>
            <label>Fleet</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Technical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonSupportTechnical1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Technical</targetReference>
            </connector>
            <label>Technical</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Reception</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonReception1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Reception</targetReference>
            </connector>
            <label>Reception</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Planning</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonPlanningFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonPlanningSecurity1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Planning</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Finance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonFinance1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Finance</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonSalesFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rVoiceCall.QueueChosen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonSalesSecurity1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>dec_01_Skill_Requirement_Dispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.CallOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqAmazonDispatch1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Skill_Dispatch</targetReference>
            </connector>
            <label>Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_VoiceCall</name>
        <label>1. VoiceCall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>dec_01_Voice_Call_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_VoiceCall</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Voice_Call</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Case</name>
        <label>2. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_02_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_02_Case_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_to_Screen_Pops</targetReference>
            </connector>
            <label>1. Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Queue</name>
        <label>2. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_02_Queue_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rVoiceCall.QueueId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Queue</targetReference>
            </connector>
            <label>Route</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fAccountId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rMessagingUser.AccountId},{!rVoiceCall.AccountId__c})</expression>
    </formulas>
    <formulas>
        <name>fCaseOrigin</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!rVoiceCall.CallOutcome__c},
  &quot;Callback&quot;, &quot;Callback&quot;,
  &quot;Phone&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>TEXT({!rVoiceCall.CallType}) +
&apos; - &apos; + 
IF(NOT(ISBLANK({!rVoiceCall.Level_1__c})),(
{!rVoiceCall.Level_1__c} + 
IF(NOT(ISBLANK({!rVoiceCall.Level_2__c})),(
&apos; - &apos; + {!rVoiceCall.Level_2__c} +
IF(NOT(ISBLANK({!rVoiceCall.Level_3__c})),(
&apos; - &apos; + {!rVoiceCall.Level_3__c} +
IF(NOT(ISBLANK({!rVoiceCall.Level_4__c})),(
&apos; - &apos; + {!rVoiceCall.Level_4__c})
,
&apos;&apos;
) /* end 4 */
)
,
&apos;&apos;
) /* end 3 */
)
,
&apos;&apos;
) /* end 2 */
)
,
&apos;&apos;
)  + /* end 1 */
&apos; - Voice Call (&apos; +
{!rVoiceCall.Name}  +
&apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>fConcactId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rMessagingUser.ContactId},{!rMessagingUser.ContactId})</expression>
    </formulas>
    <formulas>
        <name>fQueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!rVoiceCall.QueueId__c})
,
BLANKVALUE({!rVoiceCall.QueueChosen__c},{!rVoiceCall.QueueRedirected__c})
, 
&apos;FindNothing123&apos;
)</expression>
    </formulas>
    <formulas>
        <name>fQueueName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vQueueName},&apos;Queue Unknown&apos;)</expression>
    </formulas>
    <formulas>
        <name>fVoiceCallAccountContactRelationId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rVoiceCall.AccountContactRelationId__c},{!AccountContactRelationId})</expression>
    </formulas>
    <formulas>
        <name>fVoiceCallAccountId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rVoiceCall.AccountId__c},{!AccountId})</expression>
    </formulas>
    <formulas>
        <name>fVoiceCallContactId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rVoiceCall.ContactId__c},{!ContactId})</expression>
    </formulas>
    <formulas>
        <name>fVoiceCallQueueId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rVoiceCall.QueueId__c},{!QueueId})</expression>
    </formulas>
    <interviewLabel>ofl - Voice Calls 2 Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ofl - Voice 2 Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>dcr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_VoiceCall</targetReference>
        </connector>
        <inputReference>caseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_MessagingUser</name>
        <label>1. MessagingUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_MessagingUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rVoiceCall.EndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rVoiceCall.QueueId__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Recordtype</name>
        <label>1. Recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcr_01_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseRecord.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_VoiceCall</name>
        <label>1. Voice Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Skill_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>callingNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>+31889900000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_MessagingUser</name>
        <label>1. MessagingUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>act_01_Messaging_User_to_Screen_Pop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>act_01_Messaging_User_to_Screen_Pop</targetReference>
        </faultConnector>
        <inputReference>rMessagingUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_VoiceCall</name>
        <label>2. VoiceCall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_02_Case</targetReference>
        </connector>
        <inputReference>rVoiceCall</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_VoiceCall</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountContactRelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Incoming Phone#</description>
        <name>callingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcPendingServiceRoutingInteractionInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rMessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>rVoiceCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>vQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
