force-app/main/default/flows/pef_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_GenerateGUID</name>
        <label>1. GenerateGUID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Inv_generateGUID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Inv_generateGUID</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vGuid</assignToReference>
            <name>guid</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Event_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rEventLog.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Calling_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.CallingSystem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.GUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Receiving_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.ReceivingSystem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Related_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EVENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.StatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Event_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Integration</name>
        <label>1. Integration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rIntegration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Action__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.PlatformAccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Object__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.PlatformExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.CallingSystem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rNotification.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Notification_Exists</name>
        <label>1. Notification (Exists)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Notification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Notification_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Event_Log</name>
        <label>2 Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rEventLog.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stop requested without an Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Event_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Notification_Exists</name>
        <label>2. Notification (Exists)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rNotification.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rIntegration.Action__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Only Create notification on New</description>
        <name>dec_01_Action</name>
        <label>1. Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Event_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Action_start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rIntegration.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Notification</targetReference>
            </connector>
            <label>Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Check_Integration</name>
        <label>1. Check Integration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rIntegration.ExternalId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rIntegration.CallingSystem__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rIntegration.ReceivingSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_GenerateGUID</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>dec_01_Notification_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Notification</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Notification_Exists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Record</name>
        <label>1. Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rIntegration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Check_Integration</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>pef - Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pef - Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_02_Commit</targetReference>
        </faultConnector>
        <inputReference>rEventLog</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputReference>rNotification</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </filters>
        <filters>
            <field>PlatformAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rIntegration.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rIntegration.Object__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlatformExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rIntegration.ExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>System_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rIntegration.CallingSystem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rIntegration.Subject__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputReference>rEventLog</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Notification</name>
        <label>1. Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputReference>rNotification</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Integration</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Integration__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rEventLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Log__c</objectType>
    </variables>
    <variables>
        <name>rIntegration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration__e</objectType>
    </variables>
    <variables>
        <name>rNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vGuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
