force-app/main/default/flows/rab_Lead_baseParams_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_Apex_AdUrlParser</name>
        <label>1. Apex - AdUrlParser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Inv_AdUrlParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_02_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>baseParams</name>
            <value>
                <elementReference>$Record.baseParams__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inv_AdUrlParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>rLead.GCLID__c</assignToReference>
            <name>clickId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.PPC_Keyword__c</assignToReference>
            <name>ppcKeyword</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_Campaign__c</assignToReference>
            <name>utmCampaign</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_Content__c</assignToReference>
            <name>utmContent</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_SalesChannel__c</assignToReference>
            <name>utmId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_Medium__c</assignToReference>
            <name>utmMedium</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_Source__c</assignToReference>
            <name>utmSource</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rLead.UTM_Term__c</assignToReference>
            <name>utmTerm</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Lead</name>
        <label>1. Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_Apex_AdUrlParser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Lead</name>
        <label>2. Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rLead.doBaseParams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_UTM_Params</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Lead</name>
        <label>3. Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_UTM_Params</name>
        <label>1. UTM - Params</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_01_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_UTM_Params_GO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rLead.UTM_SalesChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rLead.UTM_SalesChannel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>afl_Campaign_UTM_Structure_Flow_1</targetReference>
            </connector>
            <label>Go</label>
        </rules>
    </decisions>
    <description>Evaluates the baseParams and attaches the click Id and the UTM parameters to the lead</description>
    <environments>Default</environments>
    <formulas>
        <name>fLeadSource</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rLead.UTM_Source__c}, TEXT({!rLead.LeadSource}))</expression>
    </formulas>
    <formulas>
        <name>fReseller</name>
        <dataType>String</dataType>
        <expression>TEXT({!rLead.Reseller__c})</expression>
    </formulas>
    <interviewLabel>rab - Lead - Evaluate baseParams {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rab - Lead - baseParams Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_CampaignMember</name>
        <label>1. CampaignMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>dur_01_Lead</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vCampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>rLead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>dur_01_Lead</name>
        <label>1. Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>doBaseParams__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ass_01_Lead</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>afl_Campaign_UTM_Structure_Flow_1</name>
        <label>afl - Campaign - UTM - Structure Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcr_01_CampaignMember</targetReference>
        </connector>
        <flowName>afl_Campaign_UTM_Structure</flowName>
        <inputAssignments>
            <name>vReseller</name>
            <value>
                <elementReference>fReseller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_Campaign</name>
            <value>
                <elementReference>rLead.UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_Content</name>
            <value>
                <elementReference>rLead.UTM_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_Medium</name>
            <value>
                <elementReference>rLead.UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_SalesChannel</name>
            <value>
                <elementReference>rLead.UTM_SalesChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_Source</name>
            <value>
                <elementReference>rLead.UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vUTM_Term</name>
            <value>
                <elementReference>rLead.UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCampaignID</assignToReference>
            <name>vCampaignId</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>701</triggerOrder>
    <variables>
        <name>rLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
