force-app/main/default/flows/rab_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_01_Payment_Batch</name>
        <label>1. Payment Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Batch_Changed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Batch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Batch__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Batch__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bottomline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Account</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Status_Processor</name>
        <label>1. Status / Processor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Payment_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opayo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Processor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mollie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Opportunity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Generic flow runs after update on create and edit</description>
    <environments>Default</environments>
    <formulas>
        <name>fPaymentMethod</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Processor__c},&apos;Opayo&apos;,&apos;p1&apos;,&apos;p0&apos;)</expression>
    </formulas>
    <interviewLabel>rab - Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rab - Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>dur_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direct_Debit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TO_BE_SENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Direct_Debit_Payment_Batch__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Batch__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Direct_Debit_Payment_Batch__c</field>
            <value>
                <elementReference>$Record.Payment_Batch__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Opportunity</name>
        <label>1. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Payment_Batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>fPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>$Record.Processor_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Status_Processor</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>702</triggerOrder>
</Flow>
