force-app/main/default/flows/rab_Payment_DirectDebit_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <description>Escalation flow for direct debit setup requests. When Interaction_Status__c is set to &apos;Mail Sent&apos;, sends reminder emails at D+2 and D+4, then creates an escalation case at D+6 if the customer has not yet completed the authorisation.</description>
    <environments>Default</environments>
    <interviewLabel>rab - Payment - Direct Debit Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rab - Payment - Direct Debit Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ═══════════════════════════════════════════════════════════════════════
         SCHEDULED PATH D+2 — REMINDER 1
         ═══════════════════════════════════════════════════════════════════════ -->

    <actionCalls>
        <name>act_Send_Reminder1</name>
        <label>Send Reminder 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vOrgWideEmail_D2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>vTemplateId_D2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>

    <!-- ═══════════════════════════════════════════════════════════════════════
         SCHEDULED PATH D+4 — REMINDER 2
         ═══════════════════════════════════════════════════════════════════════ -->

    <actionCalls>
        <name>act_Send_Reminder2</name>
        <label>Send Reminder 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vOrgWideEmail_D4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>vTemplateId_D4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>

    <!-- ═══════════════════════════════════════════════════════════════════════
         DECISIONS
         ═══════════════════════════════════════════════════════════════════════ -->

    <!-- D+2: is status still Mail Sent? -->
    <decisions>
        <name>Check_Mail_Sent_D2</name>
        <label>Status Still Mail Sent? (D+2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — skip</defaultConnectorLabel>
        <rules>
            <name>Still_Mail_Sent_D2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgt_Administration_D2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- D+2: org-wide email and template ready? -->
    <decisions>
        <name>Check_Email_Ready_D2</name>
        <label>Email Ready? (D+2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — skip</defaultConnectorLabel>
        <rules>
            <name>Email_Ready_D2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrgWideEmail_D2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTemplateId_D2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_Send_Reminder1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- D+4: is status still Mail Sent? -->
    <decisions>
        <name>Check_Mail_Sent_D4</name>
        <label>Status Still Mail Sent? (D+4)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — skip</defaultConnectorLabel>
        <rules>
            <name>Still_Mail_Sent_D4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgt_Administration_D4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- D+4: org-wide email and template ready? -->
    <decisions>
        <name>Check_Email_Ready_D4</name>
        <label>Email Ready? (D+4)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — skip</defaultConnectorLabel>
        <rules>
            <name>Email_Ready_D4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrgWideEmail_D4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTemplateId_D4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_Send_Reminder2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- D+6: is status still Mail Sent? -->
    <decisions>
        <name>Check_Mail_Sent_D6</name>
        <label>Status Still Mail Sent? (D+6)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — skip</defaultConnectorLabel>
        <rules>
            <name>Still_Mail_Sent_D6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgt_RecordType_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════════════
         RECORD CREATES
         ═══════════════════════════════════════════════════════════════════════ -->

    <recordCreates>
        <name>dcr_Escalation_Case</name>
        <label>Create Escalation Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Escalation: customer has not completed direct debit authorisation after 6 days of reminders. Please follow up.</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══════════════════════════════════════════════════════════════════════
         RECORD LOOKUPS
         ═══════════════════════════════════════════════════════════════════════ -->

    <!-- D+2: get Administration for OrgWide email -->
    <recordLookups>
        <name>dgt_Administration_D2</name>
        <label>Get Administration (D+2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgt_OrgWideEmail_D2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Administration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription25__Administration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- D+2: get OrgWideEmailAddress -->
    <recordLookups>
        <name>dgt_OrgWideEmail_D2</name>
        <label>Get OrgWide Email Address (D+2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgt_Template_Reminder1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgt_Administration_D2.Subscription25__Organization_Wide_Email__c</elementReference>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>vOrgWideEmail_D2</assignToReference>
            <field>Address</field>
        </outputAssignments>
    </recordLookups>

    <!-- D+2: get EmailTemplate for Reminder 1 -->
    <recordLookups>
        <name>dgt_Template_Reminder1</name>
        <label>Get Email Template — Reminder 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Ready_D2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>paymentDirectDebitReminder1_EN</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>vTemplateId_D2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>

    <!-- D+4: get Administration for OrgWide email -->
    <recordLookups>
        <name>dgt_Administration_D4</name>
        <label>Get Administration (D+4)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgt_OrgWideEmail_D4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Administration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription25__Administration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- D+4: get OrgWideEmailAddress -->
    <recordLookups>
        <name>dgt_OrgWideEmail_D4</name>
        <label>Get OrgWide Email Address (D+4)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgt_Template_Reminder2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgt_Administration_D4.Subscription25__Organization_Wide_Email__c</elementReference>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>vOrgWideEmail_D4</assignToReference>
            <field>Address</field>
        </outputAssignments>
    </recordLookups>

    <!-- D+4: get EmailTemplate for Reminder 2 -->
    <recordLookups>
        <name>dgt_Template_Reminder2</name>
        <label>Get Email Template — Reminder 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Ready_D4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>paymentDirectDebitReminder2_EN</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>vTemplateId_D4</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>

    <!-- D+6: get Case RecordType -->
    <recordLookups>
        <name>dgt_RecordType_Case</name>
        <label>Get Case Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcr_Escalation_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>

    <!-- ═══════════════════════════════════════════════════════════════════════
         FORMULAS
         ═══════════════════════════════════════════════════════════════════════ -->

    <formulas>
        <name>fCaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Direct Debit Escalation — No Authorisation Received: &apos; &amp; {!$Record.Name}</expression>
    </formulas>

    <!-- ═══════════════════════════════════════════════════════════════════════
         START
         ═══════════════════════════════════════════════════════════════════════ -->

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mail Sent</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>sch_D2_Reminder1</name>
            <connector>
                <targetReference>Check_Mail_Sent_D2</targetReference>
            </connector>
            <label>D+2 — Reminder 1</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>sch_D4_Reminder2</name>
            <connector>
                <targetReference>Check_Mail_Sent_D4</targetReference>
            </connector>
            <label>D+4 — Reminder 2</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>sch_D6_Escalation</name>
            <connector>
                <targetReference>Check_Mail_Sent_D6</targetReference>
            </connector>
            <label>D+6 — Escalation Case</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <status>Active</status>
    <triggerOrder>710</triggerOrder>

    <!-- ═══════════════════════════════════════════════════════════════════════
         VARIABLES
         ═══════════════════════════════════════════════════════════════════════ -->

    <variables>
        <name>vOrgWideEmail_D2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTemplateId_D2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrgWideEmail_D4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTemplateId_D4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
