force-app/main/default/flows/rab_Voice_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_02_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Callback - {!$Record.FromPhoneNumber} - Voicecall ({!$Record.Name})</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FromPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Callback</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Abandoned</name>
        <label>1. Case - Abandoned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missed Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Abandoned - {!rCase.Subject}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Accepted</name>
        <label>1. Case - Accepted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Callback</name>
        <label>1. Case - Callback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Callback - {!rCase.Subject}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Voicemail</name>
        <label>1. Case  - Voicemail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voicemail - {!rCase.Subject}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voicemail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_rCase</name>
        <label>1. rCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Voice_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Call_Outcome</name>
        <label>1. Call Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_CallOutcome_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_02_Queue</targetReference>
            </connector>
            <label>Callback</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_RelatedRecord</name>
        <label>1. Related Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Call_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_RelatedRecord_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Scenario</name>
        <label>1. Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Scenario_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallAcceptDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Accepted</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>dec_01_Scenario_Voicemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallOrigin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Voicemail</targetReference>
            </connector>
            <label>Voicemail</label>
        </rules>
        <rules>
            <name>dec_01_Scenario_Callback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Callback</targetReference>
            </connector>
            <label>Callback</label>
        </rules>
        <rules>
            <name>dec_01_Scenario_Abandoned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallAcceptDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsRecorded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCase.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Callback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Abandoned</targetReference>
            </connector>
            <label>Abandoned</label>
        </rules>
    </decisions>
    <description>Used to copy values from voice call to related records</description>
    <environments>Default</environments>
    <interviewLabel>rab - Voice Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rab - Voice Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_rCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Voicemail queue</description>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Scenario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqVoicemail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_02_Queue</name>
        <label>2. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqAftersalesNL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update case owner to agent who accepted call</description>
        <name>dur_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Voice_Call</name>
        <label>1. Voice Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ass_04_Commit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>rCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>rCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_RelatedRecord</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CallAcceptDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallDisposition</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallOrigin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voicemail</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallOutcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Callback</stringValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>701</triggerOrder>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
