force-app/main/default/flows/rac_oauth_log_check_event_log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>rEventLog.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Calling_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCallingSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Context_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Context_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.extId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIntegrationStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Receiving_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReceivingSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.StatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStatusCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rEventLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Event_Log</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cIntegrationStatusProcessed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Processed</stringValue>
        </value>
    </constants>
    <constants>
        <name>cIntegrationStatusProcessing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Processing</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTypeIntegration</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration</stringValue>
        </value>
    </constants>
    <description>oauth log -&gt; checks and update the event log record</description>
    <environments>Default</environments>
    <formulas>
        <name>fAction</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rEventLog.Action__c}, {!$Record.Context__c})</expression>
    </formulas>
    <formulas>
        <name>fCallingSystem</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!rEventLog.Calling_System__c}),TEXT({!$Record.Calling_System__c}))</expression>
    </formulas>
    <formulas>
        <name>fExternalId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rEventLog.extId__c},{!$Record.Record_External_Id__c})</expression>
    </formulas>
    <formulas>
        <name>fIntegrationStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Status_Code__c} = 400),{!cIntegrationStatusProcessed},{!cIntegrationStatusProcessing})</expression>
    </formulas>
    <formulas>
        <name>fMessage</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Status_Code__c} = 400),{!$Record.Response_Body__c},BLANKVALUE({!rEventLog.Message__c},{!$Record.Response_Body__c}))</expression>
    </formulas>
    <formulas>
        <name>fObject</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rEventLog.Object__c},{!$Record.Endpoint__c})</expression>
    </formulas>
    <formulas>
        <name>fReceivingSystem</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!rEventLog.Receiving_System__c}),TEXT({!$Record.Receiving_System__c}))</expression>
    </formulas>
    <formulas>
        <name>fRecordId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rEventLog.Context_Id__c},{!$Record.Record_Id__c})</expression>
    </formulas>
    <formulas>
        <name>fRecordName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!rEventLog.Context_Name__c},{!$Record.Record_Name__c})</expression>
    </formulas>
    <formulas>
        <name>fStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!fStatusCode}, 100, &apos;Informational&apos;, 200, &apos;Success&apos;,300, &apos;Redirection&apos;,400, &apos;Client Error&apos;,500, &apos;Server Error&apos;,&apos;? Unknown?&apos;)</expression>
    </formulas>
    <formulas>
        <name>fStatusCode</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.Status_Code__c} &lt; 200, 100, if({!$Record.Status_Code__c} &lt; 300, 200, if({!$Record.Status_Code__c} &lt; 400, 300, if({!$Record.Status_Code__c} &lt; 500, 400, if({!$Record.Status_Code__c} &lt; 600, 500, 200)))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fType</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!rEventLog.Type__c}),{!cTypeIntegration})</expression>
    </formulas>
    <interviewLabel>rac - oauth_log - update event_log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rac - oauth_log - check event_log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Event_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event_Log__c</elementReference>
            </value>
        </filters>
        <object>Event_Log__c</object>
        <outputReference>rEventLog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Calling_System__c</queriedFields>
        <queriedFields>Context_Id__c</queriedFields>
        <queriedFields>Context_Name__c</queriedFields>
        <queriedFields>Execution_Order__c</queriedFields>
        <queriedFields>extId__c</queriedFields>
        <queriedFields>GUID__c</queriedFields>
        <queriedFields>Integration_Status__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>Object__c</queriedFields>
        <queriedFields>Parent_Event__c</queriedFields>
        <queriedFields>Receiving_System__c</queriedFields>
        <queriedFields>Receiving_Instance__c</queriedFields>
        <queriedFields>Related_Record_Id__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>StatusCode__c</queriedFields>
        <queriedFields>Stack_Trace__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Event_Log</name>
        <label>1. Event Log</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rEventLog</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Log__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Log__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OAuth_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>dgr_01_Event_Log</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rEventLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Log__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
