force-app/main/default/flows/rac_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Opportunity_Product</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOpportunityProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcOpportunityProducts</name>
        <label>1. rcOpportunityProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vOpportunityProductsCount</name>
        <label>1. vOpportunityProductsCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vOpportunityProductsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>dgr_01_Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_vOpportunityProductsCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Opportunity_Product</name>
        <label>2. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.Swapped_from__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOpportunityProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Opportunity_Product</name>
        <label>3. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOpportunityProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_rcOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Swapped_Opportunity</name>
        <label>1. Swapped Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Swapped_Opportunity_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Swapped_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Swapped_from__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Opportunity_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_vOpportunityProductsCount</name>
        <label>1. OpportunityProductsCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_vOpportunityProductsCount_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpportunityProductsCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lp_01_Opportunity_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>record flow after create on opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>fCustomerReference</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Customer_Reference__c}, BLANKVALUE({!$Record.Account.Cost_Center_invoicing__c},IF(ISPICKVAL({!$Record.Type},&apos;Webshop&apos;),{!$Record.Name},{!fOpportunityNumber})))</expression>
    </formulas>
    <formulas>
        <name>fOpportunityNumber</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.PreviousQuoteNumber__c},{!$Record.Auto_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fOpportunityProductQuantity</name>
        <dataType>Number</dataType>
        <expression>(-1 * BlankValue({!rOpportunityProduct.Quantity},1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>rac - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rac - Opportunity</label>
    <loops>
        <name>lp_01_Opportunity_Products</name>
        <label>1. Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dgr_01_Opportunity_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_Opportunity_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_01_Opportunity_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Opportunity_Product</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rcOpportunityProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Opportunity_Product</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_vOpportunityProductsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Swapped_from__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_AutoNumber_Related</name>
        <label>1. AutoNumber Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Reference__c</field>
            <value>
                <elementReference>fCustomerReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityNumber__c</field>
            <value>
                <elementReference>fOpportunityNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dur_01_AutoNumber_Related</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>dec_01_Swapped_Opportunity</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rcOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>rOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOpportunityProductsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
