force-app/main/default/flows/rau_Subscription25_Invoice_c_Finalized_Create_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit_Payment</name>
        <label>1. Commit (Payment)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_02_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Create</name>
        <label>1. Payment (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Processing Date set moved to payment</description>
        <name>ass_02_Payment</name>
        <label>2. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Administration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountNet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountGross</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.IsAutoCreated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Payment_Settings.AutoCreate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Payment_Settings.Processor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processor_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cSourceInvoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_03_ContactPayment.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Payment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cSourceInvoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_02_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>dec_01_Payment_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_02_Payment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <label>Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Setting</name>
        <label>1. Payment Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Setting_Create_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Payment_Settings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dgr_01_Payment_Settings.AutoCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_02_Payment</targetReference>
            </connector>
            <label>Create Payment</label>
        </rules>
    </decisions>
    <description>Creates a payment record, if the payment method of the invoice requires it</description>
    <environments>Default</environments>
    <formulas>
        <name>fAmountGross</name>
        <dataType>Currency</dataType>
        <expression>ROUND(BLANKVALUE({!$Record.Amount_Gross__c}, 0),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAmountNet</name>
        <dataType>Currency</dataType>
        <expression>ROUND(BLANKVALUE({!$Record.Subscription25__Total_Amount__c}, 0),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAmountVAT</name>
        <dataType>Currency</dataType>
        <expression>ROUND(BLANKVALUE({!$Record.Amount_VAT__c}, 0),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fStatus</name>
        <dataType>String</dataType>
        <expression>/*IF(ISPICKVAL({!$Record.Payment_Method__c},&apos;p0&apos;),&apos;Paid&apos;,&apos;New&apos;)*/
IF({!$Record.Payment_Is_Paid__c},&apos;Paid&apos;,&apos;New&apos;)</expression>
    </formulas>
    <interviewLabel>rau - Subscription25_Invoice_c - Finalized - Create Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Subscription25_Invoice_c - Finalized - Create Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit_Payment</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>rPayment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_03_ContactPayment</name>
        <label>3. Contact (Payment)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Payment_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription25__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Payment_Settings</name>
        <label>1. Payment Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Payment_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reseller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Setting__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AutoCreate__c</queriedFields>
        <queriedFields>Processor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_02_Payment</name>
        <label>2. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription25__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FINALIZED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subscription25__Total_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Subscription25__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>dgr_03_ContactPayment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>601</triggerOrder>
    <variables>
        <name>rPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
