force-app/main/default/flows/rau_Payment_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Payment_Batch</name>
        <label>1. Payment Batch</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Every__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Every__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Processor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPaymentBatch.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Administration__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Payment_Batch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Status_Prior</name>
        <label>1. Status (Prior)</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Status_Prior_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Batch</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>rau - Payment Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Payment Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Payment_Batch</name>
        <label>1. Payment Batch</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>rPaymentBatch</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Status_Prior</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TO_BE_SENT</stringValue>
            </value>
        </filters>
        <object>Payment_Batch__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <description>New Payment Batch</description>
        <name>rPaymentBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Batch__c</objectType>
    </variables>
</Flow>
