force-app/main/default/flows/rau_Opportunity_Manual_Payment_Reference.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Create</name>
        <label>1. Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Administration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProcessor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_VAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount_Gross__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPaymentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processor_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Reference_Manual_Input__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Action</name>
        <label>1. Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>dec_01_Action_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_01_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcr_01_Payment</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Action</name>
        <label>1. Payment Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Action_Delete</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ddr_01_Payment</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>dec_01_Payment_Action_Update</name>
            <conditionLogic>(1 OR 4) AND  2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Reference_Manual_Input__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Action</targetReference>
            </connector>
            <label>Create / Update</label>
        </rules>
    </decisions>
    <description>Manages payment when manual payment reference is provided (complete Mi04 orders, by manual input)</description>
    <environments>Default</environments>
    <formulas>
        <name>fPaymentId</name>
        <dataType>String</dataType>
        <expression>IF({!vCreate},&apos;&apos;,{!rPayment.Id})</expression>
    </formulas>
    <formulas>
        <name>fProcessor</name>
        <dataType>String</dataType>
        <expression>Case(TEXT({!$Record.Account.Reseller_Name__c}), &apos;6&apos;,&apos;Opayo&apos;,&apos;Mollie&apos;)</expression>
    </formulas>
    <interviewLabel>rau - Opportunity - Manual Payment Reference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Opportunity - Manual Payment Reference</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>ddr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dur_01_Opportunity</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>dgr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Payment_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Payment__c</object>
        <outputReference>rPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Administration__c</queriedFields>
        <queriedFields>Amount_Gross__c</queriedFields>
        <queriedFields>Amount_Net__c</queriedFields>
        <queriedFields>Amount_VAT__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Processor__c</queriedFields>
        <queriedFields>Processor_Reference__c</queriedFields>
        <queriedFields>Processing_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>Request_Date__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Collection_Date__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Opportunity</name>
        <label>1. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dur_02_Opportunity</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_Opportunity</name>
        <label>2. Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment_Reference__c</field>
            <value>
                <elementReference>$Record.Payment_Reference_Manual_Input__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Payment</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>rPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
