force-app/main/default/flows/rau_Account_Payment_Provider_Id_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_PaymentProviderDeleteCustomers</name>
        <label>1. DeleteCustomers (PaymentProvider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v01_DeleteCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_01_Deleted</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>accountRecord.PayProv_AccountId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>accountRecord.PayProv_CustomerId_Delete__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_DeleteCustomers</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>act_01_PostPaymentMethodsDetach</name>
        <label>1. PostPaymentMethodsDetach</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v01_PostPaymentMethodsDetach</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_01_Livemode</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>accountRecord.PayProv_AccountId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethod</name>
            <value>
                <elementReference>accountRecord.PayProv_PaymentMethodId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_PostPaymentMethodsDetach</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_PayProv_AccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Financial_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Customer_Delete</name>
        <label>1. Customer (Delete)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_CustomerId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Customer_Reset</name>
        <label>1. Customer (Reset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_CustomerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.PayProv_CustomerId_Delete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_CustomerId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dec_01_Payment_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_PaymentMethod_Detach</name>
        <label>1. Payment Method (Detach)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_Commit_Final</name>
        <label>1. Commit (Final)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_PaymentMethod_Reset</name>
        <label>1. Payment Method (Reset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_PaymentMethodId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.PayProv_PaymentMethodId_Delete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_MandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.PayProv_MandateId_Delete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Removes everything</description>
        <name>dec_01_Customer_Delete</name>
        <label>1. Customer (Delete)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Payment_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Customer_Delete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.PayProv_CustomerId_Delete__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_PaymentProviderDeleteCustomers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Deleted</name>
        <label>1. Deleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Customer_Reset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Deleted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>act_01_PaymentProviderDeleteCustomers.deleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Customer_Delete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Financial_Entity</name>
        <label>1. Financial Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Financial_Entity_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_Afl_Account_Stripe_Customer_Create_Update</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Livemode</name>
        <label>1. Live Mode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_PaymentMethod_Detach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Livemode_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>act_01_PostPaymentMethodsDetach.livemode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_PaymentMethod_Reset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Method</name>
        <label>1. Payment Method (Delete)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_01_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Method_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.PayProv_PaymentMethodId_Delete__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_PostPaymentMethodsDetach</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_PayProv_AccountId</name>
        <label>1. PayProv_AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dur_01_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_dec_01_PayProv_AccountId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.PayProv_AccountId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Customer_Delete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>rau - Account - Payment Provider Id (Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Account - Payment Provider Id (Delete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_Account</name>
        <label>2 Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_Commit_Final</targetReference>
        </connector>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>PayProv_CustomerId_Delete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayProv_CustomerId_Delete__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayProv_PaymentMethodId_Delete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayProv_PaymentMethodId_Delete__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayProv_MandateId_Delete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayProv_MandateId_Delete__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>dgr_01_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>act_01_Afl_Account_Stripe_Customer_Create_Update</name>
        <label>Afl - Account - Stripe Customer (Create &amp; Update)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dur_02_Account</targetReference>
        </connector>
        <flowName>afl_Account_Stripe_Customer_Create_Update</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountRecord</assignToReference>
            <name>accountRecord</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>504</triggerOrder>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
