force-app/main/default/flows/rau_Order_Contract_Activated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Contract_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Invoice_Cycle</name>
        <label>1. Invoice Cycle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rContract.Subscription25__Invoice_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoiceCycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Renewal_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Renewal_Term</name>
        <label>1. Renewal Term</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rContract.Subscription25__Renewal_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRenewalTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Contract_Check</name>
        <label>1.  Contract Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contract_Check_Gor</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Is_Base_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Product__r.isBaseService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Product__r.Subscription25__Cost_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NON_RECURRING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Contract_Lifetime</targetReference>
            </connector>
            <label>Go</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Contract_Lifetime</name>
        <label>1. Contract - Lifetime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contract_Lifetime_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Product__r.IsLifetime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_Contract_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Reset_Terms</name>
        <label>1. Reset Terms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Reset_Terms_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>rContract.StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rContract.Invoice_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Invoice_Cycle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Forces the OrderItems to update to the language setting on the account and updates the additional information.
Resets the contract price on lifetime and invoice cycle renewal term for 0 (= pay 1st period at ones) contracts (mostly security contracts) 
Flow replaces rau - Order - Contract - Activated - OrderItem</description>
    <environments>Default</environments>
    <formulas>
        <name>fInvoiceCycle</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!rContract.RenewalTerm__c} ,
BLANKVALUE( {!$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Product__r.RenewalTerm__c},
IF(AND(({!rContract.ContractTerm} &gt; 1),({!rContract.ContractTerm} &lt;= 12)),12,IF({!$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Product__r.IsLifetime__c},60,1))
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fRenewalTerm</name>
        <dataType>Number</dataType>
        <expression>IF(({!rContract.RenewalTerm__c} &lt; {!rContract.Subscription25__Invoice_Cycle__c}),{!rContract.Subscription25__Invoice_Cycle__c},{!rContract.RenewalTerm__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>rau - Order - Contract - Activated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Order - Contract - Activated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Contract</name>
        <label>1. Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Reset_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Contract__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>rContract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription25__Renewal_Term__c</queriedFields>
        <queriedFields>Subscription25__Invoice_Cycle__c</queriedFields>
        <queriedFields>Invoice_Period__c</queriedFields>
        <queriedFields>RenewalTerm__c</queriedFields>
        <queriedFields>ContractTerm</queriedFields>
        <queriedFields>StartDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Contract</name>
        <label>1. Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Contract_Product</name>
        <label>1. Contract Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscription25__Price__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Subscription25__Contract_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_OrderItems</name>
        <label>1. OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputAssignments>
            <field>setProductName__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.OrderItems</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dur_01_OrderItems</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>501</triggerOrder>
    <variables>
        <name>rContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
