force-app/main/default/flows/rau_Customer_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>226</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>varAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.NPS_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey_Response_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccount.Last_Survey_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Survey_Response_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Details</name>
        <label>Case Details</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varCase.Customer_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCasePriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Case_Recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqCustomerSurvey1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseSubClassification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Case_Exist</name>
        <label>Does Case Exist?</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Query_Case_Recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>dec3Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Existing_Cases.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Details</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Campaign_Member</name>
        <label>Found Campaign Member?</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Should_Case_be_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>dec1Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Case_be_Created</name>
        <label>Should Case be Created?</label>
        <locationX>226</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>dec2Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey_Response_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Existing_Cases</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <description>This flow is designed to run the post update automations on Customer Survey records</description>
    <environments>Default</environments>
    <formulas>
        <name>forCaseDescription</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Survey_Response_Motivation__c})), {!$Record.Survey_Response_Motivation__c}, &apos;No motivation added by the customer&apos;)</expression>
    </formulas>
    <formulas>
        <name>forCaseOwner</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account__r.Subscriptions_Activated__c} &gt;= 5 &amp;&amp; {!$Record.Account__r.Owner.IsActive} &amp;&amp; NOT({!$Record.Account__r.Owner.Integration_User__c}) &amp;&amp; NOT({!$Record.Account__r.Owner.isSysAdmin__c}), {!$Record.Account__r.OwnerId}, {!Query_Survey_Queue.Id})</expression>
    </formulas>
    <formulas>
        <name>forCasePriority</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Survey_Response_Score__c},
0, &apos;High&apos;,
1, &apos;High&apos;,
2, &apos;High&apos;,
3, &apos;High&apos;,
4, &apos;High&apos;,
5, &apos;High&apos;,
6, &apos;High&apos;,
&apos;Medium&apos;
)</expression>
    </formulas>
    <formulas>
        <name>forCaseSubClassification</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Survey_Response_Score__c},
0, &apos;NPS_Low&apos;,
1, &apos;NPS_Low&apos;,
2, &apos;NPS_Low&apos;,
3, &apos;NPS_Low&apos;,
4, &apos;NPS_Low&apos;,
5, &apos;NPS_Low&apos;,
6, &apos;NPS_Low&apos;,
7, &apos;NPS_Medium&apos;,
8, &apos;NPS_Medium&apos;,
&apos;NPS_High&apos;
)</expression>
    </formulas>
    <formulas>
        <name>forCaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;NPS Survey Response [Score: &apos; + TEXT({!$Record.Survey_Response_Score__c}) + &apos;]&apos;</expression>
    </formulas>
    <interviewLabel>rau - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rau - Customer Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
        <inputReference>varCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Case_Recordtype</name>
        <label>Query Case Recordtype</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Survey_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Existing_Cases</name>
        <label>Query Existing Cases</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Survey_Queue</name>
        <label>Query Survey Queue</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqCustomerSurvey1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>226</locationX>
        <locationY>1763</locationY>
        <inputReference>varAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>94</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Should_Case_be_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Response_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPS</stringValue>
            </value>
        </filters>
        <object>Customer_Survey__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
