force-app/main/default/flows/rbb_Payment_DirectDebit_Setup_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <description>Sends the direct debit setup email when a new psp-dd payment is created and the account does not yet have an active mandate. Delegates to afl_Payment_Direct_Debit_Setup which generates the token (externalId__c) and sends the email.</description>
    <environments>Default</environments>
    <interviewLabel>rbb - Payment - Direct Debit Setup Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Payment - Direct Debit Setup Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Account</name>
        <label>1. Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_MandateNeeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>dec_01_MandateNeeded</name>
        <label>1. Mandate Needed?</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>No (mandate active)</defaultConnectorLabel>
        <rules>
            <name>dec_01_MandateNeeded_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Account.PayProv_MandateId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dgr_01_Account.PayProv_PaymentMethodId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_01_DirectDebitSetup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <subflows>
        <name>sub_01_DirectDebitSetup</name>
        <label>1. Direct Debit Setup</label>
        <locationX>44</locationX>
        <locationY>374</locationY>
        <flowName>afl_Payment_Direct_Debit_Setup</flowName>
        <inputAssignments>
            <name>paymentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>psp-dd</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>externalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
