force-app/main/default/flows/rbb_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_BeforeCurrentClosed</name>
        <label>1. BeforeCurrentClosed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentFinancialYearStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_CorrectedStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_CorrectedStartDate</name>
        <label>1. Commit (Corrected Start Date)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_EndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_InvoiceDate</name>
        <label>1. Commit (Invoice Date)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Contract</name>
        <label>1. Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_CorrectedStartDate</name>
        <label>1. Corrected StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Alternative_Accounting_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAlternativeAccountingStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_CorrectedStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Invoice_Date</name>
        <label>1. Invoice Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Alternative_Accounting_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_InvoiceDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Method</name>
        <label>1. Payment Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPaymentMethodSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Sales_Channel_Discription</name>
        <label>1. Sales Channel / Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSalesChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Status</name>
        <label>1. Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Valid</name>
        <label>1 . Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_CorrectedStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_BeforeCurrentClosed</name>
        <label>2. BeforeCurrentClosed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentFinancialYear1stMonthEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_CorrectedEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_BeforePreviousOpen</name>
        <label>2. BeforePreviousOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPreviousFinancialYear1stMonthEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_CorrectedEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Sales_Channel_Discription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit_CorrectedEndDate</name>
        <label>2. Commit (Corrected End Date)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Invoice_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_CorrectedEndDate</name>
        <label>2. Corrected EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Alternative_Accounting_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAlternativeAccountingEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit_CorrectedEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Order_Payment_Reference</name>
        <label>1. Order - Payment Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Payment_Processor_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Is_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Payment_Method</name>
        <label>2. Payment Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPaymentMethodReset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_05_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Valid</name>
        <label>2. Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_CorrectedEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_Payment_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_Commit</name>
        <label>5. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_StartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_1_BeforePreviousOpen</name>
        <label>1. BeforePreviousOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPreviousFinancialYearStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_CorrectedStartDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_EndDate</name>
        <label>1. EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Invoice_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_EndDate_Check</name>
            <conditionLogic>1 AND ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_02_vPreviousFinancialYearClosingPeriod</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Invoice_Date</name>
        <label>1. Invoice Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Invoice_Date_Change</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginalOrderId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Invoice_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alternative_Accounting_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alternative_Accounting_Start_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Invoice_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Invoice_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Alternative_Accounting_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Invoice_Date</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Method</name>
        <label>1. Payment Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Method_Set</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Method</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Reference_Conditions</name>
        <label>1. Payment Reference Conditions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Reference_Conditions_Set</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contract__r.StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Payment_Method__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>p0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>p1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Order_Payment_Reference</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Recurring_Order</name>
        <label>1. Recurring Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_02_Payment_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>dec_01_Recurring_Order_Set</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.isSysAdmin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Contract</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_StartDate</name>
        <label>1. StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_StartDate_Check</name>
            <conditionLogic>1 AND ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Financial_Setting</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Status</name>
        <label>1. Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Synced_to_Exact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>dec_01_Status_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Payment_Reference_Conditions</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Synced_to_Exact</name>
        <label>1. Synced to Exact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Synced_to_Exact_Done</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exact_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exact_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Status</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Type</name>
        <label>1. Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Type_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Recurring_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_EndDate</name>
        <label>2. EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>dec_02_EndDate_BeforePreviousOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fPreviousFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_BeforePreviousOpen</targetReference>
            </connector>
            <label>BeforePrevious - Open</label>
        </rules>
        <rules>
            <name>dec_02_EndDate_BeforeCurrentClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fCurrentFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_BeforeCurrentClosed</targetReference>
            </connector>
            <label>BeforeCurrent - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Payment_Method</name>
        <label>2. Payment Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_StartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_02_Payment_Method_Reset</name>
            <conditionLogic>((1 OR 2)  AND 3 AND (4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>p0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>p1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Recurring_Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Contract__r.StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Payment_Method</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_StartDate</name>
        <label>2. StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>dec_02_StartDate_BeforePreviousOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fPreviousFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_1_BeforePreviousOpen</targetReference>
            </connector>
            <label>BeforePrevious - Open</label>
        </rules>
        <rules>
            <name>dec_02_StartDate_BeforeCurrentClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fCurrentFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_BeforeCurrentClosed</targetReference>
            </connector>
            <label>BeforeCurrent - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_vPreviousFinancialYearClosingPeriod</name>
        <label>2. vPreviousFinancialYearClosingPeriod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_02_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_vPreviousFinancialYearClosingPeriod_Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPreviousFinancialYearClosingPeriod</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_02_Financial_Setting</targetReference>
            </connector>
            <label>Query</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fCurrentFinancialYear1stMonthEndDate</name>
        <dataType>Date</dataType>
        <expression>(ADDMONTHS({!fCurrentFinancialYearStartDate},1) - 1)</expression>
    </formulas>
    <formulas>
        <name>fCurrentFinancialYearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>fDescription</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Is_Base_Service__c},
({!fObject} + IF(AND(NOT(ISBLANK({!fObject})),({!fObject}={!fDevice})),&apos;&apos;,(&apos; / &apos; + {!fDevice})))
, 
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>fDevice</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(BLANKVALUE({!$Record.Contract__r.Hardware__r.Name},&apos;&apos;),&apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fObject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(BLANKVALUE({!$Record.Contract__r.Entity__r.Name},BLANKVALUE({!$Record.Contract__r.Hardware__r.Object__c},{!$Record.Contract__r.Hardware__r.Object__c})),&apos; &apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fPaymentMethodReset</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.Bank_Account_Number__c}),&apos;08&apos;,IF(ISPICKVAL({!$Record.Account.Reseller_Name__c},&apos;6&apos;),&apos;I0&apos;,&apos;I8&apos;))</expression>
    </formulas>
    <formulas>
        <name>fPaymentMethodSet</name>
        <dataType>String</dataType>
        <expression>IF(
OR(ISPICKVAL({!$Record.Type},&apos;Hardware&apos;),ISPICKVAL({!$Record.Type},&apos;Opportunity&apos;))
,
TEXT({!$Record.Account.Payment_Method_Opportunities__c})
,
IF(ISBLANK({!$Record.Subscription25__Recurring_Order__c})
,
TEXT({!$Record.Account.Payment_Method_Contracts__c})
,
BLANKVALUE(TEXT({!$Record.Subscription25__Recurring_Order__r.Subscription25__Contract_Product__r.Subscription25__Contract__r.Payment_Method__c}),TEXT({!$Record.Account.Payment_Method_Contracts__c})
)
)
)</expression>
    </formulas>
    <formulas>
        <name>fPreviousFinancialYear1stMonthEnd</name>
        <dataType>Date</dataType>
        <expression>(ADDMONTHS({!fPreviousFinancialYearStartDate},1) -1)</expression>
    </formulas>
    <formulas>
        <name>fPreviousFinancialYearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR({!$Flow.CurrentDate}) - 1),1,1)</expression>
    </formulas>
    <formulas>
        <name>fPreviousFinancialYearStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!$Flow.CurrentDate}&gt;(ADDMONTHS({!fCurrentFinancialYearStartDate},VALUE(BLANKVALUE({!vPreviousFinancialYearClosingPeriod},&apos;1&apos;)))-1)),&apos;Closed&apos;,&apos;Open&apos;)</expression>
    </formulas>
    <formulas>
        <name>fSalesChannel</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Contract__r.Sales_Channel__c}),IF(ISBLANK({!$Record.AccountId}),&apos;Moving Intelligence&apos;,BLANKVALUE(TEXT({!$Record.Account.Sales_Channel__c}),&apos;Moving Intelligence&apos;)))</expression>
    </formulas>
    <interviewLabel>rbb - Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Financial_Setting</name>
        <label>1. Financial Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_02_StartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>previousFinancialYearClosingPeriod</stringValue>
            </value>
        </filters>
        <object>financialSetting__mdt</object>
        <outputAssignments>
            <assignToReference>vPreviousFinancialYearClosingPeriod</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_02_Financial_Setting</name>
        <label>2. Financial Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_02_EndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>previousFinancialYearClosingPeriod</stringValue>
            </value>
        </filters>
        <object>financialSetting__mdt</object>
        <outputAssignments>
            <assignToReference>vPreviousFinancialYearClosingPeriod</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Payment_Method</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>vAlternativeAccountingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAlternativeAccountingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vPreviousFinancialYearClosingPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
