force-app/main/default/flows/rbb_Payment_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Payment_Batch</name>
        <label>1. Payment Batch</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Composite_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Reseller</name>
        <label>1. Reseller</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Administration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Reseller</name>
        <label>2. Reseller</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReseller</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Administration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Reseller</name>
        <label>1. Reseller</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>dcr_01_Administration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Reseller_Reset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Reseller</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reset</label>
        </rules>
        <rules>
            <name>dec_01_Reseller_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Reseller</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Generic Payment Batch flow, before save on create and update</description>
    <environments>Default</environments>
    <formulas>
        <name>fCloseDate</name>
        <dataType>Date</dataType>
        <expression>({!fNextDate} - 1)</expression>
    </formulas>
    <formulas>
        <name>fName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Administration__r.Subscription25__Invoice_Number_Prefix__c},&apos;&lt;&gt;&apos;) +
TEXT(YEAR({!fCloseDate})) +
IF(ISPICKVAL({!$Record.Frequency__c},&apos;WEEK&apos;),(&apos;W&apos; + RIGHT(&apos;0&apos; + TEXT(ISOWEEK({!fCloseDate})),2)),(&apos;M&apos; + RIGHT(&apos;0&apos; + TEXT(MONTH({!fCloseDate})),2))) + IF(ISPICKVAL({!$Record.Frequency__c},&apos;DAY&apos;),(&apos;/&apos; + RIGHT(&apos;0&apos; + TEXT(DAY({!fCloseDate})),2)),&apos;&apos;) +
&apos;-&apos; +
BLANKVALUE(TEXT({!$Record.Processor__c}),&apos;&lt;&gt;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fNextDate</name>
        <dataType>Date</dataType>
        <expression>IF( OR(ISPICKVAL({!$Record.Frequency__c},&apos;DAY&apos;),ISPICKVAL({!$Record.Frequency__c},&apos;WEEK&apos;)), ({!$Record.Start_Date__c} + (BLANKVALUE({!$Record.Every__c},1) * IF(ISPICKVAL({!$Record.Frequency__c},&apos;WEEK&apos;),7,1))), ADDMONTHS({!$Record.Start_Date__c},(BLANKVALUE({!$Record.Every__c},1) * IF(ISPICKVAL({!$Record.Frequency__c},&apos;YEAR&apos;),12,1))))</expression>
    </formulas>
    <formulas>
        <name>fReseller</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$User.DefaultReseller__c},&apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>rbb - Payment Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Payment Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dcr_01_Administration</name>
        <label>1. Administration</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Payment_Batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reseller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </filters>
        <object>Subscription25__Administration__c</object>
        <outputAssignments>
            <assignToReference>$Record.Administration__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Reseller</targetReference>
        </connector>
        <object>Payment_Batch__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
