force-app/main/default/flows/rbb_Email_Warning_Mark.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Domain</name>
        <label>1. Domain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDomain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Warning_Mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDomain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_String__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Email</name>
        <label>1. Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Warning_Mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_String__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Subject</name>
        <label>1. Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Warning_Mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_String__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSubject</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Username</name>
        <label>1. Username</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUsername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Warning_Mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUsername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject_String__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Type</name>
        <label>1. Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email</defaultConnectorLabel>
        <rules>
            <name>Domain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Domain</targetReference>
            </connector>
            <label>Domain</label>
        </rules>
        <rules>
            <name>Username</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Username</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Username</targetReference>
            </connector>
            <label>Username</label>
        </rules>
        <rules>
            <name>Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Subject</targetReference>
            </connector>
            <label>Subject</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fDomain</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Domain__c})</expression>
    </formulas>
    <formulas>
        <name>fEmail</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Email__c})</expression>
    </formulas>
    <formulas>
        <name>fSubject</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Subject_String__c})</expression>
    </formulas>
    <formulas>
        <name>fUsername</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.Username__c})</expression>
    </formulas>
    <interviewLabel>rbb - Email Warning Mark {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Email Warning Mark</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Type</targetReference>
        </connector>
        <object>Email_Warning_Mark__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
