force-app/main/default/flows/rbb_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>acc_01_Previous_Hardware</name>
        <label>1. Previous Hardware</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_05_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Account</name>
        <label>1. Account</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountHardware</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Asset</name>
        <label>1. Asset</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hardware_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Assembled_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAssembledBy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Hardware_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Dealer_Accounts</name>
        <label>1. Dealer Accounts</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Dealer_Account_Activated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDealerAccountActivated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dealer_Account_Not_Activated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDealerAccountNotActivated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dealer_Account_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDealerAccountStock</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Hardware_Status</name>
        <label>1. (Hardware) Status</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the object name for Harware</description>
        <name>ass_01_Object</name>
        <label>1. Object</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_Hardware_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>50</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_Commit</name>
        <label>5. Commit</label>
        <locationX>50</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Account</name>
        <label>1. Account</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>ass_01_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Account_Set</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Account</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Hardware_Status</name>
        <label>1. (Hardware) Status</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>dec_02_Hardware_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_01_Hardware_Status_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Hardware_Status</targetReference>
            </connector>
            <label>Set (Empty)</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Parent</name>
        <label>1. Parent</label>
        <locationX>182</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Parent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acc_01_Previous_Hardware</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Product</name>
        <label>1. Product</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>dec_01_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Product_Set</name>
            <conditionLogic>1 AND 5 AND ((2 OR 3) OR (4 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assembled_by__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Assembled_by__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Hardware_Status</name>
        <label>2. Hardware Status</label>
        <locationX>182</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>dec_01_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Hardware_Status_Changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activationcode_used_on__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Dealer_Accounts</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>Generic flow on asset prefents data loss</description>
    <environments>Default</environments>
    <formulas>
        <name>fAccountEntity</name>
        <dataType>String</dataType>
        <expression>if(AND(({!$Record.RecordType.DeveloperName} = &apos;Entity&apos;), NOT(ISBLANK({!$Record.AccountId}))), {!$Record.AccountId}, Null)</expression>
    </formulas>
    <formulas>
        <name>fAccountHardware</name>
        <dataType>String</dataType>
        <expression>if(AND(({!$Record.RecordType.DeveloperName} = &apos;Hardware&apos;), NOT(ISBLANK({!$Record.AccountId}))), {!$Record.AccountId}, Null)</expression>
    </formulas>
    <formulas>
        <name>fAssembledBy</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Assembled_by__c}),TEXT({!$Record.Product2.Assembled_by__c}))</expression>
    </formulas>
    <formulas>
        <name>fDealerAccountActivated</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.Status},&apos;6&apos;),NOT(ISBLANK({!$Record.Activationcode_used_on__c}))), BLANKVALUE({!$Record.Dealer_Account__c},null), null)</expression>
    </formulas>
    <formulas>
        <name>fDealerAccountNotActivated</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISPICKVAL({!$Record.Status},&apos;6&apos;), ISBLANK({!$Record.Activationcode_used_on__c})), BLANKVALUE({!$Record.Dealer_Account__c}, null),null)</expression>
    </formulas>
    <formulas>
        <name>fDealerAccountStock</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status},&apos;8&apos;), BLANKVALUE({!$Record.Dealer_Account__c},null), null)</expression>
    </formulas>
    <formulas>
        <name>fObject</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.RecordType.DeveloperName}=&apos;Hardware&apos;),BLANKVALUE({!$Record.License_Plate__c},BLANKVALUE({!$Record.Chassis_Number__c},IF(ISBLANK({!$Record.Product2Id}),BLANKVALUE({!$Record.Hardware_Name__c},&apos;&apos;),{!$Record.Product2.Name}))),&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>rbb - Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Object</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
