force-app/main/default/flows/rbb_Call_Center_Business_Hour.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Composite_Key</name>
        <label>1. Composite Key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Composite_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompositeKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Department</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_InternalName</name>
        <label>1. InternalName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.InternalName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCallCenterInternalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CallCenterName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCallCenterName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CallCenterId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCallCenterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Department</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ResetDeltaForceUsers</name>
        <label>1. Reset Delta Force Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.UserInside__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UserOutside__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_CallCenterID</name>
        <label>1. Call Center Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_InternalName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clear</defaultConnectorLabel>
        <rules>
            <name>dec_01_CallCenterID_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallCenterId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Composite_Key</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Department</name>
        <label>1. Department</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_ResetDeltaForceUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reset</defaultConnectorLabel>
        <rules>
            <name>dec_01_Department_Delta_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeltaForce</stringValue>
                </rightValue>
            </conditions>
            <label>Delta Force</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fCallCenterId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record__Prior.CallCenterId__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCallCenterInternalName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record__Prior.InternalName__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCallCenterName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record__Prior.CallCenterName__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fCompositeKey</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.CallCenterId__c}),&apos;&apos;,  ({!$Record.CallCenterId__c} + &apos;|&apos; + TEXT( {!$Record.OperationalEntity__c}) + &apos;|&apos; + TEXT({!$Record.Department__c})))</expression>
    </formulas>
    <interviewLabel>rbb - Call Center Business Hour {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Call Center Business Hour</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Call_Center</name>
        <label>1. Call Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_CallCenterID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InternalName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InternalName__c</elementReference>
            </value>
        </filters>
        <object>CallCenter</object>
        <outputAssignments>
            <assignToReference>$Record.CallCenterId__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.CallCenterName__c</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Call_Center</targetReference>
        </connector>
        <object>CallCenterBusinessHour__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
