force-app/main/default/flows/rbb_Contract_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Product_Type</name>
        <label>1. Product Type</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Product__r.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>dec_01_Description</name>
        <label>1. Description</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Contract_Asset</name>
        <label>1. Contract - Asset</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>dec_01_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contract_Asset_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Contract__r.Entity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Contract__r.Entity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Description</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Product</name>
        <label>1. Product</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Product_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Product__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Product_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fDescription</name>
        <dataType>String</dataType>
        <expression>TRIM(
IF(ISBLANK({!$Record.Subscription25__Contract__r.Entity__c}),&apos;&apos;, (BLANKVALUE({!$Record.Subscription25__Contract__r.Entity__r.Name},&apos;-&apos;) + &apos;,&apos;))
)</expression>
    </formulas>
    <interviewLabel>rbb - Contract Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Contract Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Contract_Asset</targetReference>
        </connector>
        <object>Subscription25__Contract_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
