force-app/main/default/flows/rbb_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Account_Name_Bank</name>
        <label>1. Account Name (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_AccountNameBank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Bank_Account_Number</name>
        <label>1. Number (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBankAccountNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_Bank_Account_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Billing_Attendant_to</name>
        <label>1. Billing Attendant to</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Billing_Attendant_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_BillingAddress</name>
        <label>1. Billing Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ClearIds</name>
        <label>1. Reset Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_CustomerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_CustomerId_Unique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_13_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_ServiceEntities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_AccountNameBank</name>
        <label>1. Commit (Account Name)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_Account_Name_Bank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_DeactivatedOn</name>
        <label>1. Commit (Deactivated on)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Customer_Entity_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_SeriviceEntities</name>
        <label>1. Commit (Service Entitites)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Deactivated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Currency</name>
        <label>1. Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_DeactivatedOn</name>
        <label>1. Deactivated On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DeactivatedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDeactivatedOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_DeactivatedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Defaults</name>
        <label>1. Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Grouping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoiceGrouping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Grouping_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoiceGroupingOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoicePeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Create_Monthly_Orders_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCreateOrdersUntil</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Create_Yearly_Orders_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cInvoiceRegularEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoiceFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Create_Invoices_As_Draft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCreateInvoicesAsDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderOffsetTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOrderOffsetTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Digital_Invoicing</name>
        <label>1. Digital Invoicing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Digital_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDigitalInvoicing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_05_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Direct_Debit_UK</name>
        <label>1. Direct Debit (UK)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Direct_Debit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TO_BE_SENT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Direct_Debit_Mandate_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LIVE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_16_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Employees_Fulltime_Fields</name>
        <label>1. Employees (Fulltime) Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__NumberFulltimeEmployees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NumberOfFulltimeEmployees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_15_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_FinancialEntity</name>
        <label>1. Financial Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reseller_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFinancialEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Invoice_Cycle</name>
        <label>1. Invoice Cycle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInvoiceCycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_06_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Number_of_Base_Services</name>
        <label>1. Number of Base Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Base_Services_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscriptions_Activated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Terminated_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Number_of_Inactive_Base_Services</name>
        <label>1. Number of Base Services Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_Base_Services_Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscriptions_Terminated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_18_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_PayProv_CustomerId_Unique</name>
        <label>1. Customer Id (Payment Provider - Unique)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_CustomerId_Unique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPayProv_CustomerId_Unique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_14_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ServiceEntities</name>
        <label>1. Service Entities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceEntityDE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fServiceEntityDE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceEntityFR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fServiceEntityFR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceEntityNL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fServiceEntityNL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceEntityUK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fServiceEntityUK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_SeriviceEntities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Set_DeletIds</name>
        <label>1. Set Delete Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_CustomerId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_CustomerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_PaymentMethodId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_MandateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_ClearIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_ShippingAddress</name>
        <label>1. Shipping Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_07_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Sort_Code_Bank_Account_Number_UK</name>
        <label>1. Sort Code &amp; Number (UK - Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_6_Sort_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSortCodeUK</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bank_6_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountNumberUK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_Bank_Account_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Force sync to Exact</description>
        <name>ass_01_Sync_2_Exact</name>
        <label>1. Sync 2 Exact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FinancialSystemSync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_17_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_01_UPDATE_CoC_Number_Fields</name>
        <label>1. Update CoC-Number-Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__DossierNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDossierNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CoC_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCOCNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_VAT_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_01_UPDATE_PrimairySBI_Fields</name>
        <label>1. Update PrimarySBI - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__PrimarySBI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBI_Primary_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Primary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_01_UPDATE_SecondarySBI1_Fields</name>
        <label>1. Update SecondarySBI1 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_01_UPDATE_SecondarySBI2_Fields</name>
        <label>1. Update SecondarySBI2 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_02_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_01_UPDATE_VAT_Number_Fields</name>
        <label>1. Update VAT-Number-Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__VATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fVATNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fVATNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_08_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_VAT_Settings</name>
        <label>1. VAT Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Always_Apply_Domestic_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAlwaysApplyDomesticVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSub25VatNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_09_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Visiting_Address</name>
        <label>1. Visiting Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Visiting_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Visiting_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Visiting_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Visiting_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Visiting_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VisitingAddress__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vVisitingAddressSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Bank_Account_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Visiting_Country</name>
        <label>1. Visiting Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.VisitingAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fVisitingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_FinancialEntity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Bank_Account_Number</name>
        <label>2. Number (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bank_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBankAccountNumber2Upper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Set_Delete_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit_Account_Name</name>
        <label>2. Commit (Account Name)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Employees_Fulltime_Fields</name>
        <label>2. Employees (Fulltime) Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumberOfFulltimeEmployees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WSONE_DATA__NumberFulltimeEmployees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_15_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_FinancialEntity</name>
        <label>2. Financial Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reseller_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFinancialEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Reset_Ids</name>
        <label>2. Reset Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Account_Name_Bank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Set_Delete_Ids</name>
        <label>2. Set Delete Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_PaymentMethodId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_MandateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Reset_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_02_Update_CoC_Number_Fields</name>
        <label>2. Update CoC-Number Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CoC_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEDossierNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__DossierNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEDossierNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_VAT_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_02_UPDATE_PrimarySBI_Fields</name>
        <label>2. Update PrimarySBI - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Primary_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__PrimarySBI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Primary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_02_Update_SecondarySBI1_Fields</name>
        <label>2. Update SecondarySBI1 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_02_UPDATE_SecondarySBI2_Fields</name>
        <label>2. Update SecondarySBI2 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_02_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_02_UPDATE_VAT_Number_Fields</name>
        <label>2. Update VAT_Number_Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEVATNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__VATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEVATNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_08_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Billing_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Reset_Ids</name>
        <label>3. Reset Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Set_Delete_Ids</name>
        <label>3. Set Delete Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.PayProv_PaymentMethodId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_PaymentMethodId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PayProv_MandateId_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PayProv_MandateId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Reset_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_03_Update_CoC_Number_Fields</name>
        <label>3. Update CoC-Number Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CoC_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCOCNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__DossierNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEDossierNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_VAT_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_03_UPDATE_PrimarySBI_Fields</name>
        <label>3. Update PrimarySBI - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Primary_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__PrimarySBI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBIPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Primary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_03_Update_SecondarySBI1_Fields</name>
        <label>3. Update SecondarySBI1 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_03_UPDATE_SecondarySBI2_Fields</name>
        <label>3. Update SecondarySBI2 - Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBI_Secondary_Code_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__SecondarySBI2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONESBISecondary2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_02_Secondary_SBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets - SF Fields  when wsone fields are filled and sf-fields are empty</description>
        <name>ass_03_UPDATE_VAT_Number_Fields</name>
        <label>3. Update VAT_Number_Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fVATNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.WSONE_DATA__VATNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWSONEVATNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_08_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Digital_Invoicing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_Commit</name>
        <label>5. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Period_Invoicing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_06_Commit</name>
        <label>6. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_07_Commit</name>
        <label>7. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_CoC_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_08_Commit</name>
        <label>8. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_VAT_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_09_Commit</name>
        <label>9. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_PrimarySBI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_10_Commit</name>
        <label>10. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_SecondarySBI1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_11_Commit</name>
        <label>11. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_SecondarySBI2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_12_Commit</name>
        <label>12. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Number_of_fulltime_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_13_Commit</name>
        <label>13. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>des_01_PayProv_CustomerId_Unique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_14_Commit</name>
        <label>14. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_VisitingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_15_Commit</name>
        <label>15. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Direct_Debit_UK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_16_Commit</name>
        <label>16. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_FinancialSystemSync</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_17_Commit</name>
        <label>17. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Activated_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_18_Commit</name>
        <label>18. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>cInvoiceDaily</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInvoiceEndofMonth</name>
        <dataType>String</dataType>
        <value>
            <stringValue>End of month</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInvoiceFirstOfTheMonth</name>
        <dataType>String</dataType>
        <value>
            <stringValue>First of the month</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInvoiceLastOfTheMonth</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Last of the month</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInvoiceRegularEndDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular end date</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Account_Name_Bank</name>
        <label>1. Account Name (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Commit_AccountNameBank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Account_Name_Bank_Set</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Account_Name_Bank</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Activated_Subscriptions</name>
        <label>1. Activated (Subscriptions)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Terminated_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_Activated_SubscriptionsSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscriptions_Activated__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Number_of_Base_Services</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Bank_Account_Number</name>
        <label>1. Number (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_02_Bank_Account_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Bank_Account_Number_UK</name>
            <conditionLogic>1 AND ((2 AND 3 AND (4 OR 5 OR 6)) OR  (7 AND 8 AND (9 OR 10 OR 11)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Sort_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Sort_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Sort_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Account_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_6_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Bank_Account_Number</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>dec_01_Bank_Account_Number_EU</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Sort_Code_Bank_Account_Number_UK</targetReference>
            </connector>
            <label>EU</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Billing_Address</name>
        <label>1. Billing Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Billing_Address_Set</name>
            <conditionLogic>((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>vVisitingAddressSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.useBillingAddress__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.useBillingAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_BillingAddress</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Billing_Contacts</name>
        <label>1. Billing Contact(s)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_04_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Billing_Contacts_Set</name>
            <conditionLogic>(1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Billing__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Billing_Attendant_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription25__Billing_Attendant_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact_Billing__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Billing_Attendant_to</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_CoC_Number</name>
        <label>1. CoC Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Update_CoC_Number_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_CoC_Number_SF_2_WSONE</name>
            <conditionLogic>((1 AND 2 AND 5) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoC_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoC_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__DossierNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__DossierNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCOCNumberCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_UPDATE_CoC_Number_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_CoC_Number_WSONE_2_SF</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__DossierNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__DossierNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoC_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoC_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Update_CoC_Number_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Currency</name>
        <label>1. Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>UK</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Currency</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Customer_Entity_Changed</name>
        <label>1. Customer Entity (Changed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>des_01_PayProv_CustomerId_Unique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Customer_Entity_Changed_Yes</name>
            <conditionLogic>(1 OR (2 AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Reseller_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_PayProv_CustomerId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Deactivated</name>
        <label>1. Deactivated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Customer_Entity_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Deactivated_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deactivated__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_DeactivatedOn</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Defaults</name>
        <label>1. Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Language_Set</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.extId_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.extId_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Defaults</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Digital_Invoicing</name>
        <label>1. Digital Invoicing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_05_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Digital_Invoicing_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Billing_Attendant_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Digital_Invoicing</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Direct_Debit_UK</name>
        <label>1. Direct Debit (UK)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_16_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Direct_Debit_UK_Reset</name>
            <conditionLogic>1 AND (2 OR (3 AND 4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Direct_Debit_UK</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_FinancialEntity</name>
        <label>1. Financial Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Visiting_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Reseller_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_FinancialEntity</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_FinancialSystemSync</name>
        <label>1. Sync 2 Financial System</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_17_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_FinancialSystemSync_Yes</name>
            <conditionLogic>((1 AND 2 AND 9) OR ((1 OR 3) AND 10)  OR ((1 OR 4) AND 11)  OR ((1 OR 5) AND 12) OR ((1 OR 6) AND 13)  OR ((1 OR 7) AND 14)  OR ((1 OR 8) AND 15))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method_Contracts__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Billing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingAddress</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialDebtorNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method_Contracts__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Billing__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingAddress</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Sync_2_Exact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Number_of_fulltime_Employees</name>
        <label>1. Number of fulltime Employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_15_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_Number_of_fulltime_Employees_SF_2_WSONE</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfFulltimeEmployees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__NumberFulltimeEmployees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfFulltimeEmployees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Employees_Fulltime_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_Number_of_fulltime_Employees_WSONE_2_SF</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__NumberFulltimeEmployees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfFulltimeEmployees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__NumberFulltimeEmployees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Employees_Fulltime_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_PayProv_CustomerId</name>
        <label>1. Customer Id (Payment Provider)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>des_01_PayProv_CustomerId_Unique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_PayProv_CustomerId_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PayProv_CustomerId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Set_DeletIds</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Period_Invoicing</name>
        <label>1. Period (Invoicing)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_06_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Period_Invoicing_Set</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Period__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Period__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Invoice_Cycle</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_PrimarySBI</name>
        <label>1. PrimarySBI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_UPDATE_PrimarySBI_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_PrimarySBI_SF_2_WSONE</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBI_Primary_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Primary_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__PrimarySBI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__PrimarySBI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_UPDATE_PrimairySBI_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_PrimarySBI_WSONE_2_SF</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__PrimarySBI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__PrimarySBI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Primary_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Primary_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_UPDATE_PrimarySBI_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_SecondarySBI1</name>
        <label>1. SecondarySBI1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Update_SecondarySBI1_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_SecondarySBI1_SF_2_WSONE</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_UPDATE_SecondarySBI1_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_SecondarySBI1_WSONE_2_SF</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Update_SecondarySBI1_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_SecondarySBI2</name>
        <label>2. SecondarySBI2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_UPDATE_SecondarySBI2_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_SecondarySBI2_SF_2_WSONE</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_UPDATE_SecondarySBI2_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_SecondarySBI2_WSONE_2_SF</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__SecondarySBI2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBI_Secondary_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_UPDATE_SecondarySBI2_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Shipping_Address</name>
        <label>1. Shipping Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_07_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Shipping_Address_Set</name>
            <conditionLogic>((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>vVisitingAddressSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.useShippingAddress__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.useShippingAddress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_ShippingAddress</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Terminated_Subscriptions</name>
        <label>1. Terminated (Subscriptions)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_18_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_Terminated_Subscriptions_Seti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Base_Services_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Number_of_Inactive_Base_Services</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_VAT_Number</name>
        <label>1. VAT Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_UPDATE_VAT_Number_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_VAT_Number_SF_2_WSONE</name>
            <conditionLogic>((1 AND 2 AND 5) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__VATNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__VATNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_UPDATE_VAT_Number_Fields</targetReference>
            </connector>
            <label>SF 2 WSONE</label>
        </rules>
        <rules>
            <name>dec_01_VAT_Number_WSONE_2_SF</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__VATNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WSONE_DATA__VATNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_UPDATE_VAT_Number_Fields</targetReference>
            </connector>
            <label>WSONE 2 SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Visiting_Country</name>
        <label>1. Visiting Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Billing_Country_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__CountryCode__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fAllowResellerChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_FinancialEntity</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_VisitingAddress</name>
        <label>1. Visiting Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Bank_Account_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_VisitingAddress_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__Street__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__City__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__PostalCode__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__StateCode__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitingAddress__CountryCode__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Visiting_Address</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Account_Name_Bank</name>
        <label>2. Account Name (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Commit_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Account_Name_Bank_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_03_Set_Delete_Ids</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_Bank_Account_Number</name>
        <label>2. Number (Bank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Account_Name_Bank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_02_Bank_Account_Number_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bank_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Bank_Account_Number</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_VAT_Number</name>
        <label>2. VAT Number (sub25)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_09_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_02_VAT_Number_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAT_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_VAT_Settings</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>des_01_PayProv_CustomerId_Unique</name>
        <label>1. Customer Id (Payment Provider - Unique)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_VisitingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>des_01_PayProv_CustomerId_Unique_Set</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayProv_AccountId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayProv_CustomerId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayProv_AccountId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PayProv_CustomerId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_PayProv_CustomerId_Unique</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Checks Account before update</description>
    <environments>Default</environments>
    <formulas>
        <name>fAccountNumberUK</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Bank_Account_Number__c},8)</expression>
    </formulas>
    <formulas>
        <description>Determine whether reseller may be modified</description>
        <name>fAllowResellerChange</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISBLANK({!$Record.extId_1__c}),ISBLANK({!$Record.extId_2__c}),ISBLANK({!$Record.extId_3__c}))</expression>
    </formulas>
    <formulas>
        <name>fAlwaysApplyDomesticVAT</name>
        <dataType>Boolean</dataType>
        <expression>OR(
({!$Record.RecordType.DeveloperName} = &apos;B2C&apos;), 
AND(({!$Record.RecordType.DeveloperName} != &apos;B2C&apos;),
OR(ISBLANK({!$Record.VAT_Number__c}),({!$Record.VAT_Number__c} = &apos;-&apos;),(LEN({!$Record.VAT_Number__c})&lt;=5))
)
)</expression>
    </formulas>
    <formulas>
        <name>fBankAccountNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT((&quot;000000&quot; + BLANKVALUE({!$Record.Bank_6_Sort_Code__c},&apos;&apos;)),6) +
RIGHT((&quot;00000000&quot; + BLANKVALUE({!$Record.Bank_6_Account_Number__c},&apos;&apos;)),8)</expression>
    </formulas>
    <formulas>
        <name>fBankAccountNumber2IBAN</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.Bank_Account_Number__c})),OR(NOT(TEXT({!$Record.Reseller_Name__c}) = &apos;6&apos;), AND((TEXT({!$Record.Reseller_Name__c}) = &apos;6&apos;),(LEFT({!$Record.Bank_Account_Number__c},2) = &apos;GB&apos;)))),{!$Record.Bank_Account_Number__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fBankAccountNumber2Upper</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Bank_Account_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fBankBIC</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Bank_BIC__c})</expression>
    </formulas>
    <formulas>
        <name>fCOCNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.CoC_Number__c}), &apos;&apos;, IF(AND({!fCOCNumberCheck},(TEXT({!$Record.Reseller_Name__c})!=&apos;5&apos;)), UPPER(RIGHT((&apos;0000000000&apos; +{!$Record.CoC_Number__c}),IF((TEXT({!$Record.Reseller_Name__c})=&apos;3&apos;),10,8))), {!$Record.CoC_Number__c}))</expression>
    </formulas>
    <formulas>
        <name>fCOCNumberCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!$Record.CoC_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fCreateInvoicesAsDraft</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.extId_2__c}))</expression>
    </formulas>
    <formulas>
        <name>fCreateOrdersUntil</name>
        <dataType>String</dataType>
        <expression>IF({!fInvoiceGrouping},{!cInvoiceEndofMonth},{!cInvoiceRegularEndDate})</expression>
    </formulas>
    <formulas>
        <name>fDeactivatedOn</name>
        <dataType>DateTime</dataType>
        <expression>IF({!$Record.Deactivated__c},{!$Flow.CurrentDateTime},null)</expression>
    </formulas>
    <formulas>
        <name>fDigitalInvoicing</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Subscription25__Billing_Attendant_To__r.Email}))</expression>
    </formulas>
    <formulas>
        <name>fDossierNumber</name>
        <dataType>String</dataType>
        <expression>IF((LEN({!fCOCNumber})&gt;8),RIGHT({!fCOCNumber},8),{!fCOCNumber})</expression>
    </formulas>
    <formulas>
        <name>fFinancialEntity</name>
        <dataType>String</dataType>
        <expression>CASE({!fVisitingCountryCode}
,&apos;NL&apos;,&apos;1&apos;
,&apos;GR&apos;,&apos;2&apos;
,&apos;BE&apos;,&apos;1&apos;
,&apos;FR&apos;,&apos;4&apos;
,&apos;AT&apos;,&apos;5&apos;
,&apos;CH&apos;,&apos;5&apos;
,&apos;DE&apos;,&apos;5&apos;
,&apos;GB&apos;,&apos;6&apos;
,&apos;IE&apos;,&apos;6&apos;
,BLANKVALUE({!$User.DefaultReseller__c},&apos;1&apos;))</expression>
    </formulas>
    <formulas>
        <name>fInvoiceCycle</name>
        <dataType>Number</dataType>
        <expression>VALUE(BLANKVALUE(TEXT({!$Record.Invoice_Period__c}),&apos;-1&apos;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fInvoiceFrequency</name>
        <dataType>String</dataType>
        <expression>IF({!fInvoiceGrouping},{!cInvoiceFirstOfTheMonth} ,{!cInvoiceDaily})</expression>
    </formulas>
    <formulas>
        <name>fInvoiceGrouping</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(NOT(ISBLANK({!$Record.extId_2__c})),NOT(ISBLANK({!$Record.extId_5__c}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>fInvoiceGroupingOption</name>
        <dataType>String</dataType>
        <expression>IF({!fInvoiceGrouping},&apos;Product, Period, Unit Price&apos;,null)</expression>
    </formulas>
    <formulas>
        <name>fInvoicePeriod</name>
        <dataType>String</dataType>
        <expression>IF({!fInvoiceGrouping},&apos;1&apos;,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>fLanguage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.BillingCountryCode}))
,
CASE(
TEXT({!$Record.Reseller_Name__c})
,&apos;1&apos;,&apos;nl&apos;
,&apos;2&apos;,&apos;gr&apos;
,&apos;3&apos;,&apos;nl&apos;
,&apos;4&apos;,&apos;fr&apos;,
&apos;5&apos;,&apos;de&apos;,
&apos;6&apos;,&apos;en&apos;,
BLANKVALUE({!$User.DefaultLanguage__c},&apos;en&apos;)
)
,
CASE(
TEXT({!$Record.BillingCountryCode})
,&apos;AT&apos;,&apos;de&apos;
,&apos;BE&apos;,&apos;nl&apos;
,&apos;CH&apos;,&apos;de&apos;
,&apos;DE&apos;,&apos;de&apos;
,&apos;FR&apos;,&apos;fr&apos;
,&apos;NL&apos;,&apos;nl&apos;
,BLANKVALUE({!$User.DefaultLanguage__c},&apos;en&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <name>fNumberofBaseServicesTotal</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Number_of_Base_Services_Active__c}),0,{!$Record.Number_of_Base_Services_Active__c}) + IF(ISBLANK({!$Record.Number_of_Base_Services_Inactive__c}),0,{!$Record.Number_of_Base_Services_Inactive__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fOrderOffsetTerm</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.extId_2__c})),-1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fPayProv_CustomerId_Unique</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.PayProv_CustomerId__c}) + TRIM({!$Record.PayProv_AccountId__c})</expression>
    </formulas>
    <formulas>
        <name>fSBIPrimary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SBI_Primary_Code__c}),&apos;&apos;,{!$Record.SBI_Primary_Code__c})</expression>
    </formulas>
    <formulas>
        <name>fSBIPrimaryAlternative</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SBI_Primary_Code__c})),&apos;0&apos; ,&apos;&apos;) + {!$Record.SBI_Primary_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fSBISecondary1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SBI_Secondary_Code_1__c}),&apos;&apos;,{!$Record.SBI_Secondary_Code_1__c})</expression>
    </formulas>
    <formulas>
        <name>fSBISecondary1Alternative</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SBI_Secondary_Code_1__c})),&apos;0&apos; ,&apos;&apos;) + {!$Record.SBI_Secondary_Code_1__c}</expression>
    </formulas>
    <formulas>
        <name>fSBISecondary2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.SBI_Secondary_Code_2__c}),&apos;&apos;,{!$Record.SBI_Secondary_Code_2__c})</expression>
    </formulas>
    <formulas>
        <name>fSBISecondary2Alternative</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.SBI_Secondary_Code_2__c})),&apos;0&apos; ,&apos;&apos;) + {!$Record.SBI_Secondary_Code_2__c}</expression>
    </formulas>
    <formulas>
        <name>fServiceEntityDE</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.extId_2__c}))</expression>
    </formulas>
    <formulas>
        <name>fServiceEntityFR</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.extId_6__c}))</expression>
    </formulas>
    <formulas>
        <name>fServiceEntityNL</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT(ISBLANK({!$Record.extId_1__c})),NOT(ISBLANK({!$Record.extId_5__c})))</expression>
    </formulas>
    <formulas>
        <name>fServiceEntityUK</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT(ISBLANK({!$Record.extId_3__c})),NOT(ISBLANK({!$Record.extId_4__c})))</expression>
    </formulas>
    <formulas>
        <name>fSortCodeUK</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Bank_Account_Number__c},IF((LEFT({!$Record.Bank_Account_Number__c},2) = &apos;GB&apos;), 9, 1), 6)</expression>
    </formulas>
    <formulas>
        <description>Formula to skip &apos;-&apos; VAT numbers for VAT calculation on orders and invoices</description>
        <name>fSub25VatNumber</name>
        <dataType>String</dataType>
        <expression>IF(OR(({!$Record.VAT_Number__c} = &apos;-&apos;),(LEN({!$Record.VAT_Number__c})&lt;=5)),&apos;&apos;,{!$Record.VAT_Number__c})</expression>
    </formulas>
    <formulas>
        <name>fVATNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.VAT_Number__c}),&apos;&apos;,IF(({!$Record.VAT_Number__c}=&apos;-&apos;), {!$Record.VAT_Number__c}, UPPER({!$Record.VAT_Number__c})))</expression>
    </formulas>
    <formulas>
        <name>fVisitingCountryCode</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.VisitingAddress__CountryCode__s}),BLANKVALUE(TEXT({!$Record.VisitingAddress__CountryCode__s}),BLANKVALUE({!$User.DefaultCountryCode__c},&apos;NL&apos;)))</expression>
    </formulas>
    <formulas>
        <name>fWSONEDossierNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WSONE_DATA__DossierNumber__c}),&apos;&apos;,UPPER(RIGHT((&apos;00000000&apos; +{!$Record.WSONE_DATA__DossierNumber__c}),8)))</expression>
    </formulas>
    <formulas>
        <name>fWSONESBIPrimary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WSONE_DATA__PrimarySBI__c}),&apos;&apos;,{!$Record.WSONE_DATA__PrimarySBI__c})</expression>
    </formulas>
    <formulas>
        <name>fWSONESBISecondary1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WSONE_DATA__SecondarySBI1__c}),&apos;&apos;,{!$Record.WSONE_DATA__SecondarySBI1__c})</expression>
    </formulas>
    <formulas>
        <name>fWSONESBISecondary2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WSONE_DATA__SecondarySBI2__c}),&apos;&apos;,{!$Record.WSONE_DATA__SecondarySBI2__c})</expression>
    </formulas>
    <formulas>
        <name>fWSONEVATNumber</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.WSONE_DATA__VATNumber__c}),&apos;&apos;,UPPER({!$Record.WSONE_DATA__VATNumber__c}))</expression>
    </formulas>
    <interviewLabel>rbb - Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the primary SBI Look Up</description>
        <name>dgr_01_Primary_SBI</name>
        <label>1. Primary SBI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_10_Commit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBI_Primary_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fSBIPrimaryAlternative</elementReference>
            </value>
        </filters>
        <object>ISIC_SBI__c</object>
        <outputAssignments>
            <assignToReference>$Record.SBI_Primary__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>sbiCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the secondary SBI 2 Look Up</description>
        <name>dgr_01_Secondary_SBI</name>
        <label>1. Secondary SBI 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_11_Commit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBI_Secondary_Code_1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fSBISecondary1Alternative</elementReference>
            </value>
        </filters>
        <object>ISIC_SBI__c</object>
        <outputAssignments>
            <assignToReference>$Record.SBI_Secondary_1__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>sbiCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the Secondary 2 SBI Look Up</description>
        <name>dgr_02_Secondary_SBI</name>
        <label>2. Secondary SBI 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_12_Commit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBI_Secondary_Code_2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbiCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fSBISecondary2Alternative</elementReference>
            </value>
        </filters>
        <object>ISIC_SBI__c</object>
        <outputAssignments>
            <assignToReference>$Record.SBI_Secondary_2__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>sbiCode__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Visiting_Country</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </variables>
    <variables>
        <name>vFinancialSystemReset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vVisitingAddressSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
