force-app/main/default/flows/rbb_CommunicationPreference.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_CompositeKey</name>
        <label>1. CompositeKey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CompositeKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompositeKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Google_Ads_Eligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Google_Ads_Eligible</name>
        <label>1. Google Ads Eligible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Google_Ads_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGoogleAdsEligible</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>cCategoryMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MARKETING</stringValue>
        </value>
    </constants>
    <description>Generic flow to update the base values</description>
    <environments>Default</environments>
    <formulas>
        <name>fCompositeKey</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Contact__c},{!$Record.Lead__c}) &amp; &quot;|&quot; &amp;
BLANKVALUE(TEXT({!$Record.Brand__c}), &quot;NONE&quot;) &amp; &quot;|&quot; &amp;
BLANKVALUE(TEXT({!$Record.Category__c}), &quot;NONE&quot;) &amp; &quot;|&quot; &amp;
BLANKVALUE(TEXT({!$Record.CommunicationType__c}), &quot;NONE&quot;) &amp; &quot;|&quot; &amp;
BLANKVALUE(TEXT({!$Record.Channel__c}), &quot;NONE&quot;) &amp; &quot;|&quot; &amp;
BLANKVALUE(TEXT({!$Record.BusinessLine__c}), &quot;NONE&quot;)</expression>
    </formulas>
    <formulas>
        <name>fGoogleAdsEligible</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Category__c}, &apos;MARKETING&apos;), {!$Record.IsEnabled__c})</expression>
    </formulas>
    <interviewLabel>rbb - Communication Preference {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Communication Preference</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_CompositeKey</targetReference>
        </connector>
        <object>CommunicationPreference__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
