force-app/main/default/flows/rbb_Voice_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_VoiceCall_Previous</name>
        <label>1. VoiceCall (Previous)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountContactRelationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.AccountContactRelationId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CallCenterRoutingMapId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.CallCenterRoutingMapId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QueueId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.QueueId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.Level_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.Level_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.Level_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Level_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.Level_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OperationalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_PreviousVoiceCall.OperationalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_CallType</name>
        <label>1. CallType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_CallType_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreviousCallId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_PreviousVoiceCall</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_01_Case_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contact_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Contact</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Sets values on call transfer</description>
    <environments>Default</environments>
    <interviewLabel>rbb - Voice Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Voice Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_PreviousVoiceCall</name>
        <label>1. VoiceCall (Previous)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_VoiceCall_Previous</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreviousCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_CallType</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>301</triggerOrder>
</Flow>
