force-app/main/default/flows/rbb_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_1_Article_Number_Exact</name>
        <label>1. Article Number (Exact)</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Article_Number_Exact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fArticle_Number</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Product_Number</name>
        <label>1. Product Number</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsActive</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_1_Article_Number_Exact</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Generic record flow on create and update before save</description>
    <environments>Default</environments>
    <formulas>
        <name>fArticle_Number</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ProductCode}),&apos;&apos;,{!$Record.ProductCode})</expression>
    </formulas>
    <interviewLabel>rbb - Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Product_Number</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
