force-app/main/default/flows/rbb_OrderItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_AlternativeAccountingStartDate</name>
        <label>1. Alternative Accounting Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Alternative_Accounting_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAlternativeAccountingStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_AlternativeAccountingStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_BeforeCurrentClosed</name>
        <label>1. BeforeCurrentClosed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentFinancialYearStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_AlternativeAccountingStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_AlternativeAccountingStartDate</name>
        <label>1. Commit (Alternative Accounting Start Date)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_EndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Valid</name>
        <label>1. Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_AlternativeAccountingStartDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_AlternativeAccountingEndDate</name>
        <label>2. Alternative Accounting End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subscription25__Alternative_Accounting_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAlternativeAccountingEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit_AlternativeAccountingEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_BeforeCurrentClosed</name>
        <label>2. BeforeCurrentClosed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentFinancialYear1stMonthEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_AlternativeAccountingEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_BeforePreviousOpen</name>
        <label>2. BeforePreviousOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentFinancialYear1stMonthEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_AlternativeAccountingEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit_AlternativeAccountingEndDate</name>
        <label>2. Commit (Alternative Accounting End Date)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Valid</name>
        <label>2. Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_AlternativeAccountingEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_1_BeforePreviousOpen</name>
        <label>1. BeforePreviousOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAlternativeAccountingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPreviousFinancialYearStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_AlternativeAccountingStartDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_EndDate</name>
        <label>1. EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_EndDate_Check</name>
            <conditionLogic>1 AND ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_02_EndDate</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_StartDate</name>
        <label>1. StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_StartDate_Check</name>
            <conditionLogic>1 AND ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_02_StartDate</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_EndDate</name>
        <label>2. EndDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>dec_02_EndDate_BeforePreviousOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fPreviousFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_BeforePreviousOpen</targetReference>
            </connector>
            <label>BeforePrevious - Open</label>
        </rules>
        <rules>
            <name>dec_02_EndDate_BeforeCurrentClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fCurrentFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_BeforeCurrentClosed</targetReference>
            </connector>
            <label>BeforeCurrent - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_StartDate</name>
        <label>2. StartDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>dec_02_StartDate_BeforePreviousOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fPreviousFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_1_BeforePreviousOpen</targetReference>
            </connector>
            <label>BeforePrevious - Open</label>
        </rules>
        <rules>
            <name>dec_02_StartDate_BeforeCurrentClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fCurrentFinancialYearStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPreviousFinancialYearStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_BeforeCurrentClosed</targetReference>
            </connector>
            <label>BeforeCurrent - Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fCurrentFinancialYear1stMonthEndDate</name>
        <dataType>Date</dataType>
        <expression>(ADDMONTHS({!fCurrentFinancialYearStartDate},1) - 1)</expression>
    </formulas>
    <formulas>
        <name>fCurrentFinancialYearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>fPreviousFinancialYearStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE((YEAR({!$Flow.CurrentDate}) - 1),1,1)</expression>
    </formulas>
    <formulas>
        <name>fPreviousFinancialYearStatus</name>
        <dataType>String</dataType>
        <expression>IF(({!$Flow.CurrentDate}&gt;(ADDMONTHS({!fCurrentFinancialYearStartDate},VALUE(BLANKVALUE({!vPreviousFinancialYearClosingPeriod},&apos;1&apos;)))-1)),&apos;Closed&apos;,&apos;Open&apos;)</expression>
    </formulas>
    <interviewLabel>rbb - OrderItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - OrderItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Financial_Setting</name>
        <label>1. Financial Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_StartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>previousFinancialYearClosingPeriod</stringValue>
            </value>
        </filters>
        <object>financialSetting__mdt</object>
        <outputAssignments>
            <assignToReference>vPreviousFinancialYearClosingPeriod</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Financial_Setting</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>vAlternativeAccountingEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAlternativeAccountingStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vPreviousFinancialYearClosingPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
