force-app/main/default/flows/rbb_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Defaults</name>
        <label>1. Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DefaultReseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultCurrency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DefaultCurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultSalesChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultMarket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Market__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultApproverFinance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fApproverFinance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultApproverOperations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fApproverOperations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultApproverSales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fApproverSales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultApproverService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fApproverService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fApproverFinance</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.ApprovalRoles__c},&apos;Finance&apos;)</expression>
    </formulas>
    <formulas>
        <name>fApproverOperations</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.ApprovalRoles__c},&apos;Operations&apos;)</expression>
    </formulas>
    <formulas>
        <name>fApproverSales</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.ApprovalRoles__c},&apos;Sales&apos;)</expression>
    </formulas>
    <formulas>
        <name>fApproverService</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!$Record.ApprovalRoles__c},&apos;Service&apos;)</expression>
    </formulas>
    <formulas>
        <name>fLanguage</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Reseller__c}),&apos;2&apos;,&apos;en&apos;,&apos;5&apos;,&apos;de&apos;,&apos;6&apos;,&apos;en&apos;,&apos;nl&apos;)
/*LOWER(LEFT(TEXT({!$Record.LanguageLocaleKey}),2))*/</expression>
    </formulas>
    <interviewLabel>rbb - User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbb - User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Defaults</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
