force-app/main/default/flows/rbc_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asa_01_Base_Values</name>
        <label>1. Base Values  (Queue)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBaseLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQueueLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseServiceEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQueueServiceEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Last_Status_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Asset_Entity</name>
        <label>1. Entity (Asset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Asset_Hardware</name>
        <label>1. Hardware (Asset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Asset_None</name>
        <label>1. None (Asset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Base_Queue</name>
        <label>1. Base Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Base_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asa_01_Base_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Basic_Values</name>
        <label>1. Basic (Values)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Language</name>
        <label>1. Case Language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCaseLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSalesforceLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Language_Templates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTemplateLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCaseServiceEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Case_Owner</name>
        <label>1. Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fProcessOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CaseTransfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Base_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit_RecordType</name>
        <label>1. Commit (Record Type)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Customer_Values</name>
        <label>1. Customer Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCustomerLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCustomerLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCustomerServiceEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCustomerServiceEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Case_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Do_NOT_Allow_Auto_Response</name>
        <label>1. Do NOT Allow Auto Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allow_Auto_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_G4S_Values</name>
        <label>1. G4S Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Security</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G4S Alarm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAdministration1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Last Status Change field can be used as the moment the case was added in routing either as New or Response Received.</description>
        <name>ass_01_Last_Status_Change</name>
        <label>1. Last Status Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When not an email to case, then reset the values below</description>
        <name>ass_01_Origin_2_Phone</name>
        <label>1. Origin 2 Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_re_Allow_Auto_Response</name>
        <label>1. (re)Allow Auto Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allow_Auto_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_re_Set_Email_Warning_Mark</name>
        <label>1. (re)Set Email Warning Mark</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Warning_Mark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rEmailWarningMark.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Checks_Email_Warning_Marks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Status to Canceled</description>
        <name>ass_01_Status_2_Canceled</name>
        <label>1. Status 2 Canceled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Status_2_Spam</name>
        <label>1. Status 2 Spam</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Last_Queue_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Customer_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Asset_Identifier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_2_Base_Values</name>
        <label>2. Base Values (User)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBaseLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.DefaultLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseServiceEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.DefaultReseller__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Last_Status_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Entity_Asset</name>
        <label>1. Entity (Asset)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHardware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X1_Entity_Hardware</name>
        <label>1. Entity (Hardware)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHardware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>cOwnerTypeQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Asset_Identifier</name>
        <label>1. Asset Identifier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Identifier_OK</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entity_Identifier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serial_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Asset</targetReference>
            </connector>
            <label>Entity Identified / Serial Number</label>
        </rules>
        <rules>
            <name>Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Entity_Asset</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hardware__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hardware__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X1_Entity_Hardware</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Asset_Type</name>
        <label>1. Asset Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Asset_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Type_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAsset.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset_Entity</targetReference>
            </connector>
            <label>Entity</label>
        </rules>
        <rules>
            <name>dec_01_Asset_Type_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAsset.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset_Hardware</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Base_Queue</name>
        <label>1. Base Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_2_Base_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Base_Queue_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fOwnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cOwnerTypeQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Base_Queue</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if email is supplied, when not, origin is set back to phone</description>
        <name>dec_01_Check_Email_Adress</name>
        <label>1. Check Email Adress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Origin_2_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>dec_01_Check_Email_Adress_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Email_Warning_Mark</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Email Warning Mark</description>
        <name>dec_01_Check_Email_Warning_Mark</name>
        <label>1. Check Email Warning Mark</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_re_Allow_Auto_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>dec_01_Check_Email_Warning_Mark_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEmailWarningMark.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rEmailWarningMark.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_re_Set_Email_Warning_Mark</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nothing is strange setting when record is set, 1 or 2 settings should be switched on</description>
        <name>dec_01_Checks_Email_Warning_Marks</name>
        <label>1. Checks Email Warning Marks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_re_Allow_Auto_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEmailWarningMark.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rEmailWarningMark.Subject_String__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fSubject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Status_2_Canceled</targetReference>
            </connector>
            <label>Subject</label>
        </rules>
        <rules>
            <name>dec_01_Checks_Email_Warning_Marks_Spam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEmailWarningMark.Spam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Status_2_Spam</targetReference>
            </connector>
            <label>Spam</label>
        </rules>
        <rules>
            <name>dec_01_Checks_Email_Warning_Marks_Block_Auto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rEmailWarningMark.Block_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Do_NOT_Allow_Auto_Response</targetReference>
            </connector>
            <label>Block Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sets Skill Assignment field which determines skills on cases. Sets special values on G4S cases and ignores cases where values when Voicemail queue has been set.</description>
        <name>dec_01_Last_Queue_Check</name>
        <label>1. Last Queue Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Basic_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Basic (Values)</defaultConnectorLabel>
        <rules>
            <name>dec_01_Last_Queue_Check_G4S</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@nl.g4s.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Classification_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G4S Alarm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_G4S_Values</targetReference>
            </connector>
            <label>G4S</label>
        </rules>
        <rules>
            <name>dec_01_Last_Queue_Check_Ignore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>miscG4S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoicemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Origin</targetReference>
            </connector>
            <label>Ignore (Values)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Origin of the Case  on create</description>
        <name>dec_01_Origin</name>
        <label>1. Origin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>dec_01_Origin_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Check_Email_Adress</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_QueueId</name>
        <label>1. vQueueId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Base_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_QueueId_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Owner</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_RecordType</name>
        <label>1. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_RecordType_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_RecordType</targetReference>
            </connector>
            <label>Select</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Transfer</name>
        <label>1. Transfer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Base_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Transfer_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseTransfer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>removed the rest of the Gen256 shit
Added ServiceEnitity__c (Reseller__c) to allow multiple service environments
Flow checks all incomming email cases on create. 
Reassign Queue for email cases based on the subject
It also sets the flag for sending out the auto response mail</description>
    <environments>Default</environments>
    <formulas>
        <name>fAccountId</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!$Record.Asset.AccountId}), ISBLANK({!$Record.AccountId}), NOT({!$Record.Hardware__r.Account_Hardware__r.Name} = &apos;NO-NAME&apos;)), {!$Record.Hardware__r.Account_Hardware__c},
IF(ISBLANK({!$Record.AccountId}), {!$Record.Asset.AccountId}, {!$Record.AccountId}))</expression>
    </formulas>
    <formulas>
        <name>fCaseLanguage</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vCustomerLanguage},BLANKVALUE({!vBaseLanguage},&apos;en&apos;))</expression>
    </formulas>
    <formulas>
        <name>fCaseServiceEntity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vCustomerServiceEntity},BLANKVALUE({!vBaseServiceEntity},&apos;1&apos;))</expression>
    </formulas>
    <formulas>
        <name>fContactId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ContactId}, {!$Record.Asset.ContactId})</expression>
    </formulas>
    <formulas>
        <name>fCustomerLanguage</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Contact.Language__c}),BLANKVALUE(TEXT({!$Record.Account.Sales_Language__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fCustomerServiceEntity</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.AccountId})),TEXT({!$Record.Account.Reseller_Name__c}),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fDomain</name>
        <dataType>String</dataType>
        <expression>RIGHT({!fEmail}, ( LEN({!fEmail}) - FIND(&apos;@&apos;,{!fEmail})))</expression>
    </formulas>
    <formulas>
        <name>fEmail</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.SuppliedEmail})</expression>
    </formulas>
    <formulas>
        <name>fEntityIdentifier_Modified</name>
        <dataType>String</dataType>
        <expression>UPPER(SUBSTITUTE({!$Record.Entity_Identifier__c},&apos;-&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fHardware</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!$Record.Hardware__c}), NOT(ISBLANK({!$Record.AssetId}))), {!$Record.Asset.ParentId}, {!$Record.Hardware__c} )</expression>
    </formulas>
    <formulas>
        <description>Determine Owner Type based of the Object Identifier of the OwnerId</description>
        <name>fOwnerType</name>
        <dataType>String</dataType>
        <expression>Left({!$Record.OwnerId},3)</expression>
    </formulas>
    <formulas>
        <name>fProcessOwner</name>
        <dataType>String</dataType>
        <expression>blankvalue({!$Record.OwnerId},{!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>fQueueIdentifier</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(IF(ISNUMBER(RIGHT({!$Record.Base_Queue__c},1)),RIGHT({!$Record.Base_Queue__c},1),&apos;&apos;),&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>fQueueLanguage</name>
        <dataType>String</dataType>
        <expression>CASE({!fQueueIdentifier}, &apos;0&apos;, &apos;nl&apos;, &apos;1&apos;, &apos;nl&apos;, &apos;4&apos;, &apos;fr&apos;,&apos;5&apos;, &apos;de&apos;,&apos;en&apos;)</expression>
    </formulas>
    <formulas>
        <name>fQueueServiceEntity</name>
        <dataType>String</dataType>
        <expression>CASE({!fQueueIdentifier}, &apos;0&apos;, &apos;1&apos;, &apos;2&apos;, &apos;1&apos;, &apos;3&apos;, &apos;1&apos;,RIGHT({!$Record.Base_Queue__c},1))</expression>
    </formulas>
    <formulas>
        <name>fSalesforceLanguage</name>
        <dataType>String</dataType>
        <expression>CASE(LOWER({!vCaseLanguage}),&apos;nl&apos;,&apos;nl_NL&apos;,&apos;en&apos;,&apos;en_US&apos;,LOWER({!vCaseLanguage}))</expression>
    </formulas>
    <formulas>
        <name>fSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Subject}, LEN({!rEmailWarningMark.Subject_String__c}))</expression>
    </formulas>
    <formulas>
        <name>fTemplateLanguage</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT(BLANKVALUE({!vCaseLanguage},&apos;en&apos;),2))</expression>
    </formulas>
    <formulas>
        <name>fUserName</name>
        <dataType>String</dataType>
        <expression>LEFT({!fEmail}, (FIND(IF(AND((FIND(&apos;+&apos;,{!fEmail}) &gt; 0),FIND(&apos;+&apos;,{!fEmail})&lt;FIND(&apos;@&apos;,{!fEmail})),&apos;+&apos;,&apos;@&apos;),{!fEmail}) - 1))</expression>
    </formulas>
    <interviewLabel>rbc - Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbc - Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Asset</name>
        <label>1. Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Asset_Type</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entity</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>rAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>System_Platform__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Email_Warning_Mark</name>
        <label>1. Email Warning Mark</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Check_Email_Warning_Mark</targetReference>
        </connector>
        <filterLogic>(((1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (8 AND 2)) AND 7)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Warning_Mark__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domain</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Warning_Mark__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Username</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Warning_Mark__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </filters>
        <object>Email_Warning_Mark__c</object>
        <outputReference>rEmailWarningMark</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Spam__c</queriedFields>
        <queriedFields>Block_Auto_Response__c</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <queriedFields>Email_Warning_Mark__c</queriedFields>
        <queriedFields>Subject_String__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_QueueId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseTransfer__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>X1_RecordType</name>
        <label>1. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Commit_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_RecordType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Asset record variable</description>
        <name>rAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>rEmailWarningMark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Warning_Mark__c</objectType>
    </variables>
    <variables>
        <name>vBaseLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBaseServiceEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCustomerLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerServiceEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
