force-app/main/default/flows/rbc_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Account_Financial_Ready</name>
        <label>1. Account Financial Ready</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.isAccountFinancialReady__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountFinancialReady</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Account_Owner</name>
        <label>1. Account Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Close_Date</name>
        <label>1. Close Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Defaults</name>
        <label>1. Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCustomerReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Leadsource</name>
        <label>1. Leadsource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Integration_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Licence_Plate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLicencePlate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_re_Set_Values</name>
        <label>1. (re)Set Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Option_Show_Activation_Fee_Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOptionActivationFeeRemark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Option_Show_Compressed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOptionCompresed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Account_Financial_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Webshop_Defaults</name>
        <label>1. Webshop Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Internal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sales@movingintelligence.nl</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Webshop</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Use_ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDifferentShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Webshop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Leadsource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Account_Relation_Type_End_User</name>
        <label>1. Account Relation Type - End User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Leadsource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Account_Relation_Type_End_User_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Relation_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_RecordType</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Close_Date</name>
        <label>1. Close Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>dec_01_Close_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fCloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Generated_by_Process_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Close_Date</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Integration_User</name>
        <label>1. Integration User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Integration_User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Leadsource</name>
        <label>1. Leadsource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Leadsource_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Leadsource</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Licence_Plate_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Licence_Plate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Licence_Plate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Licence_Plate</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Recordtype</name>
        <label>1. Recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Leadsource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Recordtype_Webshop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webshop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Webshop_Defaults</targetReference>
            </connector>
            <label>Webshop</label>
        </rules>
        <rules>
            <name>Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Account_Relation_Type_End_User</targetReference>
            </connector>
            <label>Insurance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fAccountFinancialReady</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
	OR(
		/* Account requirements */
		OR( 
			ISBLANK( {!$Record.AccountId} ), 
			ISBLANK( {!$Record.Account.FinancialDebtorNumber__c})
		),
		/* Bank Details*/
		AND(
			OR(
				(LEFT(UPPER(TEXT( {!$Record.Payment_Method__c} )),1) = &apos;I&apos;), 
				(UPPER(TEXT( {!$Record.Payment_Method__c} )) = &apos;P0&apos;)
			), 
			OR (
				ISBLANK( {!$Record.Account.Bank_Account_Number__c} ), 
				ISBLANK( {!$Record.Account.Bank_Account__c} )
			)
		),
		/* Billing Address */
		OR (
			ISBLANK( {!$Record.Account.BillingStreet} ), 
			ISBLANK( {!$Record.Account.BillingPostalCode} ), 
			ISBLANK( {!$Record.Account.BillingCity} )
		), 
		/* Shipping Address */
		OR (
			ISBLANK( {!$Record.Account.ShippingStreet} ), 
			ISBLANK( {!$Record.Account.ShippingPostalCode} ), 
			ISBLANK( {!$Record.Account.ShippingCity} )
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>fCloseDate</name>
        <dataType>Date</dataType>
        <expression>(TODAY() + 30)</expression>
    </formulas>
    <formulas>
        <name>fCustomerReference</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.Customer_Reference__c})),(LEN({!$Record.Customer_Reference__c})=13),(LEFT({!$Record.Customer_Reference__c},1)=&apos;2&apos;),(MID({!$Record.Customer_Reference__c},5,1)=&apos;-&apos;)),&apos;&apos;,{!$Record.Customer_Reference__c})</expression>
    </formulas>
    <formulas>
        <name>fDifferentShippingAddress</name>
        <dataType>Boolean</dataType>
        <expression>({!$Record.woo_Different_Shipping_Address__c} &lt;&gt; 0)</expression>
    </formulas>
    <formulas>
        <name>fLicencePlate</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(UPPER(TRIM({!$Record.Licence_Plate__c}) ) ,&apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fMarket</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;
/*IF(OR(ISPICKVAL($Record.Account.Reseller_Name__c,&apos;1&apos;),ISPICKVAL($Record.Account.Reseller_Name__c,&apos;5&apos;)),&apos;&apos;,Text($Record.Account.Market__c))*/</expression>
    </formulas>
    <formulas>
        <name>fOptionActivationFeeRemark</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISPICKVAL({!$Record.Account.Reseller_Name__c},&apos;6&apos;)),NOT(ISPICKVAL({!$Record.Account.Reseller_Name__c},&apos;4&apos;)),
OR(ISPICKVAL({!$Record.Type},&apos;Standard&apos;), ISPICKVAL({!$Record.Type},&apos;Insurance&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>fOptionCompresed</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.Type},&apos;Webshop&apos;)</expression>
    </formulas>
    <formulas>
        <name>fPaymentMethod</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Payment_Method__c}),BLANKVALUE(TEXT({!$Record.Account.Payment_Method_Opportunities__c}), IF(ISBLANK({!$Record.Account.Bank_Account_Number__c}),&apos;08&apos;, IF((BLANKVALUE(TEXT({!$Record.Account.Reseller_Name__c}),BLANKVALUE({!$User.DefaultReseller__c},&apos;1&apos;))=&apos;6&apos;),&apos;I0&apos;,&apos;I8&apos;))
))</expression>
    </formulas>
    <formulas>
        <name>fPricebookType</name>
        <dataType>String</dataType>
        <expression>CASE(text({!$Record.Account.Relation_type__c})
,&apos;Distributor&apos;,  &apos;Distributors&apos;
,&apos;Dealer&apos;,&apos;Dealers&apos;
,&apos;Intercompany&apos;,&apos;Intercompany&apos;
,&apos;Leasing Company&apos;,&apos;Leasing Companies&apos;
,&apos;High Volume&apos;,&apos;High Volume (Consumer &amp; Business Users)&apos;
,&apos;End User&apos;,IF(({!$Record.RecordType.DeveloperName} = &apos;Insurance_Opportunity&apos;), &apos;Insurance Companies&apos;,&apos;Consumer &amp; Business Users&apos;)
,&apos;Consumer &amp; Business Users&apos;)</expression>
    </formulas>
    <interviewLabel>rbc - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbc - Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Administration</name>
        <label>1. Administration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_re_Set_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reseller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Reseller_Name__c</elementReference>
            </value>
        </filters>
        <object>Subscription25__Administration__c</object>
        <outputAssignments>
            <assignToReference>$Record.Administration__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Pricebook</name>
        <label>1. Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Administration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fPricebookType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reseller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Reseller_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fMarket</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_RecordType</name>
        <label>1. RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Leadsource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Defaults</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
