force-app/main/default/flows/rbc_Messaging_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Phone</name>
        <label>Set Phone</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MessagingPlatformKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messing_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>rbc - Messaging User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbc - Messaging User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Messing_User</name>
        <label>Update Messing User</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Phone__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice</stringValue>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
