force-app/main/default/flows/rbc_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_baseURL</name>
        <label>1. baseURL (construct)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBaseURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseURLStripQuestionMark</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseURLStripHash</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseURLStripForwardSlash</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_baseURL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Form_title_Empty_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Company</name>
        <label>1. Company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompany</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Format_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Currency</name>
        <label>1. Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_productID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_doBaseParams</name>
        <label>1. doBaseParams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.doBaseParams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Form_Host_Clean</name>
        <label>1. form Host (Clean)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vFormHost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFormHostClean</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_baseURL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Format_Email</name>
        <label>1. Format Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_formType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Format_Name1</name>
        <label>1. Format Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_formDefaults</name>
        <label>1. formDefaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLastNameEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompanyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Format_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_formHost</name>
        <label>1. formHost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vFormHost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.formHost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_formHost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Plate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLicencePlate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Marketing_Lead</name>
        <label>1. Marketing Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Owner</name>
        <label>1. Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vGroupID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Process_Defaults</name>
        <label>1. Process Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCheckRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Repair_Host_URL</name>
        <label>1. Repair Host URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.formHost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://www.movingintelligence.nl/contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_formHost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Reseller</name>
        <label>1. Reseller</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReseller</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Sales_lead_Defaults</name>
        <label>1. Sales lead Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DoNotEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Upgraded_to_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_baseParams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Source</name>
        <label>1.  Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSourceStrip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Reseller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Website_Hook_2_Lead</name>
        <label>1. Website Hook 2 Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website_Hook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Defined_Website_Hook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_baseURL</name>
        <label>2. baseURL (record)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.baseURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBaseURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.baseParams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseParams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_productID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Marketing_Lead</name>
        <label>2. Marketing Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>??Ask on Contact??</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Repair_Host_URL</name>
        <label>2. Repair Host URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.formHost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://www.movingintelligence.nl/rittenregistratiesysteem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_formHost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Website_Hook_2_Lead</name>
        <label>2. Website Hook 2 Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.Market__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.objectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.objectType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Website_Hook.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMarketingLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Marketing_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Website_Hook</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cQueueMarketing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqMarketing</stringValue>
        </value>
    </constants>
    <constants>
        <name>cQueueSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqSales</stringValue>
        </value>
    </constants>
    <constants>
        <name>cURLDelimiter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_baseParams</name>
        <label>1. baseParams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_baseParams_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.baseParams__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.baseParams__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_doBaseParams</targetReference>
            </connector>
            <label>Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Company</name>
        <label>1. Company</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Format_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Company_Set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCompanyLength</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCompanyBrackets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Company</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Defined_Website_Hook</name>
        <label>1. Defined (Website Hook)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Defined_Website_Hook_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Website_Hook.Defined__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Website_Hook_2_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Form_title_Empty_URL</name>
        <label>1. Form title (old) empty URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_formHost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Form_title_Empty_URL_Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contactformulier www.movingintelligence.nl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formHost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formHost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Repair_Host_URL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>dec_01_Form_title_Empty_URL_White_paper</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>whitepaper rittenregistratie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formHost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formHost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Repair_Host_URL</targetReference>
            </connector>
            <label>White paper</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Format_Email</name>
        <label>1. Format Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_formType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Format_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Format_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Format_Name</name>
        <label>1. Format Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Format_Name_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Format_Name1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_formHost</name>
        <label>1. formHost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_productID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_hostURL_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFormHost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vFormHost</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Form_Host_Clean</targetReference>
            </connector>
            <label>Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_formType</name>
        <label>1. formType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Process_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_formType_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.formType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_formDefaults</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Lead_Source</name>
        <label>1. Lead Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Format_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Lead_Source_Lead_Forensics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Forensics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_02_Record_Type</targetReference>
            </connector>
            <label>Lead Forensics</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Licence_Plate_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Plate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Plate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Licence_Plate</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Marketing_Lead</name>
        <label>1. Marketing Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Marketing_Lead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMarketingLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCheckRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_productID</name>
        <label>1. productID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_productID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.formProductId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.formProductId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Product</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Sales</name>
        <label>1. Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_baseParams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Sales_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Sales_lead_Defaults</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_vGroupID</name>
        <label>1. vGroupID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Filled</defaultConnectorLabel>
        <rules>
            <name>dec_01_vGroupID_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vGroupID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Owner</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Website_Hook</name>
        <label>1. Website Hook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Website_Hook_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Website_Hook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dgr_01_Website_Hook.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dgr_01_Website_Hook.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Website_Hook_2_Lead</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Generic record flow for leads on create before save</description>
    <environments>Default</environments>
    <formulas>
        <name>fBaseParams</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos;?&apos;,{!vFormHost}) &gt; 1), RIGHT({!vFormHost},(LEN({!vFormHost}) - FIND(&apos;?&apos;,{!vFormHost}))),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fBaseURLStripForwardSlash</name>
        <dataType>String</dataType>
        <expression>IF((RIGHT({!vBaseURL},1) = &apos;/&apos;), LEFT({!vBaseURL},(LEN({!vBaseURL}) -1 )),{!vBaseURL})</expression>
    </formulas>
    <formulas>
        <name>fBaseURLStripHash</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos;#&apos;,{!vBaseURL}) &gt; 1), LEFT({!vBaseURL},(FIND(&apos;#&apos;,{!vBaseURL}) -1 )),{!vBaseURL})</expression>
    </formulas>
    <formulas>
        <name>fBaseURLStripQuestionMark</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos;?&apos;,{!vFormHost}) &gt; 1), LEFT({!vFormHost},(FIND(&apos;?&apos;,{!vFormHost}) -1 )),{!vFormHost})</expression>
    </formulas>
    <formulas>
        <name>fCompany</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.FirstName}) + &apos; &apos; + TRIM({!$Record.MiddleName}) + IF(ISBLANK({!$Record.MiddleName}),&apos;&apos;,&apos; &apos;) + TRIM({!$Record.LastName})</expression>
    </formulas>
    <formulas>
        <name>fCompanyBrackets</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!$Record.Company}),1) + RIGHT(TRIM({!$Record.Company}),1)</expression>
    </formulas>
    <formulas>
        <name>fCompanyLength</name>
        <dataType>Number</dataType>
        <expression>LEN(TRIM({!$Record.Company}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fCompanyName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Company},{!fLastNameEmail})</expression>
    </formulas>
    <formulas>
        <name>fContactName</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.FirstName}) + &apos; &apos; + TRIM({!$Record.MiddleName}) + IF(ISBLANK({!$Record.MiddleName}),&apos;&apos;,&apos; &apos;) + TRIM({!$Record.LastName})</expression>
    </formulas>
    <formulas>
        <name>fCurrency</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Reseller__c},&apos;6&apos;),&apos;GBP&apos;,&apos;EUR&apos;)</expression>
    </formulas>
    <formulas>
        <name>fEmail</name>
        <dataType>String</dataType>
        <expression>LOWER(TRIM({!$Record.Email}))</expression>
    </formulas>
    <formulas>
        <name>fFirstName</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos; &apos;,{!vName}) &gt; 1),LEFT({!vName},(FIND(&apos; &apos;,{!vName}) - 1)),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fFormHostClean</name>
        <dataType>String</dataType>
        <expression>trim(left(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!vFormHost},&apos;/dev.&apos;,&apos;/&apos;),&apos;/acc.&apos;,&apos;/&apos;),&apos;/new.&apos;,&apos;/&apos;),&apos;/www.&apos;,&apos;/&apos;),255))</expression>
    </formulas>
    <formulas>
        <name>fInstallationNotes</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} + &quot; - &quot; + {!$Record.Phone} +&quot; - &quot; + {!$Record.MobilePhone} + &quot; - &quot; + {!$Record.Installation_Street__c} + &quot; - &quot; + {!$Record.Installation_City__c} + &quot; - &quot; + {!$Record.Installation_postalcode__c} + &quot; - &quot; + TEXT({!$Record.Brand__c}) + &quot; - &quot; + {!$Record.Model__c} + &quot; - &quot; + {!$Record.License_Plate__c} + &quot; - &quot; + {!$Record.VIN_short__c}</expression>
    </formulas>
    <formulas>
        <name>fLastName</name>
        <dataType>String</dataType>
        <expression>IF((FIND(&apos; &apos;,REVERSE({!vName})) &gt; 1),RIGHT({!vName},(FIND(&apos; &apos;,REVERSE({!vName})) - 1)),{!vName})</expression>
    </formulas>
    <formulas>
        <name>fLastNameEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.FormType__c}, &apos;whitePaper&apos;),{!$Record.Email},IF(ISPICKVAL({!$Record.FormType__c}, &apos;newsLetter&apos;),BLANKVALUE({!$Record.LastName},{!$Record.Email} ),{!$Record.LastName}))</expression>
    </formulas>
    <formulas>
        <name>fLeadSource</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.LeadSource}), &apos;Movingintelligence.nl&apos;)</expression>
    </formulas>
    <formulas>
        <name>fLicencePlate</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(UPPER(TRIM({!$Record.License_Plate__c}) ) ,&apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fMiddleName</name>
        <dataType>String</dataType>
        <expression>IF(((LEN({!vName}) - (LEN({!vFirstName}) + LEN({!vLastName}))) &gt; 1),LOWER(TRIM(MID({!vName}, (LEN({!vFirstName}) + 1), (LEN({!vName}) - (LEN({!vFirstName}) + LEN({!vLastName})))))),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fName</name>
        <dataType>String</dataType>
        <expression>TRIM({!$Record.LastName})</expression>
    </formulas>
    <formulas>
        <name>fQueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>IF({!dec_01_Lead_Source_Lead_Forensics}
,
{!cQueueMarketing}
, 
IF({!dec_01_Marketing_Lead_Yes},{!cQueueMarketing},{!cQueueSales}) + BLANKVALUE(TEXT({!$Record.Reseller__c}), &apos;1&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>fReseller</name>
        <dataType>String</dataType>
        <expression>if((right(TEXT({!$Record.LeadSource}),6)=&apos;.co.uk&apos;),&apos;6&apos;,if((right(TEXT({!$Record.LeadSource}),3)=&apos;.de&apos;),&apos;5&apos;,if((right(TEXT({!$Record.LeadSource}),3)=&apos;.fr&apos;),&apos;4&apos;,if((right(TEXT({!$Record.LeadSource}),3)=&apos;.be&apos;),&apos;3&apos;,if((right(TEXT({!$Record.LeadSource}),3)=&apos;.gr&apos;),&apos;2&apos;,&apos;1&apos;)))))</expression>
    </formulas>
    <formulas>
        <name>fSourceBase</name>
        <dataType>String</dataType>
        <expression>IF((FIND(SUBSTITUTE(SUBSTITUTE({!$Record.baseURL__c}, &apos;https://&apos;, &apos;&apos;), &apos;http://&apos;, &apos;&apos;),&apos;/&apos;) &gt; 2)
,
LEFT(SUBSTITUTE(SUBSTITUTE({!$Record.baseURL__c}, &apos;https://&apos;, &apos;&apos;), &apos;http://&apos;, &apos;&apos;),(FIND(SUBSTITUTE(SUBSTITUTE({!$Record.baseURL__c}, &apos;https://&apos;, &apos;&apos;), &apos;http://&apos;, &apos;&apos;),&apos;/&apos;) - 1))
,
SUBSTITUTE(SUBSTITUTE({!$Record.baseURL__c}, &apos;https://&apos;, &apos;&apos;), &apos;http://&apos;, &apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>fSourceStrip</name>
        <dataType>String</dataType>
        <expression>IF((FIND({!cURLDelimiter},{!vSource}) &gt; 2)
,
LEFT({!vSource},(FIND({!cURLDelimiter},{!vSource}) - 1))
,
{!vSource}
)</expression>
    </formulas>
    <interviewLabel>rbc - Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbc - Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Group</name>
        <label>1. Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_vGroupID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fQueueDeveloperName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Product</name>
        <label>1. Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>extId_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.formProductId__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>$Record.Product__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Record_Type</name>
        <label>1. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Marketing_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Website_Hook</name>
        <label>1. Website Hook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Website_Hook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>extId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.baseURL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Website_Hooks__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_02_Record_Type</name>
        <label>2. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_02_Marketing_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Lead_Source</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>101</triggerOrder>
    <variables>
        <name>vBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCheckRecordType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFormHost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMarketingLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fSourceBase</elementReference>
        </value>
    </variables>
</Flow>
