force-app/main/default/flows/rbc_Subscription25_Invoice_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Send_by_Post</name>
        <label>1. Send by Post</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Send_by_Post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription25__Account__r.Invoice_Send_by_Post__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_01_Send_by_Post</name>
        <label>1. Send by Post</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Send_by_Post_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription25__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Send_by_Post</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <description>Generic flow before create:
1. Sets invoice by post</description>
    <environments>Default</environments>
    <interviewLabel>rbc - Subscription25_Invoice_c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbc - Subscription25_Invoice_c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Send_by_Post</targetReference>
        </connector>
        <object>Subscription25__Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>101</triggerOrder>
</Flow>
