force-app/main/default/flows/rbu_Lead_Generic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit_DeactivatedOn</name>
        <label>1. Commit (Deactivated on)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_DeactivatedOn</name>
        <label>1. Deactivated On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DeactivatedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDeactivatedOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit_DeactivatedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Installation_Notes</name>
        <label>1. Installation Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installation_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInstallationNotes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.License_Plate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLicencePlate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Installation_Notes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_01_Deactivated</name>
        <label>1. Deactivated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Licence_Plate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Deactivated_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deactivated__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_DeactivatedOn</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Licence_Plate</name>
        <label>1. Licence Plate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Installation_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_License_Plate_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Plate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Plate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Plate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Licence_Plate</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Generic record flow for leads update before save</description>
    <environments>Default</environments>
    <formulas>
        <name>fDeactivatedOn</name>
        <dataType>DateTime</dataType>
        <expression>IF({!$Record.Deactivated__c},{!$Flow.CurrentDateTime},null)</expression>
    </formulas>
    <formulas>
        <name>fInstallationNotes</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} + &quot; - &quot; + {!$Record.Phone} +&quot; - &quot; + {!$Record.MobilePhone} + &quot; - &quot; + {!$Record.Installation_Street__c} + &quot; - &quot; + {!$Record.Installation_City__c} + &quot; - &quot; + {!$Record.Installation_postalcode__c} + &quot; - &quot; + TEXT({!$Record.Brand__c}) + &quot; - &quot; + {!$Record.Model__c} + &quot; - &quot; + {!$Record.License_Plate__c} + &quot; - &quot; + {!$Record.VIN_short__c}</expression>
    </formulas>
    <formulas>
        <name>fLicencePlate</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(UPPER(TRIM({!$Record.License_Plate__c}) ) ,&apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>rbu - Lead - Generic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbu - Lead - Generic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Deactivated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>201</triggerOrder>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
