force-app/main/default/flows/rbu_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Asset_Entity</name>
        <label>1. Entity (Asset)</label>
        <locationX>50</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>$Record.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Asset_Hardware</name>
        <label>1. Hardware (Asset)</label>
        <locationX>314</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAsset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Asset_None</name>
        <label>1. None (Asset)</label>
        <locationX>578</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>$Record.Entity_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Case_Owner</name>
        <label>1. Case Owner</label>
        <locationX>556</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Owner__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CaseTransfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Asset_Identifier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Last_Status_Change</name>
        <label>Last Status Change</label>
        <locationX>710</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Date_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_Status_to_Investigation</name>
        <label>Status to Investigation</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Values</name>
        <label>Assign Account Values</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Reseller_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Sales_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Last_Queue_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Values</name>
        <label>Assign Contact Values</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactAccountMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.Reseller_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.Sales_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Last_Queue_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Queue_G4S</name>
        <label>Assign Last Queue G4S</label>
        <locationX>490</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqAdministration1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Security</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G4S Alarm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_is_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Requirement_Queue_Name</name>
        <label>Assign Skill Requirement: Queue Name</label>
        <locationX>930</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_is_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Scheduled</name>
        <label>Assign Status Scheduled</label>
        <locationX>710</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Change_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_as_Owner</name>
        <label>Assign User as Owner</label>
        <locationX>710</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Transfer_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Entity_Asset</name>
        <label>1. Entity (Asset)</label>
        <locationX>842</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHardware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>X1_Entity_Hardware</name>
        <label>1. Entity (Hardware)</label>
        <locationX>1106</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHardware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.System_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.System_Platform__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Change_Check</name>
        <label>Account Change Check</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>dec_Last_Queue_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Change</defaultConnectorLabel>
        <rules>
            <name>dec_AccountCheck_Account_Changed</name>
            <conditionLogic>((1 AND 2) OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ASR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Values</targetReference>
            </connector>
            <label>Account Changed</label>
        </rules>
        <rules>
            <name>Contact_Changed</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Values</targetReference>
            </connector>
            <label>Contact Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>dec_01_Transfer_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_Closed_on_Queue</name>
            <conditionLogic>(1 AND 2 AND 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_as_Owner</targetReference>
            </connector>
            <label>Case is Closed on Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Asset_Identifier</name>
        <label>1. Asset Identifier</label>
        <locationX>842</locationX>
        <locationY>2795</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Identifier_OK</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entity_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entity_Identifier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entity_Identifier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Entity_Identifier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serial_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Serial_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Serial_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Asset</targetReference>
            </connector>
            <label>Entity Identified / Serial Number</label>
        </rules>
        <rules>
            <name>Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Entity_Asset</targetReference>
            </connector>
            <label>Asset</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hardware__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Entity_Hardware</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Asset_Type</name>
        <label>1. Asset Type</label>
        <locationX>314</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>ass_01_Asset_None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_Asset_Type_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAsset.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset_Entity</targetReference>
            </connector>
            <label>Entity</label>
        </rules>
        <rules>
            <name>dec_01_Asset_Type_Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAsset.Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Asset_Hardware</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_QueueId</name>
        <label>1. vQueueId</label>
        <locationX>688</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>dec_01_Asset_Identifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_01_QueueId_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vQueueId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Case_Owner</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Status</name>
        <label>1. Status Ischanged</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Process_Date_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Investigation_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ass_Status_to_Investigation</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Last_Status_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Transfer_Case</name>
        <label>1. Transfer (case)</label>
        <locationX>842</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>dec_01_Asset_Identifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Transfer_Case_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseTransfer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTransfer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CaseTransfer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sets Skill Assignment field which determines skills on cases. Sets special values on G4S cases and ignores cases where values when Voicemail queue has been set.</description>
        <name>dec_Last_Queue_Set</name>
        <label>Last Queue Set</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Case_is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Misc_G4S</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@nl.g4s.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Classification_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G4S Alarm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Queue_G4S</targetReference>
            </connector>
            <label>Misc: G4S</label>
        </rules>
        <rules>
            <name>Misc_Ignore_Values</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqVoicemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>miscG4S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_Closed</targetReference>
            </connector>
            <label>Misc: Ignore Values</label>
        </rules>
        <rules>
            <name>Queue_Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Requirement_Queue_Name</targetReference>
            </connector>
            <label>Queue Owned</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_UserAssigned</name>
        <label>New Case User Assigned</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>dec_01_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_UserAssigned_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Default_Case_Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_Status_to_Investigation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updated status to Scheduled if Process Date was set</description>
        <name>Process_Date_Set</name>
        <label>Process Date Set</label>
        <locationX>842</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Account_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_Process_Date_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Process_date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Scheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Generic flow on case before update</description>
    <environments>Default</environments>
    <formulas>
        <name>fAccountId</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!$Record.Asset.AccountId}), ISBLANK({!$Record.AccountId}), NOT({!$Record.Hardware__r.Account_Hardware__r.Name} = &apos;NO-NAME&apos;)), {!$Record.Hardware__r.Account_Hardware__c},
IF(ISBLANK({!$Record.AccountId}), {!$Record.Asset.AccountId}, {!$Record.AccountId}))</expression>
    </formulas>
    <formulas>
        <name>fAccountMarket</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Account.extId_5__c}) = 0, &apos;Security&apos;, &apos;Fleet&apos;)</expression>
    </formulas>
    <formulas>
        <name>fContactAccountMarket</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Contact.Account.extId_5__c}) = 0, &apos;Security&apos;, &apos;Fleet&apos;)</expression>
    </formulas>
    <formulas>
        <name>fContactEmail</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(NOT(ISBLANK({!$Record.ContactId})), NOT(ISBLANK({!$Record.ContactEmail}))),
    {!$Record.ContactEmail},
    IF(
        AND(NOT(ISBLANK({!$Record.AccountId})), OR(NOT(ISBLANK({!$Record.Account.Billing_Email__c})), NOT(ISBLANK({!$Record.Account.Shipping_Email__c})))),
        IF(ISBLANK({!$Record.Account.Shipping_Email__c}), {!$Record.Account.Billing_Email__c}, {!$Record.Account.Shipping_Email__c}),
        {!$Record.SuppliedEmail}
    )
)</expression>
    </formulas>
    <formulas>
        <name>fContactId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
    {!$Record.ContactId},
    BLANKVALUE(
        {!$Record.Asset.ContactId},
        {!$Record.Asset.Account.Contact_person__r.Id}
    )
)</expression>
    </formulas>
    <formulas>
        <name>fDomain</name>
        <dataType>String</dataType>
        <expression>RIGHT({!fEmail}, ( LEN({!fEmail}) - FIND(&apos;@&apos;,{!fEmail})))</expression>
    </formulas>
    <formulas>
        <name>fEmail</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.SuppliedEmail})</expression>
    </formulas>
    <formulas>
        <name>fEntityIdentifier_Modified</name>
        <dataType>String</dataType>
        <expression>UPPER(SUBSTITUTE({!$Record.Entity_Identifier__c},&apos;-&apos;,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fHardware</name>
        <dataType>String</dataType>
        <expression>IF(AND(ISBLANK({!$Record.Hardware__c}), NOT(ISBLANK({!$Record.AssetId}))), {!$Record.Asset.ParentId}, {!$Record.Hardware__c} )</expression>
    </formulas>
    <formulas>
        <name>fUserName</name>
        <dataType>String</dataType>
        <expression>LEFT({!fEmail}, (FIND(IF(AND((FIND(&apos;+&apos;,{!fEmail}) &gt; 0),FIND(&apos;+&apos;,{!fEmail})&lt;FIND(&apos;@&apos;,{!fEmail})),&apos;+&apos;,&apos;@&apos;),{!fEmail}) - 1))</expression>
    </formulas>
    <interviewLabel>rbu - Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbu - Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Asset</name>
        <label>1. Asset</label>
        <locationX>314</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Asset_Type</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serial_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fEntityIdentifier_Modified</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entity</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>rAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Record_Type_Developer_Name__c</queriedFields>
        <queriedFields>System_Platform__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>688</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_QueueId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseTransfer__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the After Sales (NL) Queue (the current Default Case Owner)</description>
        <name>Get_Default_Case_Owner</name>
        <label>Get Default Case Owner</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_UserAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqAftersalesNL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Case_Owner</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Asset record variable</description>
        <name>rAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>rEmailWarningMark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Warning_Mark__c</objectType>
    </variables>
    <variables>
        <name>vQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
