force-app/main/default/flows/rbu_Lead_Marketing_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Sales_Lead</name>
        <label>1. Sales Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Upgraded_to_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DoNotEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_RecordType</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cQueueSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqSales</stringValue>
        </value>
    </constants>
    <description>Flow to upgrade a Marketing Lead to a Sales Lead</description>
    <environments>Default</environments>
    <formulas>
        <name>fQueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>{!cQueueSales}+ BLANKVALUE(TEXT({!$Record.Reseller__c}), &apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>rbu - Lead - Marketing - Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>rbu - Lead - Marketing - Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dgr_01_Group</name>
        <label>1. Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fQueueDeveloperName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>$Record.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_RecordType</name>
        <label>1. RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Sales_Lead</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(( {!$Record.RecordType.DeveloperName} = &apos;Marketing&apos;), ISPICKVAL({!$Record.Status}, &apos;Upgrade&apos;), AND( NOT(ISBLANK({!$Record.Company})), NOT(ISBLANK({!$Record.LastName})), OR(NOT(ISBLANK({!$Record.Email})), NOT(ISBLANK({!$Record.Phone})), NOT(ISBLANK( {!$Record.MobilePhone})))) )</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>202</triggerOrder>
</Flow>
