force-app/main/default/flows/scf_Lead_Take_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_01_Update_Owner</name>
        <label>1. Update Owner</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Screen flow, to take owner ship of the Lead record</description>
    <interviewLabel>scf - Lead - Take Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scf - Lead - Take Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>dur_01_Lead</name>
        <label>1. Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ass_02_Commit</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_01_Change_Ownership_Lead</name>
        <label>Change ownership Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ass_01_Update_Owner</targetReference>
        </connector>
        <fields>
            <name>dt_01_Change_Owner</name>
            <fieldText>&lt;p&gt;Change owner from :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 5, 5);&quot;&gt;{!recordId.Owner:Group.Name}{!recordId.Owner:User.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;to &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(90, 199, 2);&quot;&gt;{!$User.FirstName} {!$User.MiddleName} {!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_01_Change_Ownership_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
