force-app/main/default/flows/scf_Update_VoiceCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Case</name>
        <label>Set Case</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Messaging_User</name>
        <label>Set Messaging User</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>$Record.Messaging_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_to_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Messaging_User_Empty</name>
        <label>Messaging User Empty?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Related_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Messaging_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Messaging_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Case</name>
        <label>Related to Case?</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Update_to_be_made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case</targetReference>
            </connector>
            <label>Yes Related to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_to_be_made</name>
        <label>Update to be made?</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Related_to_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VoiceCall</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <description>Used for running updates on VoiceCall record to set Messaging User and Case</description>
    <environments>Default</environments>
    <interviewLabel>scf - Update VoiceCall {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scf - Update VoiceCall</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Update_to_be_made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Messaging_User__c</field>
            <value>
                <elementReference>$Record.EndUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Messaging_User_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallDisposition</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-10-15</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
