force-app/main/default/flows/scr_Payment_Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_CreatePaymentIntents</name>
        <label>1. CreatePaymentIntents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v01_CreatePaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_01_vMode_PaymentIntent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>rPayment.Administration__r.PayProv_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>fAmountGrossCents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>rAccount.PayProv_CustomerId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodTypes</name>
            <value>
                <elementReference>vcPaymentMethodList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <elementReference>rPayment.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setupFutureUsage</name>
            <value>
                <stringValue>off_session</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreatePaymentIntents</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vClientSecret</assignToReference>
            <name>clientSecret</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vIntentIdCheckout</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vCustomerPaymentMethodId</assignToReference>
            <name>paymentMethod</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vIntentStatus</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>act_01_CreateSetupIntents</name>
        <label>1. CreateSetupIntents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v01_CreateSetupIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_01_vMode_SetupIntent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>rPayment.Administration__r.PayProv_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>rAccount.PayProv_CustomerId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodTypes</name>
            <value>
                <elementReference>vcPaymentMethodList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>usage</name>
            <value>
                <stringValue>off_session</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateSetupIntents</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>vIntentIdCheckout</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vCustomerMandateId</assignToReference>
            <name>mandate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vCustomerPaymentMethodId</assignToReference>
            <name>paymentMethod</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vIntentStatus</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rAccount.PayProv_MandateIntentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIntentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.PayProv_PaymentMethodId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomerPaymentMethodId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.PayProv_MandateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCustomerMandateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rAccount.PayProv_MandateIntentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIntentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Automatic_Payment_Methods_And_MetaData</name>
        <label>1. Automatic Payment Methods And MetaData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aPaymentFlowsAutomaticPmsPi.enabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aMetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Element</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aMetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aMetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_PaymentType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Checkout_Display_Values</name>
        <label>1. Checkout (Display Values)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vLocale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPayment.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBeneficiary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPayment.Administration__r.Subscription25__Billing_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOrderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPayment.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_01_CheckOut_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Message</name>
        <label>1. Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No payment to process found!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_00_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Payment_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Intent_Payment</name>
        <label>1. Payment (Intent - Payment)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_SetupIntentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_PaymentIntentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIntentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_SetupIntentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_PaymentIntentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIntentStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_02_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Intent_Setup</name>
        <label>1. Payment (Intent - Setup)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_SetupIntentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIntentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_PaymentIntentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_SetupIntentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIntentStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_PaymentIntentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_02_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Method_Options</name>
        <label>1. Payment Method Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vcPaymentMethodList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rPayment.Administration__r.PayProv_DirectDebit_PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aPaymentIntentsReqPMO.bacsDebit.setupFutureUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>off_session</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Direct_DebitType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Method_Options_Bacs</name>
        <label>1. Payment Method Options BACS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aPaymentIntentsReqPMO.bacsDebit.setupFutureUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>off_session</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_CreatePaymentIntents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Method_Options_SEPA</name>
        <label>1. Payment Method Options SEPA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aSetupIntentsReqPMO.sepaDebit.mandateOptions</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>act_01_CreateSetupIntents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Provider_Requirements</name>
        <label>1. Provider Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAmountGrossCents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAmountGrossCents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPublicKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPayment.Administration__r.PayProv_Account__r.stripeGC__Publishable_Key__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Automatic_Payment_Methods_And_MetaData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vMode_PaymentIntent</name>
        <label>1. vMode (Payment Intent)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cModeBoth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Setup_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_vMode_SetupIntent</name>
        <label>1. vMode (Setup Intent)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cModeSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Setup_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Message</name>
        <label>2. Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No valid or active Payment Provider Account available!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_00_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Payment</name>
        <label>2. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIntentMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIntentMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.PayProv_DirectDebitSetup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fHasDirectDebitSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_IntentMode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Payment_Method_Options</name>
        <label>1. Payment Method Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vcPaymentMethodList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cPaymentMethodCard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Setup_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Message</name>
        <label>3. Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expected a valid Payment Provider Customer Id!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_00_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Message</name>
        <label>4. Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expected a valid Payment Type!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_00_Messages</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cBaseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue> https://payment.movingintelligence.co.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>cModeBoth</name>
        <dataType>String</dataType>
        <value>
            <stringValue>both</stringValue>
        </value>
    </constants>
    <constants>
        <name>cModePayment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>payment</stringValue>
        </value>
    </constants>
    <constants>
        <name>cModeSetup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>setup</stringValue>
        </value>
    </constants>
    <constants>
        <name>cParameters</name>
        <dataType>String</dataType>
        <value>
            <stringValue>?internal=1</stringValue>
        </value>
    </constants>
    <constants>
        <name>cPaymentMethodCard</name>
        <dataType>String</dataType>
        <value>
            <stringValue>card</stringValue>
        </value>
    </constants>
    <constants>
        <name>cPaymentStatusCancel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </constants>
    <constants>
        <name>cPaymentStatusSuccess</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProviderThemeFlat</name>
        <dataType>String</dataType>
        <value>
            <stringValue>flat</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProviderThemeStripe</name>
        <dataType>String</dataType>
        <value>
            <stringValue>stripe</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ass_01_Direct_DebitType</name>
        <label>1. Direct Debit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Payment_Method_Options_SEPA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SEPA</defaultConnectorLabel>
        <rules>
            <name>ass_01_Direct_DebitType_BACS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment.Administration__r.PayProv_DirectDebit_PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>bacs_debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Method_Options_Bacs</targetReference>
            </connector>
            <label>BACS</label>
        </rules>
        <rules>
            <name>ass_01_Direct_DebitType_ACH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment.Administration__r.PayProv_DirectDebit_PaymentMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ach_debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>act_01_CreateSetupIntents</targetReference>
            </connector>
            <label>ACH</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_CustomerId</name>
        <label>1. CustomerId (Account)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_03_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_CustomerId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAccount.PayProv_CustomerId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Provider_Requirements</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_IntentMode</name>
        <label>1. Mode (Intent)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_IntentMode_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIntentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cModeSetup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Intent_Setup</targetReference>
            </connector>
            <label>Setup</label>
        </rules>
        <rules>
            <name>dec_01_IntentMode_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIntentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cModePayment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Intent_Payment</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_01_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment_Account</name>
        <label>1. Payment Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment.Administration__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment.Administration__r.PayProv_Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment.Administration__r.PayProv_Use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_01_Account_Stripe_Customer_Create_Update</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>MOTO for GB only</description>
        <name>dec_01_PaymentType</name>
        <label>1. PaymentType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_04_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_PaymentType_DirectDebit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>psp-dd</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment_Method_Options</targetReference>
            </connector>
            <label>Direct Debit</label>
        </rules>
        <rules>
            <name>dec_01_PaymentType_Immediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>psp-immediate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_Payment_Method_Options</targetReference>
            </connector>
            <label>Immediate</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Setup_Intent</name>
        <label>1. Setup Intent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Oeps</defaultConnectorLabel>
        <rules>
            <name>dec_01_Setup_Intent_Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIntentIdCheckout</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Checkout_Display_Values</targetReference>
            </connector>
            <label>Get</label>
        </rules>
    </decisions>
    <description>Takes a payment or setup intent tru the Payment provide stripe, input payment ref or id, output, status, type, id message, payment methode and mandate</description>
    <environments>Default</environments>
    <formulas>
        <name>fAmountGrossCents</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!rPayment.Amount_Gross__c},0) * 100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fAmountGrossCentsText</name>
        <dataType>String</dataType>
        <expression>TEXT(BLANKVALUE({!vAmountGrossCents},0))</expression>
    </formulas>
    <formulas>
        <name>fCheckoutCreatedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    ({!vCheckoutCreated}/ 86400) + DATE(1970,1,1)
  )</expression>
    </formulas>
    <formulas>
        <name>fCheckoutExpiresAtDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
({!vCheckoutExpiresAt}/ 86400) + DATE(1970,1,1)
 )</expression>
    </formulas>
    <formulas>
        <name>fHasDirectDebitSetup</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!fIntentId}))</expression>
    </formulas>
    <formulas>
        <name>fIntentId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!vIntentId},{!vIntentIdCheckout})</expression>
    </formulas>
    <formulas>
        <name>fOrderDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!rPayment.Request_Date__c})) + &apos;-&apos; + RIGHT((&apos;0&apos; + TEXT(MONTH({!rPayment.Request_Date__c}))),2)+ &apos;-&apos; + RIGHT((&apos;0&apos; + TEXT(DAY({!rPayment.Request_Date__c}))),2)</expression>
    </formulas>
    <formulas>
        <name>fPaymentReference</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!paymentReference},&apos;PaymentReference&apos;)</expression>
    </formulas>
    <formulas>
        <name>fRecordId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!recordId},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fUrl</name>
        <dataType>String</dataType>
        <expression>{!cBaseUrl}+ &apos;/&apos;  + CASESAFEID({!rPayment.Id}) + &apos;/&apos; + {!vClientSecret} + {!cParameters}</expression>
    </formulas>
    <interviewLabel>scr - Payment - Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Payment - Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>dgr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Payment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>externalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fPaymentReference</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Account</name>
        <label>1. Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_Payment</name>
        <label>2. Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Account</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Messages from this flow</description>
        <name>scr_00_Messages</name>
        <label>Oeps! Something went Wrong</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lta_01_Message</name>
            <defaultValue>
                <stringValue>{!tt_01_Message}</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_01_CheckOut_Page</name>
        <label>Checkout Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ass_02_Payment</targetReference>
        </connector>
        <fields>
            <name>lwc_01_PaymentCheckoutPage</name>
            <extensionName>c:paymentCheckoutPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>fAmountGrossCentsText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currency</name>
                <value>
                    <elementReference>vCurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locale</name>
                <value>
                    <elementReference>vLocale</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beneficiary</name>
                <value>
                    <elementReference>vBeneficiary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customer</name>
                <value>
                    <elementReference>vCustomer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderDate</name>
                <value>
                    <elementReference>vOrderDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>vDescription</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>reference</name>
                <value>
                    <elementReference>vReference</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clientSecret</name>
                <value>
                    <elementReference>vClientSecret</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>publishableKey</name>
                <value>
                    <elementReference>vPublicKey</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>cProviderThemeStripe</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <elementReference>vMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vIntentId</assignToReference>
                <name>intentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vIntentMessage</assignToReference>
                <name>intentMessage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vIntentStatus</assignToReference>
                <name>intentStatus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vCustomerMandateId</assignToReference>
                <name>mandateId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vCustomerPaymentMethodId</assignToReference>
                <name>paymentMethodId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vIntentMode</assignToReference>
                <name>intentMode</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>act_01_Account_Stripe_Customer_Create_Update</name>
        <label>1. Account - Stripe Customer (Create &amp; Update)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_CustomerId</targetReference>
        </connector>
        <flowName>afl_Account_Stripe_Customer_Create_Update</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>rPayment.Account__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>rAccount</assignToReference>
            <name>accountRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rPayment.AlertMessage__c</assignToReference>
            <name>ResultMessage</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_01_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oeps! Something went wrong!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!vMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>aBillingDetails</name>
        <apexClass>stripeGC__CreatePmsReqBillingDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aCheckoutCardPaymentMethodOptions</name>
        <apexClass>stripeGC__CheckoutCardPaymentMethodOptions</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aCheckoutSessionsReqPMO</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqPMO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aMetaData</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aMetaDataAdditionalString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aPaymentFlowsAutomaticPmsPi</name>
        <apexClass>stripeGC__PaymentFlowsAutomaticPmsPi</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Allow MOTO payment UK</description>
        <name>aPaymentIntentsReqPMO</name>
        <apexClass>stripeGC__CreatePaymentIntentsReqPMO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aPaymentMethodCard</name>
        <apexClass>stripeGC__PaymentMethodCard</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aSetupIntentsReqPMO</name>
        <apexClass>stripeGC__CreateSetupIntentsReqPMO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>vAmountGross</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Grosse amount in cents</description>
        <name>vAmountGrossCents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vAmountNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAmountVAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vBeneficiary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCheckoutCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCheckoutExpiresAt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCheckoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vClientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vcPaymentMethodList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrencyIsoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerDetails</name>
        <apexClass>stripeGC__PaymentPagesCOSCustomerDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerMandateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCustomerPaymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIntentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIntentIdCheckout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIntentMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIntentMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIntentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The language / locale the payment element is mounted and operating</description>
        <name>vLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fr</stringValue>
        </value>
    </variables>
    <variables>
        <name>vMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2025-11-22</stringValue>
        </value>
    </variables>
    <variables>
        <name>vPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vPaymentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPublicKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>vReseller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReturnURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
