force-app/main/default/flows/scr_Opportunity_Create_in_Chiron.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Number_of_Chiron_Syncs</name>
        <label>1. Number of Chiron Syncs</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.Number_of_Chrion_Syncs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Opporunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cBaseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://webservice.phantom.uk.net/sf/op-sync?opportunity_id=</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Check_Input</name>
        <label>1. Check Input</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>scr_00_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>dec_01_Check_Input_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Reseller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Number_of_Chiron_Syncs</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <description>Creates a Chriron Order based on a closed won opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>fUrl</name>
        <dataType>String</dataType>
        <expression>{!cBaseUrl} + CASESAFEID({!recordId.Id})</expression>
    </formulas>
    <interviewLabel>scr - Opportunity - Create in Chiron {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Opportunity - Create in Chiron</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>dur_01_Opporunity</name>
        <label>1. Opportunity</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>scr_01_Opportunity_to_Chiron</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_00_Messages</name>
        <label>Oeps! Something went Wrong</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_01_Message</name>
            <fieldText>&lt;p&gt;{!tt_01_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_01_Opportunity_to_Chiron</name>
        <label>Opportunity to Chrion</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_01_Serious_Again</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d3789c8c-0874-407c-a457-03b147f59b18/dfivj9l-a9f77481-6d6a-4060-ac0f-34847482573d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QzNzg5YzhjLTA4NzQtNDA3Yy1hNDU3LTAzYjE0N2Y1OWIxOFwvZGZpdmo5bC1hOWY3NzQ4MS02ZDZhLTQwNjAtYWMwZi0zNDg0NzQ4MjU3M2QucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LFL_txaBOkU7uqrRDj2TDqJLHlXG_FA3sMnkZ-xx3P8&quot; alt=&quot;Shrek and Donkey PNG 13 by DarkMoonAnimation on DeviantArt&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 72px;&quot;&gt;SERIOUS, AGAIN?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Number_of_Chrion_Syncs__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>99.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>if_01_Sync_to_Chiron</name>
            <extensionName>c:flowIframe</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <stringValue>840</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frameURL</name>
                <value>
                    <elementReference>fUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Check_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_01_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Oeps! Something went wrong!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Name} should have reseller &apos;6&apos; ({!recordId.Reseller__c}) and a &apos;Closed Won&apos; ({!recordId.StageName}) stage. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Plz correct this&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
