force-app/main/default/flows/scr_General_Get_Payment_Opayo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_01_Get_Securtity_Key</name>
        <label>1. Get Securtity Key</label>
        <locationX>512</locationX>
        <locationY>1466</locationY>
        <actionName>Util_Crypto</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>scr_01_Payment_Terminal_Opayo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>rPayment.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>MD5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Util_Crypto</nameSegment>
        <outputParameters>
            <assignToReference>vSecurityKey</assignToReference>
            <name>encryptedString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>512</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_Get_Securtity_Key</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment</name>
        <label>1. Payment</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>rPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAdministrationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vReseller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAmountNet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAmountVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Amount_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAmountGross</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>p1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRequestDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPayment.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opayo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dc_01_Action_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Payment_Create</name>
        <label>1. Payment (Create)</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>rPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCreatePayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Payment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cBaseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue> https://payment.movingintelligence.co.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>cParameters</name>
        <dataType>String</dataType>
        <value>
            <stringValue>?internal=1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dc_01_Action_Payment</name>
        <label>1. Action (Payment)</label>
        <locationX>512</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>dur_01_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCreatePayment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcr_01_Payment</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>ORDER not Finished</description>
        <name>dec_01_Call_Type</name>
        <label>1. Call Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice</defaultConnectorLabel>
        <rules>
            <name>dec_01_Call_Type_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
        <rules>
            <name>dec_01_Call_Type_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>dec_01_Call_Type_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Order</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Payment</name>
        <label>1. Payment</label>
        <locationX>512</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>ass_01_Payment_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>dec_01_Payment_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Payment</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Status</name>
        <label>1. Status</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>dec_01_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Status_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPaid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Paid</label>
        </rules>
        <rules>
            <name>Collected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPayment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_00_Messages</targetReference>
            </connector>
            <label>Collected</label>
        </rules>
    </decisions>
    <description>Gets a Card Payment (Opayo) based on the record Id</description>
    <environments>Default</environments>
    <formulas>
        <description>Determine the object type based on the first 3 positions of the ID</description>
        <name>fObject</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>fUrl</name>
        <dataType>String</dataType>
        <expression>{!cBaseUrl}+ &apos;/&apos;  + CASESAFEID({!rPayment.Id}) + &apos;/&apos; + {!vSecurityKey} + {!cParameters}</expression>
    </formulas>
    <interviewLabel>scr - General - Get Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - General - Get Payment (Opayo)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dcr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Invoice</name>
        <label>1. Invoice</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Subscription25__Invoice__c</object>
        <outputAssignments>
            <assignToReference>vAmountGross</assignToReference>
            <field>Amount_Gross__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAmountVAT</assignToReference>
            <field>Amount_VAT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vInvoiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPaid</assignToReference>
            <field>Payment_Is_Paid__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMethod</assignToReference>
            <field>Payment_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>Subscription25__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAdministrationId</assignToReference>
            <field>Subscription25__Administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRequestDate</assignToReference>
            <field>Subscription25__Invoice_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAmountNet</assignToReference>
            <field>Subscription25__Total_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Opportunity</name>
        <label>1. Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAdministrationId</assignToReference>
            <field>Administration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPaid</assignToReference>
            <field>Payment_Is_Paid__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMethod</assignToReference>
            <field>Payment_Method__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vReseller</assignToReference>
            <field>Reseller__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAmountGross</assignToReference>
            <field>To_Pay_Amount_Gross__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAmountNet</assignToReference>
            <field>To_Pay_Amount_Net__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAmountVAT</assignToReference>
            <field>To_Pay_Amount_VAT__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Order</name>
        <label>1. Order</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAdministrationId</assignToReference>
            <field>Subscription25__Administration__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Payment</name>
        <label>1. Payment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Call_Type</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (4 AND 5)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>p1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Payment__c</object>
        <outputReference>rPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Administration__c</queriedFields>
        <queriedFields>Amount_Gross__c</queriedFields>
        <queriedFields>Amount_Net__c</queriedFields>
        <queriedFields>Amount_VAT__c</queriedFields>
        <queriedFields>Collection_Date__c</queriedFields>
        <queriedFields>Composite_Key__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Invoice__c</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Method__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ParentId__c</queriedFields>
        <queriedFields>Processing_Date__c</queriedFields>
        <queriedFields>Processor_Reference__c</queriedFields>
        <queriedFields>Processor_Return_Code__c</queriedFields>
        <queriedFields>Processor_Return_Description__c</queriedFields>
        <queriedFields>Request_Date__c</queriedFields>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Payment</name>
        <label>1. Payment</label>
        <locationX>644</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rPayment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Messages from this flow</description>
        <name>scr_00_Messages</name>
        <label>Oeps! Something went Wrong</label>
        <locationX>116</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lta_01_Message</name>
            <defaultValue>
                <stringValue>{!tt_01_Message}</stringValue>
            </defaultValue>
            <fieldText>Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_01_Payment_Terminal_Opayo</name>
        <label>Payment Terminal (Opayo)</label>
        <locationX>512</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>if_01_Payment_Terminal</name>
            <extensionName>c:flowIframe</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>height</name>
                <value>
                    <stringValue>1100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>width</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frameURL</name>
                <value>
                    <elementReference>fUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_01_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oeps! Something went wrong!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>rPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAdministrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAmountGross</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vAmountNet</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAmountVAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vCreatePayment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCurrencyIsoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </variables>
    <variables>
        <name>vInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>P1</stringValue>
        </value>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPaid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vRequestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>vReseller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSecurityKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
