force-app/main/default/flows/scr_Case_Internal_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. rCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vHasContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_and_Skill_Assignment_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Values</name>
        <label>Assign Additional Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcr_01_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Dev_Name_miFleetSupport</name>
        <label>Assign Queue Dev Name miFleetSupport</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqSupportFleet1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqSupportFleet1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Dev_Name_Voicemail</name>
        <label>Assign Queue Dev Name Voicemail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.Last_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Security</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gqVoicemail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dgr_01_Queue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fleet</name>
        <choiceText>Fleet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fleet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security</name>
        <choiceText>Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_Support</name>
        <choiceText>Technical Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Support</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Done to see if case should be assigned to general Voicemail queue or to miFleet Support</description>
        <name>Account_and_Skill_Assignment_Check</name>
        <label>Account and Skill Assignment Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Queue_Dev_Name_Voicemail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found and No Fleet Skill</defaultConnectorLabel>
        <rules>
            <name>Skill_Assignment_Filled_for_Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCase.Last_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gqSupportFleet1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Queue_Dev_Name_miFleetSupport</targetReference>
            </connector>
            <label>Skill Assignment Filled for Fleet</label>
        </rules>
        <rules>
            <name>Contact_Found_Account_to_be_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHasContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Fleet</targetReference>
            </connector>
            <label>Contact Found, Account to be Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_and_Skill_Assignment_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>dec_01_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Fleet</name>
        <label>Is Account Fleet?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Queue_Dev_Name_Voicemail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account is Security</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_is_Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rContact.Account.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Queue_Dev_Name_miFleetSupport</targetReference>
            </connector>
            <label>Yes Account is Fleet</label>
        </rules>
    </decisions>
    <description>Case created by internal user from Moving Intelligence with direct request for support to pick up the case</description>
    <dynamicChoiceSets>
        <name>SkillAssignment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Last_Queue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fSuppliedEmail</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!SuppliedEmail.value},&apos;nobody+123@example.com&apos;)</expression>
    </formulas>
    <interviewLabel>scr - Case - Internal {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>scr - Case - Internal Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dcr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcr_01_Case_Comment</targetReference>
        </connector>
        <inputReference>rCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Case_Comment</name>
        <label>1. Case Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrSuccess</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>rCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>rCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_Contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuppliedPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuppliedPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuppliedPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fSuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Additional_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_01_Info</name>
        <label>Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_02_Case</targetReference>
        </connector>
        <fields>
            <name>txtWelcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Welkom op het webformulier om terugbelverzoeken in te dienen voor de afdeling Support.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Op het volgende scherm kan je de gegevens invullen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_02_Case</name>
        <label>Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ass_01_Case</targetReference>
        </connector>
        <fields>
            <name>txtIntroduction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Vul hier alstublieft de klantgegevens in en een korte uitleg waarover de klant teruggebeld wil worden.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Op basis van de door jou verstrekte gegevens, wordt een Case aangemaakt voor juiste afdeling.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Noteer in de beschrijving ook graag jouw eigen naam voor het geval de afdeling extra informatie nodig heeft.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scr_02_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_02_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuppliedName</name>
                    <dataType>String</dataType>
                    <fieldText>Naam van Klant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SuppliedEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SuppliedPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+31XXXXXXXXX</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefoon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_02_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Queue</name>
                    <choiceReferences>SkillAssignment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Onderwerp</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCase.Description</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSuccess</name>
        <label>scrSuccess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Bedankt voor het invullen van het webformulier voor terugbelverzoeken van After Sales en miFleet Support. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;De case is aangemaakt en wordt zo snel mogelijk opgepakt door de juiste afdeling. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt; Als je doorgaat kan je een nieuwe terugbelverzoek indienen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_01_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!rCase.Description}
Name: {!SuppliedName}
Phone: {!SuppliedPhone.value}
Email: {!SuppliedEmail.value}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Terugbelverzoek {!SuppliedName} {!SuppliedPhone.value}</text>
    </textTemplates>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vHasContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>gqVoicemail</stringValue>
        </value>
    </variables>
</Flow>
