force-app/main/default/flows/scr_Customer_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Customer_Survey_Data</name>
        <label>Set Customer Survey Data</label>
        <locationX>182</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>CustomerSurvey.Survey_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerSurvey.Survey_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerSurvey.Survey_Response_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>npsForm.selectedScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerSurvey.Survey_Response_Motivation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtMotivation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_warning_message_and_clear_input</name>
        <label>Set warning message and clear input</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>inputScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_out_survey</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Customer_Survey</name>
        <label>Found Customer Survey</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_customer_survey_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Survey_Found_Not_yet_responded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerSurvey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerSurvey.Survey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_score</targetReference>
            </connector>
            <label>Survey Found - Not yet responded</label>
        </rules>
        <rules>
            <name>Survey_Found_Responded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerSurvey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerSurvey.Survey_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Filled_Thank_you_message</targetReference>
            </connector>
            <label>Survey Found - Responded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_score</name>
        <label>Validate score</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>preUpdate_Customer_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score within valid range</defaultConnectorLabel>
        <rules>
            <name>Score_outside_valid_range</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_warning_message_and_clear_input</targetReference>
            </connector>
            <label>Score outside valid range</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fScore</name>
        <dataType>Number</dataType>
        <expression>VALUE({!inputScore})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>scf - {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>scr - Customer Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Customer_Survey</name>
        <label>Get Customer Survey</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Customer_Survey</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </filters>
        <object>Customer_Survey__c</object>
        <outputReference>CustomerSurvey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Survey_Status__c</queriedFields>
        <queriedFields>Survey_Response_Date__c</queriedFields>
        <queriedFields>Survey_Response_Score__c</queriedFields>
        <queriedFields>Survey_Response_Motivation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>preUpdate_Customer_Survey</name>
        <label>Update Customer Survey</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Fill_out_survey</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Response_Score__c</field>
            <value>
                <elementReference>fScore</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Survey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Survey</name>
        <label>Update Customer Survey</label>
        <locationX>182</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Thank_you_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>CustomerSurvey</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Filled_Thank_you_message</name>
        <label>Already Filled - Thank you message</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxtThankYou</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Het lijkt erop dat u deze enquête al succesvol heeft ingevuld. Bedankt!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxtError</name>
            <fieldText>&lt;p&gt;Excuses, er is een fout opgetreden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_out_survey</name>
        <label>Fill out survey</label>
        <locationX>182</locationX>
        <locationY>698</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Customer_Survey_Data</targetReference>
        </connector>
        <fields>
            <name>Fill_out_survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_out_survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtIntroduction</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hoe waarschijnlijk is het dat je Moving Intelligence aan een vriend of collega zou aanbevelen?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>npsForm</name>
                    <extensionName>c:npsForm</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultScore</name>
                        <value>
                            <elementReference>fScore</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Maak alstublieft een keuze.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!npsForm.selectedScore} &gt; -1 &amp;&amp; {!npsForm.selectedScore} &lt; 11</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtWarningMsg</name>
            <fieldText>&lt;p&gt;{!txttWarningScore}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>inputScore</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>fScore</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fScore</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fill_out_survey_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_out_survey_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtMotivation</name>
                    <fieldText>Is er iets wat we kunnen doen om te verbeteren?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Opslaan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_customer_survey_found</name>
        <label>No customer survey found</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxtNothingFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14.6667px; background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Pagina niet gevonden, gebruik de oorspronkelijk link of neem contact met ons op.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_screen</name>
        <label>Thank you screen</label>
        <locationX>182</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtxtSuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Bedankt voor het invullen van de enquête!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txttWarningScore</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Uw geselecteerde score ligt buiten het geaccepteerde bereik. Geef een geldige invoer op.</text>
    </textTemplates>
    <variables>
        <name>CustomerSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Survey__c</objectType>
    </variables>
    <variables>
        <name>inputScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
