force-app/main/default/flows/scr_Case_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>

    <!-- ═══════ DECISIONS ═══════ -->
    <decisions>
        <name>Check_Has_Account</name>
        <label>Case has Account?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Screen_No_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Create_Opportunity</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Close_Case</name>
        <label>Close Case?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_Close_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chk_CloseCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_Close_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <description>Quick Action: create an Opportunity linked to the current Case. Requires an Account on the Case.</description>

    <!-- ═══════ DYNAMIC CHOICE SETS ═══════ -->
    <dynamicChoiceSets>
        <name>ccs_RecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_Stages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <object xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>

    <!-- ═══════ FORMULAS ═══════ -->
    <formulas>
        <name>fDefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>fDefaultName</name>
        <dataType>String</dataType>
        <expression>{!recordId.CaseNumber} &amp; &apos; - &apos; &amp; {!recordId.Account.Name}</expression>
    </formulas>

    <interviewLabel>scr - Case - Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Case - Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>

    <!-- ═══════ RECORD CREATES ═══════ -->
    <recordCreates>
        <name>dcr_Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Check_Close_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>inp_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>inp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Require_Signature__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>pick_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>pick_Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══════ RECORD UPDATES ═══════ -->
    <recordUpdates>
        <name>dur_Close_Case</name>
        <label>Close Case</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Opportunity Created</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>

    <runInMode>SystemModeWithoutSharing</runInMode>

    <!-- ═══════ SCREENS ═══════ -->
    <screens>
        <name>Screen_No_Account</name>
        <label>No Account on Case</label>
        <locationX>440</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_NoAccount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Cannot create an Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This Case does not have an Account. Please add an Account to the Case before creating an Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dcr_Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>display_Account</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Account&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_Contact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!recordId.Contact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_Owner</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Owner&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_RecordType</name>
            <choiceReferences>ccs_RecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inp_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fDefaultName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pick_Stage</name>
            <choiceReferences>ccs_Stages</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inp_CloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fDefaultCloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chk_CloseCase</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Close Case as Solved (Reason: Opportunity Created)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Opportunity Created</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_Success</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!inp_Name} has been created and linked to this Case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Something went wrong</label>
        <locationX>440</locationX>
        <locationY>720</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg_Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Could not complete the action&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- ═══════ START ═══════ -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Has_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ═══════ VARIABLES ═══════ -->
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>

</Flow>
