force-app/main/default/flows/scr_Opportunity_Configurator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_ClearErrorMessage</name>
        <label>1. Clear error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_PriceBookEntriesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Defaults</name>
        <label>1. Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCurrencySymbol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGetCurrecySymbol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_PricebookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Fault_Message</name>
        <label>1. Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Products found. Please select a Valid Pricebook</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_OpportunityProduct</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPricebookEntry.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOpportunityProduct.DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_rcOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_PricebookEntry</name>
        <label>1. Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_PricebookEntriesView</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cft_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Product_iscount</name>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcProductDiscountsToOperate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cft_01_Product_Discount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_ProductDiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Quantity_Discount</name>
        <label>1. Quantity &amp; Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_rcPricebookEntriesToOperate.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_rcPricebookEntriesToOperate.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_rcPricebookEntriesToOperate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcOpportunityProducts</name>
        <label>1. rcOpportunityProductsView</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOpportunityProductsView</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_PriceBookEntriesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcOpportunityProductsToOperate</name>
        <label>1. rcOpportunityProductsToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOpportunityProductsToOperate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtb_02_OppLineItems.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_rcOpportunityProductsToOperate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcPricebookEntriesToOperate</name>
        <label>1. rcPricebookEntriesToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcPricebookEntriesToOperate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cft_01_dt_01_AddProducts_Output_Edited_Rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_rcPricebookEntriesToOperate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcPriceBookEntriesView</name>
        <label>1. rcPriceBookEntriesView</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcPricebookEntriesView</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rPricebookEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_PricebookEntriesView</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_ClearErrorMessage</name>
        <label>2. Clear error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_ButtonChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_PricebookEntry</name>
        <label>2.  Pricebookentry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Price_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFromPrice4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductDiscount.From_Quantity_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductDiscount.From_Quantity_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductDiscount.From_Quantity_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.From_Quantity_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rProductDiscount.From_Quantity_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Price_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_01_ProductDiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Product_Discount</name>
        <label>2. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_ProductDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_02_PricebookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_rcOpportunityProductsToOperate</name>
        <label>2. rcOpportunityProductsToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOpportunityProductsToOperate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtb_02_OppLineItems.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_02_rcOpportunityProductsToOperate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_PricebookEntry</name>
        <label>3. PricebookEntry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity_Price_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQuantityPrice1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity_Price_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQuantityPrice2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity_Price_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQuantityPrice3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Quantity_Price_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQuantityPrice4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.AccountPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rPricebookEntry.Margin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMargin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_rcPriceBookEntriesView</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_PricebookEntry</name>
        <label>4. Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rPricebookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_01_PriceBookEntriesSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cft_01_dt_01_AddProducts_Output_Edited_Rows</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>cft_01_dt_01_AddProducts_Output_Edited_Rows</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1. dt_01_AddProducts - Output Edited Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_cft_01_dt_01_AddProducts_Output_Edited_Rows_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>dt_01_AddProducts.outputEditedRows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cft_01_dt_01_AddProducts_Output_Edited_Rows_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rPricebookEntry.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ass_01_rcPricebookEntriesToOperate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cft_01_Product_Discount</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_cft_01_Product_Discount_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>dgr_01_ProductDiscount</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cft_01_Product_Discount_0.Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rPricebookEntry.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ass_01_Product_iscount</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cst_01_rcPricebookEntriesView</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>1. rcPricebookEntriesView</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>rcPricebookEntriesView</collectionReference>
        <connector>
            <targetReference>scr_01_PricebookEntries</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>dec_01_ButtonChoice</name>
        <label>1. Button Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_ButtonChoice_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cst_01_rcPricebookEntriesView</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>dec_01_ButtonChoice_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_OpportunityProduct</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_OpportunityProducts</name>
        <label>1. Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>scr_01_OpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>dec_01_OpportunityProducts_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_OpportunityProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>dec_01_rcPricebookEntriesView</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Pricebook</name>
        <label>1. Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>scr_01_NoPricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>dec_01_Pricebook_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_rcPricebookEntriesView</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_PricebookEntry</name>
        <label>1. PricebookEntry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_ProductDiscount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>dec_01_PricebookEntry_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_PricebookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Fault_Message</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_rcOpportunityProductsToOperate</name>
        <label>1. rcOpportunityProductsToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>dec_01_rcOpportunityProductsToOperate_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcOpportunityProductsToOperate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dur_01_OpportunityProduct</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_rcPricebookEntriesView</name>
        <label>1. rcPricebookEntriesView</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_Buttons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Filled</defaultConnectorLabel>
        <rules>
            <name>dec_01_rcPricebookEntriesView_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcPricebookEntriesView</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Defaults</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_ButtonChoice</name>
        <label>2. Button Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>dec_02_Button_Choice_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbt_03_Actions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_02_rcOpportunityProductsToOperate</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>dec_02_Button_Choice_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbt_03_Actions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>dec_02_Button_Choice_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbt_03_Actions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_rcOpportunityProductsToOperate</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_02_rcOpportunityProductsToOperate</name>
        <label>2. rcOpportunityProductsToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>dec_02_rcOpportunityProductsToOperate_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcOpportunityProductsToOperate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ddr_01_OpportunityProduct</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>Screen Flow - Opportunity Configurator, handles selecting, editing and price configuration</description>
    <environments>Default</environments>
    <formulas>
        <name>fAccountPrice</name>
        <dataType>Currency</dataType>
        <expression>IF((BLANKVALUE({!rPricebookEntry.From_Quantity_1__c},0)=1),{!rPricebookEntry.From_Price_1__c},{!rPricebookEntry.UnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>fDiscount</description>
        <name>fDiscount</name>
        <dataType>Currency</dataType>
        <expression>IF({!rPricebookEntry.Product2.Exclude_from_Discount__c}, null, {!rPricebookEntry.Discount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fDiscountPercentage</name>
        <dataType>Number</dataType>
        <expression>IF({!rPricebookEntry.Product2.Exclude_from_Discount__c},0,(BLANKVALUE({!fDiscount},0) / {!fSalesPrice} ))</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>fDisplayMessage</name>
        <dataType>Boolean</dataType>
        <expression>IF({!vDisplayMessage}, {!vDisplayMessage}, AND({!rOpportunityProduct.Product2.Exclude_from_Discount__c},(BLANKVALUE({!rOpportunityProduct.DiscountAmount__c},0)&gt;0)))</expression>
    </formulas>
    <formulas>
        <name>fFromPrice1</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!rProductDiscount.From_Discount_1__c}), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_1__c} / IF(OR(({!rProductDiscount.From_Discount_1__c}&gt;1),({!rProductDiscount.From_Discount_1__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice2</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!rProductDiscount.From_Discount_2__c}), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_2__c}  / IF(OR(({!rProductDiscount.From_Discount_2__c}&gt;1),({!rProductDiscount.From_Discount_2__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice3</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!rProductDiscount.From_Discount_3__c}), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_3__c}  / IF(OR(({!rProductDiscount.From_Discount_3__c}&gt;1),({!rProductDiscount.From_Discount_3__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fFromPrice4</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!rProductDiscount.From_Discount_4__c}), null, ROUND(({!rPricebookEntry.UnitPrice} * (1.00-({!rProductDiscount.From_Discount_4__c}  / IF(OR(({!rProductDiscount.From_Discount_4__c}&gt;1),({!rProductDiscount.From_Discount_4__c}&lt;-1)),100,1)) )),2))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fGetCurrecySymbol</name>
        <dataType>String</dataType>
        <expression>CASE(BLANKVALUE(TEXT({!recordId.CurrencyIsoCode}),{!$User.DefaultCurrency__c}),&apos;GBP&apos;,&apos;&apos;,&apos;€&apos;)</expression>
    </formulas>
    <formulas>
        <name>fMargin</name>
        <dataType>Number</dataType>
        <expression>IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_4__c},9999999), 0,
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_3__c},9999999), 0,
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_2__c},9999999), 0,
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_1__c},9999999), 0,BLANKVALUE({!rPricebookEntry.Margin__c},BLANKVALUE({!rPricebookEntry.Pricebook2.Sales_Margin__c},0)))
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fQuantityPrice1</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!rPricebookEntry.From_Quantity_1__c}), (BLANKVALUE({!rPricebookEntry.From_Quantity_1__c},0)=0), ISBLANK({!rPricebookEntry.From_Price_1__c}) ),&quot;&quot;,
(TEXT({!rPricebookEntry.From_Quantity_1__c}) +&quot;-&gt;(&quot; + {!vCurrencySymbol}  + TEXT({!rPricebookEntry.From_Price_1__c})+ &quot;)&quot;))</expression>
    </formulas>
    <formulas>
        <name>fQuantityPrice2</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!rPricebookEntry.From_Quantity_2__c}), (BLANKVALUE({!rPricebookEntry.From_Quantity_2__c},0)=0), ISBLANK({!rPricebookEntry.From_Price_2__c}) ),&quot;&quot;,
(TEXT({!rPricebookEntry.From_Quantity_2__c}) +&quot;-&gt;(&quot; + {!vCurrencySymbol}  + TEXT({!rPricebookEntry.From_Price_2__c})+ &quot;)&quot;))</expression>
    </formulas>
    <formulas>
        <name>fQuantityPrice3</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!rPricebookEntry.From_Quantity_3__c}), (BLANKVALUE({!rPricebookEntry.From_Quantity_3__c},0)=0), ISBLANK({!rPricebookEntry.From_Price_3__c}) ),&quot;&quot;,
(TEXT({!rPricebookEntry.From_Quantity_3__c}) +&quot;-&gt;(&quot; + {!vCurrencySymbol}  + TEXT({!rPricebookEntry.From_Price_3__c})+ &quot;)&quot;))</expression>
    </formulas>
    <formulas>
        <name>fQuantityPrice4</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!rPricebookEntry.From_Quantity_4__c}), (BLANKVALUE({!rPricebookEntry.From_Quantity_4__c},0)=0), ISBLANK({!rPricebookEntry.From_Price_4__c}) ),&quot;&quot;,
(TEXT({!rPricebookEntry.From_Quantity_4__c}) +&quot;-&gt;(&quot; + {!vCurrencySymbol}  + TEXT({!rPricebookEntry.From_Price_4__c})+ &quot;)&quot;))</expression>
    </formulas>
    <formulas>
        <name>fSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_4__c},9999999), {!rPricebookEntry.From_Price_4__c},
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_3__c},9999999), {!rPricebookEntry.From_Price_3__c},
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_2__c},9999999), {!rPricebookEntry.From_Price_2__c},
IF( {!rPricebookEntry.Quantity__c} &gt;= BLANKVALUE({!rPricebookEntry.From_Quantity_1__c},9999999), {!rPricebookEntry.From_Price_1__c},{!rPricebookEntry.AccountPrice__c})
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fUnitPrice</name>
        <dataType>Currency</dataType>
        <expression>{!fSalesPrice} - BLANKVALUE({!fDiscount},0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>scr - Opportunity - Configurator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Opportunity - Configurator</label>
    <loops>
        <name>lp_01_PriceBookEntriesSelected</name>
        <label>1. PricebookEntries Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dt_01_AddProducts.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_04_PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_01_OpportunityProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_01_PricebookEntriesView</name>
        <label>1. Pricebook Entries View</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dgr_01_PricebookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scr_01_Buttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_01_ProductDiscount</name>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcProductDiscountsToOperate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_02_Product_Discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_03_PricebookEntry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_01_rcPricebookEntriesToOperate</name>
        <label>1. rcPricebookEntriesToOperate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcPricebookEntriesToOperate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_01_Quantity_Discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_01_OpportunityProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dcr_01_OpportunityProduct</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_OpportunityProduct</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>rcOpportunityProductsView</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>ddr_01_OpportunityProduct</name>
        <label>1.  Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dgr_01_OpportunityProduct</targetReference>
        </connector>
        <inputReference>rcOpportunityProductsToOperate</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>dgr_01_OpportunityProduct</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_OpportunityProducts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Swapped__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_PricebookEntry</name>
        <label>1. Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_01_PricebookEntry</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductRecordType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </filters>
        <filters>
            <field>Result_Direct_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_ProductDiscount</name>
        <label>1. Account Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lp_01_PricebookEntriesView</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Discount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_OpportunityProduct</name>
        <label>1. Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_01_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>rcOpportunityProductsToOperate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_01_Buttons</name>
        <label>1. Buttons</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_01_ButtonChoice</targetReference>
        </connector>
        <fields>
            <name>fbb_01_Buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Products&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit Products&quot;,&quot;value&quot;:&quot;Edit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:edit&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_01_ErrorMessage</name>
        <label>1. Error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sdt_00_ErrorMessage</name>
            <fieldText>&lt;p&gt;{!ttErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dpt_00_02_Id</name>
            <fieldText>&lt;p&gt;Record Id: {!recordId.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_01_NoPricebook</name>
        <label>No Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dpt_01_01_01_Pricebook</name>
            <fieldText>&lt;p&gt;Please select a Pricebook with the button &lt;b&gt;&apos;Choose Pricebook&apos; &lt;/b&gt;on the Product Related List .&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish when done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_01_OpportunityProducts</name>
        <label>1. Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ass_02_ClearErrorMessage</targetReference>
        </connector>
        <fields>
            <name>dpt_03_NoDiscountAllowed</name>
            <fieldText>&lt;p&gt;{!vErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtb_02_OppLineItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dgr_01_OpportunityProduct</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>rcOpportunityProductsView</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Name__c,ProductCode,Quantity,DiscountAmount__c,ListPrice,UnitPrice,No_Discount_Allowed__c,Margin__c,TotalPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Quantity:standard:number_input, DiscountAmount__c:standard:currency, ListPrice:utility:currency, UnitPrice:utility:currency, No_Discount_Allowed__c:utility:check, Account_Margin__c:utility:percent, TotalPrice:utility:currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Name__c:310, ProductCode:135, Quantity:110, DiscountAmount__c:110, ListPrice:110, UnitPrice:110, No_Discount_Allowed__c:110, Margin__c:110, TotalPrice:110</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity:true, DiscountAmount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opportunity Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>400px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Product_Name__c:Article, ProductCode:Article Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>No_Discount_Allowed__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>Product_Name__c:true, ProductCode:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fbt_03_Actions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Update&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Delete Selected&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_01_PricebookEntries</name>
        <label>1. Pricebook Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ass_01_ClearErrorMessage</targetReference>
        </connector>
        <fields>
            <name>dt_01_AddProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>rcPricebookEntriesView</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ProductCode,Quantity__c,Discount__c,AccountPrice__c,No_Discount_Allowed__c,Quantity_Price_1__c,Quantity_Price_2__c,Quantity_Price_3__c,Quantity_Price_4__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Quantity__c:standard:number_input, Discount__c:standard:currency, AccountPrice__c:utility:currency, Quantity_Price_1__c:utility:currency, Quantity_Price_2__c:utility:currency, Quantity_Price_3__c:utility:currency, Quantity_Price_4__c:utility:currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:310, ProductCode:135, Quantity__c:100, Discount__c:100, AccountPrice__c:110, No_Discount_Allowed__c:80, Quantity_Price_1__c:110, Quantity_Price_2__c:110, Quantity_Price_3__c:110, Quantity_Price_4__c:110</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Price Book Entries</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity__c:true, Discount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>600px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>No_Discount_Allowed__c:center, Quantity_Price_1__c:right, Quantity_Price_2__c:right, Quantity_Price_3__c:right, Quantity_Price_4__c:right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Article, ProductCode:Article Number, AccountPrice__c:Sales Price, Quantity_Price_1__c:Volume Price 1, Quantity_Price_2__c:Volume Price 2, Quantity_Price_3__c:Volume Price 3, Quantity_Price_4__c:Volume Price 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:price_book_entries</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelectedCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Pricebook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Oeps, Something went wrong.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your Administrator has been notified.  &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Details on this message:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;{!vErrorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_cft_01_dt_01_AddProducts_Output_Edited_Rows_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_cft_01_Product_Discount_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>currentItem_cft_01_rcPriceBookEntriesView</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rcOpportunityProductsToOperate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>rcOpportunityProductsView</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>rcPricebookEntriesToOperate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rcPricebookEntriesView</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rcProductDiscountsToOperate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>rPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>rProductDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>vCurrencySymbol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vDisplayMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
