force-app/main/default/flows/scr_Case_Update_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rVoiceCallstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Related_Voice_Calls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Related_Voice_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rCase</name>
        <label>1. rCase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_hasContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Contact_to_Case</name>
        <label>Assign Matched Contact to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMatchesTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMatchesTable.firstSelectedRow.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMatchesTable.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_miFleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_miFleet_Support_Queue_as_Case_Owner</name>
        <label>Assign miFleet Support Queue as Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_miFleet_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values from the created Contact record to related variables.</description>
        <name>Set_Contact_Account_Id</name>
        <label>Set Contact &amp; Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVoiceCall.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rMessagingUser.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rMessagingUser.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_miFleet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_ID</name>
        <label>Set Contact ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Related_Voice_Calls.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Values</name>
        <label>Set Known Contact Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCase.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCase.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCase.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rContact.DoNotEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_Incomplete_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_Value</name>
        <label>Set Phone Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rMessagingUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rVoiceCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_SuppliedEmail</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AssignmiFleetQueueNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AssignmiFleetQueueYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignmiFleetQueueYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>tt_01_createContact</name>
        <choiceText>Create Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>tt_01_createLead</name>
        <choiceText>Create Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>tt_01_updateContact</name>
        <choiceText>Update Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>tt_01_updateContactPhoneNumber</name>
        <choiceText>Update Contact (New Phone Number)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Contact</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Contact_Matched_on_Email_or_Phone</name>
        <label>Contact Matched on Email or Phone?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Match</defaultConnectorLabel>
        <rules>
            <name>Contact_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1a_Match_Contact</targetReference>
            </connector>
            <label>Contact Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_hasContact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dec_01_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_hasContact_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCase.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_01_Origin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the origin of the Case.</description>
        <name>dec_01_Origin</name>
        <label>1. Origin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_SuppliedEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>caseOrigin_phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Internal_Number</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
        <rules>
            <name>caseOrigin_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dgr_01_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_SuppliedEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Assign_miFleet_Queue</name>
        <label>Assign miFleet Queue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Assign miFleet Queue</defaultConnectorLabel>
        <rules>
            <name>do_Assign_Fleet_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_miFleet_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssignmiFleetQueueYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_miFleet_Support_Queue</targetReference>
            </connector>
            <label>Assign miFleet Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incomplete_Action_Checker</name>
        <label>Incomplete Action Checker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dcr_01_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbbCreateContact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refresh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>dgr_01_Case</targetReference>
            </connector>
            <label>Refresh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Internal_Number</name>
        <label>Is Internal Number?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Voice_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Internal_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCase.SuppliedPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+31889900000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Call_Found</targetReference>
            </connector>
            <label>Yes Is Internal Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_miFleet</name>
        <label>Is miFleet?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>miFleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_Market</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCase.Last_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gqSupportFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCase.Last_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gqPlanningFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCase.Last_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gqSalesFleet1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCase.Last_Queue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>gqFinanceFleet1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fleet_Queue</targetReference>
            </connector>
            <label>miFleet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voice_Call_Found</name>
        <label>Voice Call Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_SuppliedEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decout_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_User</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voice_Call_Relevant</name>
        <label>Voice Call Relevant?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>scr_03_success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decout_found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_Market</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!rContact.Account.extId_5__c}) = 0, &apos;Security&apos;, &apos;Fleet&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_miFleet</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!contactMatchesTable.firstSelectedRow.Account.extId_5__c}) = 0, &apos;Security&apos;, &apos;Fleet&apos;)</expression>
    </formulas>
    <interviewLabel>scr - Case - Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Case - Update Contact</label>
    <loops>
        <description>Goes through all voice calls registered under the messaging user and sets the contact relation</description>
        <name>Loop_Through_All_Related_Voice_Calls</name>
        <label>Loop Through All Related Voice Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Related_Voice_Calls</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Voice_Calls</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dcr_01_contact</name>
        <label>1. Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Contact_Account_Id</targetReference>
        </connector>
        <inputReference>rContact</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Case record to pass into the flow. Stores the results in the Case from GetCase record variable.</description>
        <name>dgr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_rCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Voice_Calls</name>
        <label>Get All Related Voice Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Related_Voice_Calls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_SuppliedEmail</name>
        <label>Get Contact (SuppliedEmail/Phone)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Matched_on_Email_or_Phone</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dgr_01_Case.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>+31889900000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the messaging user record associated with the voice call record passed into the flow. Stores the record in the Messaging User from GetMessagingUser record variable.</description>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Phone_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.EndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_miFleet_Support_Queue</name>
        <label>Get miFleet Support Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_miFleet_Support_Queue_as_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqSupportFleet1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Voice Call record related to the Case. Stores the results in the Voice Call from GetVoiceCall record variable.</description>
        <name>Get_Voice_Call</name>
        <label>Get Voice Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voice_Call_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Voice_Call_Relevant</targetReference>
        </connector>
        <inputReference>rCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related Messaging User with the (new) Contact and Account or Lead</description>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Voice_Calls</targetReference>
        </connector>
        <inputReference>rMessagingUser</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Voice_Calls</name>
        <label>Update Voice Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_03_success</targetReference>
        </connector>
        <inputReference>rVoiceCallstoUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Fleet_Queue</name>
        <label>Assign Fleet Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_Assign_miFleet_Queue</targetReference>
        </connector>
        <fields>
            <name>Assign_miFleet_Queue</name>
            <choiceReferences>AssignmiFleetQueueYes</choiceReferences>
            <choiceReferences>AssignmiFleetQueueNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to assign the case to the miFleet Support queue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_03_success</name>
        <label>3. Success!</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_01_Success</name>
            <fieldText>&lt;p&gt;Thanks for updating the Contact!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Incomplete_Contact</name>
        <label>1. Incomplete Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Incomplete_Action_Checker</targetReference>
        </connector>
        <fields>
            <name>dt_02_screenFlowLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Update Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dt_01_Incomplete_Contact</name>
            <fieldText>&lt;p&gt;It seems like the Contact information is incomplete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fbbCreateContact</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create Contact&quot;,&quot;value&quot;:&quot;Create Contact&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Refresh&quot;,&quot;value&quot;:&quot;Refresh&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:refresh&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scr_Incomplete_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_Incomplete_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rContact.AccountId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rContact.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_Incomplete_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rContact.Email</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rContact.Phone</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X1a_Match_Contact</name>
        <label>1a. Match Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Matched_Contact_to_Case</targetReference>
        </connector>
        <fields>
            <name>Match</name>
            <fieldText>&lt;p&gt;It seems like there&apos;s multiple contact matches on this email address. Which contact would you like to relate to the case? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>contactMatchesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matched Contacts on Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contact_SuppliedEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-63ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-cc15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Financial_Debtor_Number__c&quot;,&quot;guid&quot;:&quot;column-147e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Debtor Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PlatformList24__c&quot;,&quot;guid&quot;:&quot;column-7864&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Platform List (24)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-1d25&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-4059&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Contact_SuppliedEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dgr_01_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rMessagingUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>rVoiceCall</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>rVoiceCallstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
    <variables>
        <name>vt_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
