force-app/main/default/flows/scr_Product_Discount_Approval_Start_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass1_Product_Discount</name>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalSubmitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalSales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Approver_Sales.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalFinance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Approver_Finance.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rProductDiscount.ApprovalComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lt_01_Motivation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Product_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_AdminMode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rProductDiscount</name>
        <label>1. rProductDiscount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_01_Approval_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_02_Start_Approval</name>
        <label>2. Start Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rProductDiscount.doApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_02_Product_Discount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chModeApex</name>
        <choiceIcon>
            <iconName>utility:apex</iconName>
        </choiceIcon>
        <choiceText>Apex (auto launced flow)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apex</stringValue>
        </value>
    </choices>
    <choices>
        <name>chModeFlow</name>
        <choiceIcon>
            <iconName>utility:flow</iconName>
        </choiceIcon>
        <choiceText>Flow (Record Triggered)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </choices>
    <constants>
        <name>cApproverDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0053W000001lawPQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>cButtonCancel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>doCancel</stringValue>
        </value>
    </constants>
    <constants>
        <name>cButtonSubmit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>doSubmit</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>dec_01_AdminMode</name>
        <label>1. AdminMode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_02_Start_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flow (Default)</defaultConnectorLabel>
        <rules>
            <name>dec_01_AdminMode_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_01_AdminMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chModeApex</elementReference>
                </rightValue>
            </conditions>
            <label>Apex</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Submitted</name>
        <label>1. Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Submitted_Yes_Motivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_ButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cButtonSubmit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lt_01_Motivation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Approver_Sales</targetReference>
            </connector>
            <label>Yes (Motivation)</label>
        </rules>
        <rules>
            <name>dec_01_Submitted_Yes_No_Motivation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_ButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cButtonSubmit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lt_01_Motivation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>scr_01_Approval_Request</targetReference>
            </connector>
            <label>Yes (No Motivation)</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_Validate_Input</name>
        <label>1. Validate Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>dec_01_Validate_Input_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_rProductDiscount</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fApprovalFinancialEnitity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!recordId.Account__r.Reseller_Name__c}),&apos;1&apos;)</expression>
    </formulas>
    <formulas>
        <name>fApproverFinance</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!dgr_01_Approver_Finance.DelegatedApproverId},BLANKVALUE({!dgr_01_Approver_Finance.Id},{!cApproverDefault}))</expression>
    </formulas>
    <formulas>
        <name>fApproverSales</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!dgr_01_Approver_Sales.DelegatedApproverId},BLANKVALUE({!dgr_01_Approver_Sales.Id},{!cApproverDefault}))</expression>
    </formulas>
    <interviewLabel>scr - Product Discount - Approval - Start Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Product Discount - Approval - Start Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>dgr_01_Approver_Finance</name>
        <label>1. Approver Finance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass1_Product_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalFinancialEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fApprovalFinancialEnitity</elementReference>
            </value>
        </filters>
        <filters>
            <field>DefaultApproverFinance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Approver_Sales</name>
        <label>1. Approver Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Approver_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalFinancialEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fApprovalFinancialEnitity</elementReference>
            </value>
        </filters>
        <filters>
            <field>DefaultApproverSales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Product_Discount</name>
        <label>1. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <inputReference>rProductDiscount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_02_Product_Discount</name>
        <label>2. Product Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rProductDiscount</inputReference>
    </recordUpdates>
    <screens>
        <name>scr_01_Approval_Request</name>
        <label>Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_01_Submitted</targetReference>
        </connector>
        <fields>
            <name>rb_01_AdminMode</name>
            <choiceReferences>chModeFlow</choiceReferences>
            <choiceReferences>chModeApex</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chModeFlow</defaultSelectedChoiceReference>
            <fieldText>Mode (Runtime)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vRunMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lt_01_Motivation</name>
            <defaultValue>
                <stringValue>{!rProductDiscount.ApprovalComments__c}</stringValue>
            </defaultValue>
            <fieldText>Motivation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>tt_01_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; font-family: sans-serif;&quot;&gt;Please supply a Motivation. Submitting without motivation is NOT possible!﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>lt_01_Motivation</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fbb_01_ButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;doCancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit&quot;,&quot;value&quot;:&quot;doSubmit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;The is the start of the approval process for this Price Agreements. The approval is requested on all new and changed price agreements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;When changing Price Agreements, they become inactive. Inactive Price Agreements will be revoked from all the platforms until they are reactivated. Subscriptions activated  in between, will fallbact to the listprice of the subscription-product&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Approval contains to steps:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Approval by an appointed Sales-approver. &lt;/li&gt;&lt;li&gt;Confirmation by the finance&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;When the approval and confirmation are succesfully approved, the price agreements will become active. Distribution to the Platforms will be done automaticlly.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_01_Validate_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>rProductDiscount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Discount__c</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRunMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.isSysAdmin__c</elementReference>
        </value>
    </variables>
</Flow>
