force-app/main/default/flows/scr_Invoice_Create_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>act_01_Goto_Credit_Invoice</name>
        <label>1. Goto Credit Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rCredit.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DetailPageNavigation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Clear_rcOrderItemsResult</name>
        <label>1. Clear rcOrderItemsResult</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderItemsResult</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>rcOrderItemsConfirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scr_Credit_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_11_Order_Items_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Confirmation</name>
        <label>1. Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderItemsConfirmation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcOrderItemsResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOrderItemsResult</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>rcOrderItemsResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCreateInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>em_01_Billing.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Create_As_Draft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cb_01_Create_As_Draft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adr_01_Billing.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adr_01_Billing.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adr_01_Billing.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adr_01_Billing.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adr_01_Billing.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEmailStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_01_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Credit_Invoice</name>
        <label>1. Credit Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCredit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Administration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Contact_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Reseller__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__VAT_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__VAT_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Email_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PENDING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Create_As_Draft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCreateInvoiceAsDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Billing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Invoice_Layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subscription25__Invoice_Layout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_Credit_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_New_Base_Detail_Factors</name>
        <label>1. New &amp; Base Detail Factors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vNewStartFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewStartFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewMonthFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewMonthFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewEndFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewEndFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseStartFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseStartFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseMonthFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseMonthFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseEndFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseEndFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_New_Base_Total_Factors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_New_Base_Total_Factors</name>
        <label>1. New &amp; Base Total Factors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vNewTotalFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewTotalFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseTotalFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBaseTotalFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_TotalCorrectionFactor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Order_Items</name>
        <label>1. Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderItemsAvaillable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcOrders</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dgr_01_Orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExistingOrderItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>dgr_01_Order_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Credit_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rcInvoices</name>
        <label>1. rcInvoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dgr_01_Order_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_rCredit_Finalize</name>
        <label>1. rCredit (Finalize)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCredit.Subscription25__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FINALIZED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Credit_Finalize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_TotalCorrectionFactor</name>
        <label>1. TotalCorrectionFactor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vTotalCorrectionFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTotalCorrectionFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_12_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCreateInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_20_rcOrderItemsResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_30_rcOrderItemsResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_04_Commit</name>
        <label>4. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_05_Commit</name>
        <label>5. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_1_Finalize_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_06_Commit</name>
        <label>6. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_01_Goto_Credit_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_11_Dates</name>
        <label>11. Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBaseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_11_Period_Correction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_11_Order_Item</name>
        <label>11. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_10_rcOrderItemSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_10_rcOrderItemSelected.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTotalCorrectionFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseStartFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseMonthFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseEndFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewStartFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewMonthFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewEndFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseTotalFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewTotalFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_11_Recurring_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_11_Order_Items_Result</name>
        <label>11. Order Items (Result)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderItemsResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_10_rcOrderItemSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_12_Order_Item</name>
        <label>12. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_11_cf_11_rcOrderItemsEdited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_13_Order_Item</name>
        <label>13. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem.UnitPrice_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderItem.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_21_OrdersCreate</name>
        <label>21. Orders (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrdersCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_20_rcOrderItemsResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_21_rOrder</name>
        <label>21. rOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_21_rcOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_21_rcOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_22_rOrder</name>
        <label>22. rOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrder.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Subscription25__Billing_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Subscription25__Billing_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Subscription25__Billing_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Subscription25__Billing_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Subscription25__Billing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.Subscription25__Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCredit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrder.Subscription25__External_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_21_OrdersCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_31_Order_Item</name>
        <label>31. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_30_rcOrderItemsResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_32_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_31_OrderItemsCreate</name>
        <label>31. Orders Items (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcOrderItemsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_30_rcOrderItemsResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_31_rOrder</name>
        <label>31. rOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_32_rcOrdersCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lp_32_rcOrdersCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Kill the list Price, other wise the flow breaks</description>
        <name>ass_32_Order_Item</name>
        <label>32. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem.ListPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>cf_31_rcOrdersCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_33_Order_Item</name>
        <label>33. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rOrderItem.UnitPrice_Display__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_31_OrderItemsCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lp_21_Order_Item</name>
        <label>21. Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lp_20_rcOrderItemsResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cf_21_rcOrders</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cho_01_Account</name>
        <choiceText>{!recordId.Subscription25__Account__r.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.Subscription25__Account__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>cho_01_Administration</name>
        <choiceText>{!recordId.Subscription25__Administration__r.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.Subscription25__Administration__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>cho_01_Contact</name>
        <choiceText>{!recordId.Subscription25__Contact_Person__r.Full_Name__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.Subscription25__Contact_Person__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>cho_01_Email_status</name>
        <choiceText>{!rCredit.Subscription25__Email_Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>rCredit.Subscription25__Email_Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>cho_01_VATNumber</name>
        <choiceText>{!recordId.Subscription25__VAT_Number__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>recordId.Subscription25__VAT_Number__c</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>cf_11_rcOrderItemsEdited</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>11. rcOrderItemsEdited</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_cf_01_rcOrderItemsEdited</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcOrderItemsEdited</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cf_01_rcOrderItemsEdited.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>lp_10_rcOrderItemSelected.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>lp_11_cf_11_rcOrderItemsEdited</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cf_21_rcOrders</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>21. rcOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_cf_01_rcOrders</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcOrders</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cf_01_rcOrders.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rOrderItem.OrderId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>lp_21_rcOrders</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cf_31_rcOrdersCreate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>31. rcOrdersCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_cf_01_rcOrders</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcOrdersCreate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cf_01_rcOrders.ParentId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>rOrderItem.OrderId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>lp_32_rcOrdersCreate</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dec_01_1_Finalize_Invoice</name>
        <label>1. Finalize Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>act_01_Goto_Credit_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_1_Finalize_Invoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCredit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCredit.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rCredit.Subscription25__Create_As_Draft__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_rCredit_Finalize</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_ButtonChoice</name>
        <label>1. Button Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>dec_01_ButtonChoice_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_Actions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Invoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
        <rules>
            <name>dec_01_ButtonChoice_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fbb_01_Actions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Clear_rcOrderItemsResult</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_01_vExistingOrderItems</name>
        <label>1. vExistingOrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>dec_01_vExistingOrderItems_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExistingOrderItems</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_Confirmation</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_11_Period_Correction</name>
        <label>11. Period Correction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>lp_11_cf_11_rcOrderItemsEdited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_11_Period_Correction_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vNewStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vBaseStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vNewEndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vBaseEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_01_New_Base_Detail_Factors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_11_Recurring_Product</name>
        <label>11. Recurring (Product)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ass_13_Order_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_11_Recurring_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rOrderItem.Subscription25__Product__r.Subscription25__Cost_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECURRING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOrderItem.Subscription25__Product__r.Subscription25__Cost_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECURRING_DAILY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cf_11_rcOrderItemsEdited</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow to Create a Credit Invoice from the current (selected) Invoice</description>
    <dynamicChoiceSets>
        <name>ccs_01_CurrencyIsoCode</name>
        <collectionReference>rcInvoices</collectionReference>
        <dataType>String</dataType>
        <displayField>CurrencyIsoCode</displayField>
        <object>Subscription25__Invoice__c</object>
        <valueField>Subscription25__Account__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_01_PaymentMethod</name>
        <collectionReference>rcInvoices</collectionReference>
        <dataType>String</dataType>
        <displayField>Payment_Method__c</displayField>
        <object>Subscription25__Invoice__c</object>
        <valueField>Subscription25__Account__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccs_01_SalesChannel</name>
        <collectionReference>rcInvoices</collectionReference>
        <dataType>String</dataType>
        <displayField>Sales_Channel__c</displayField>
        <object>Subscription25__Invoice__c</object>
        <valueField>Subscription25__Account__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_01_CurrencyIsoCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Subscription25__Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_01_Payment_Methods</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Subscription25__Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_01_Reseller</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reseller_Name__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_01_Sales_Channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Channel__c</picklistField>
        <picklistObject>Subscription25__Invoice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fBaseEndFactor</name>
        <dataType>Number</dataType>
        <expression>IF(AND((MONTH({!vBaseEndDate}) = MONTH({!vBaseStartDate})), (YEAR({!vBaseEndDate}) = YEAR({!vBaseStartDate}))),0,
((DAY({!vBaseEndDate}))
/ 
(DAY((Date(YEAR(ADDMONTHS({!vBaseEndDate},1)),MONTH(ADDMONTHS({!vBaseEndDate},1)),1) - 1))))
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fBaseMonthFactor</name>
        <dataType>Number</dataType>
        <expression>IF(AND((MONTH({!vBaseEndDate}) = MONTH({!vBaseStartDate})), (YEAR({!vBaseEndDate}) = YEAR({!vBaseStartDate}))),0,(
(((MONTH({!vBaseEndDate}) - MONTH({!vBaseStartDate})) - 1) + (12 * (YEAR({!vBaseEndDate}) - YEAR({!vBaseStartDate}))))
))</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fBaseStartFactor</name>
        <dataType>Number</dataType>
        <expression>(((DAY(
IF(
AND((MONTH({!vBaseStartDate}) = MONTH({!vBaseEndDate})),(YEAR({!vBaseStartDate}) = YEAR({!vBaseEndDate})))
,
{!vBaseEndDate}
,
(Date(YEAR(ADDMONTHS({!vBaseStartDate},1)),MONTH(ADDMONTHS({!vBaseStartDate},1)),1) - 1)
)
) - DAY({!vBaseStartDate})) + 1) 
/ 
(DAY((Date(YEAR(ADDMONTHS({!vBaseStartDate},1)),MONTH(ADDMONTHS({!vBaseStartDate},1)),1) - 1))))</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fBaseTotalFactor</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!vBaseStartFactor},0) +
BLANKVALUE({!vBaseMonthFactor},0) +
BLANKVALUE({!vBaseEndFactor},0)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fCreateInvoiceAsDraft</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Permission.cp_miInvoiceCreditFull})</expression>
    </formulas>
    <formulas>
        <name>fEmailStatus</name>
        <dataType>String</dataType>
        <expression>IF({!cb_01_Dont_send_by_Email},&apos;SENT&apos;,TEXT({!rCredit.Subscription25__Email_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>fNewEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(OR((BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.EndDate},{!rOrderItem.EndDate}) &gt; {!rOrderItem.EndDate}),(BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.EndDate},{!rOrderItem.EndDate}) &lt; {!rOrderItem.ServiceDate})),{!rOrderItem.EndDate}, BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.EndDate},{!rOrderItem.EndDate}))</expression>
    </formulas>
    <formulas>
        <name>fNewEndFactor</name>
        <dataType>Number</dataType>
        <expression>IF(AND((MONTH({!vNewEndDate}) = MONTH({!vNewStartDate})), (YEAR({!vNewEndDate}) = YEAR({!vNewStartDate}))),0,
((DAY({!vNewEndDate}))
/ 
(DAY((Date(YEAR(ADDMONTHS({!vNewEndDate},1)),MONTH(ADDMONTHS({!vNewEndDate},1)),1) - 1))))
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fNewMonthFactor</name>
        <dataType>Number</dataType>
        <expression>IF(AND((MONTH({!vNewEndDate}) = MONTH({!vNewStartDate})), (YEAR({!vNewEndDate}) = YEAR({!vNewStartDate}))),0,(
(((MONTH({!vNewEndDate}) - MONTH({!vNewStartDate})) - 1) + (12 * (YEAR({!vNewEndDate}) - YEAR({!vNewStartDate}))))
))</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fNewStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(OR((BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.ServiceDate},{!rOrderItem.ServiceDate}) &lt; {!rOrderItem.ServiceDate}),(BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.ServiceDate},{!rOrderItem.ServiceDate}) &gt; {!rOrderItem.EndDate})),{!rOrderItem.ServiceDate},BLANKVALUE({!lp_11_cf_11_rcOrderItemsEdited.ServiceDate},{!rOrderItem.ServiceDate}))</expression>
    </formulas>
    <formulas>
        <name>fNewStartFactor</name>
        <dataType>Number</dataType>
        <expression>(((DAY(
IF(
AND((MONTH({!vNewStartDate}) = MONTH({!vNewEndDate})),(YEAR({!vNewStartDate}) = YEAR({!vNewEndDate})))
,
{!vNewEndDate}
,
(Date(YEAR(ADDMONTHS({!vNewStartDate},1)),MONTH(ADDMONTHS({!vNewStartDate},1)),1) - 1)
)
) - DAY({!vNewStartDate})) + 1) 
/ 
(DAY((Date(YEAR(ADDMONTHS({!vNewStartDate},1)),MONTH(ADDMONTHS({!vNewStartDate},1)),1) - 1))))</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fNewTotalFactor</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!vNewStartFactor},0) +
BLANKVALUE({!vNewMonthFactor},0) +
BLANKVALUE({!vNewEndFactor},0)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fTotalCorrectionFactor</name>
        <dataType>Number</dataType>
        <expression>IF((BLANKVALUE({!vBaseTotalFactor},0) &lt;= 0),1,(BLANKVALUE({!vNewTotalFactor},0) / {!vBaseTotalFactor} ))</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fUnitPrice</name>
        <dataType>Currency</dataType>
        <expression>Round(((BLANKVALUE({!vUnitPrice}, 0) * (-1.0)) * {!vTotalCorrectionFactor}),2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>scr - Invoice - Create Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Invoice - Create Credit</label>
    <loops>
        <name>lp_10_rcOrderItemSelected</name>
        <label>10. rcOrderItemSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcOrderItemsSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_11_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_01_vExistingOrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_11_cf_11_rcOrderItemsEdited</name>
        <label>11. rcOrderItemsEdited</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cf_11_rcOrderItemsEdited</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_11_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_13_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_20_rcOrderItemsResult</name>
        <label>20. rcOrderItemsResult</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcOrderItemsResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>lp_21_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_01_Orders_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_21_rcOrders</name>
        <label>21. rcOrders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cf_21_rcOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_21_rOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_22_rOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_30_rcOrderItemsResult</name>
        <label>30. rcOrderItemsResult</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>rcOrderItemsResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_31_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcr_01_Order_Items_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lp_32_rcOrdersCreate</name>
        <label>31. rcOrdersCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cf_31_rcOrdersCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass_31_rOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ass_33_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>dcr_01_Order_Items_Create</name>
        <label>1. Order Items (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_04_Commit</targetReference>
        </connector>
        <inputReference>rcOrderItemsCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>dcr_01_Orders_Create</name>
        <label>1. Orders (Create)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <inputReference>rcOrdersCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>X1_Invoice</name>
        <label>1. Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_02_Commit</targetReference>
        </connector>
        <inputReference>rCredit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Order_Lines</name>
        <label>1. Order Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Orders</name>
        <label>1. Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_01_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription25__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Credit_Finalize</name>
        <label>1. Credit (Finalize)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_06_Commit</targetReference>
        </connector>
        <inputReference>rCredit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>dur_01_Orders</name>
        <label>1. Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_05_Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription25__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rCredit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_01_Confirmation</name>
        <label>1. Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_01_ButtonChoice</targetReference>
        </connector>
        <fields>
            <name>dt_01_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Confirmation Credit Invoice / Order(s) &lt;/strong&gt;&lt;span style=&quot;font-size: 10px; color: rgb(215, 4, 4);&quot;&gt;(This is a read only screen, however you can make changes, they will be ignored)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_02_Billing_Information</name>
            <fieldText>Billing Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_02_Billing_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_02_Account</name>
                    <choiceReferences>cho_01_Account</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_Contact</name>
                    <choiceReferences>cho_01_Contact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Contact_Person__c</elementReference>
                    </defaultValue>
                    <fieldText>Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_VATNumber</name>
                    <choiceReferences>cho_01_VATNumber</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__VAT_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>VAT Number</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_Administration</name>
                    <choiceReferences>cho_01_Administration</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Administration__c</elementReference>
                    </defaultValue>
                    <fieldText>Administration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_Reseller</name>
                    <choiceReferences>pcs_01_Reseller</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Reseller__c</elementReference>
                    </defaultValue>
                    <fieldText>Reseller</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_02_Billing_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>adr_02_Billing</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Postal_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Street__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_02_Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_02_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_02_Currency</name>
                    <choiceReferences>ccs_01_CurrencyIsoCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_SalesChannel</name>
                    <choiceReferences>ccs_01_SalesChannel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_02_PaymentMethod</name>
                    <choiceReferences>ccs_01_PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_02_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>da_02_Invoice_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Invoice_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>cb_02_Create_as_Draft</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Create_As_Draft__c</elementReference>
                    </defaultValue>
                    <fieldText>Create as Draft</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>cb_02_Dont_send_by_Email</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>cb_01_Dont_send_by_Email</elementReference>
                    </defaultValue>
                    <fieldText>Don&apos;t send by Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_02_Exact_Description</name>
            <fieldText>Exact (Description is assigned toe the Invoice Notes)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_02_Exact_Description_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_02_Description_Invoice</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Invoice_Description__c</elementReference>
                    </defaultValue>
                    <fieldText>Description (Invoice)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_02_Email_Information</name>
            <fieldText>Email Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_02_Email_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_02_Status</name>
                    <choiceReferences>cho_01_Email_status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Email_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_02_Email_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>em_02_Billing</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Email_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>me@movingintelligence.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_02_Extra_Information</name>
            <fieldText>Extra Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_02_Extra_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_02_Cost_Centre_Invoicing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Cost_Center_invoicing__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Centre (Invoicing)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_02_Extra_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_02_Purchase_Order_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Purchase_Order_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Purchase Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Order_Items</name>
            <fieldText>Order Items</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Order_Items_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dta_01_Result_Order_Lines</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom18</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isShowSearchBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>OrderItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Object__c,Device__c,Product_Code__c,Product_Name__c,ServiceDate,EndDate,UnitPrice_Display__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Object__c:0, Device__c:0, Product_Code__c:0, Product_Name__c:0, ServiceDate:0, EndDate:0, UnitPrice_Display__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Selected Invoices Lines</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>rcOrderItemsConfirmation</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preSelectedRows</name>
                        <value>
                            <elementReference>rcOrderItemsConfirmation</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <stringValue>ParentId__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fbb_01_Actions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:cancel_file_request&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Order(s) &amp; Invoice&quot;,&quot;value&quot;:&quot;Invoice&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2,&quot;iconName&quot;:&quot;utility:adjust_value&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_02_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Warning&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_02_Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No Invoice Lines selected, &lt;/span&gt;no credit invoic/order(s) needed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fbb_02_Actions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:cancel_file_request&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOrderItemsResult</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_Credit_Invoices</name>
        <label>Credit Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lp_10_rcOrderItemSelected</targetReference>
        </connector>
        <fields>
            <name>dt_01_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Credit Invoice  for {!recordId.Subscription25__Invoice_Number__c} - {!recordId.Subscription25__Account__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scr_Credit_Invoices_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_Credit_Invoices_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dta_01_Order_Lines</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>OrderItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>rcOrderItemsAvaillable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preSelectedRows</name>
                        <value>
                            <elementReference>rcOrderItemsAvaillable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isShowSearchBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Object__c,Product_Name__c,ServiceDate,EndDate,UnitPrice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Object__c:0, Product_Name__c:0, ServiceDate:0, EndDate:0, UnitPrice:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>Object__c:true, Device__c:true, Product_Code__c:true,Subscription25__Product__c:false,Product_Name__c:false,ServiceDate:false,EndDate:false</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>Object__c:false, Device__c:false, Product_Code__c:false,Subscription25__Product__c:false,Product_Name__c:false,ServiceDate:true,EndDate:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Invoice Lines</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom18</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnIcons</name>
                        <value>
                            <stringValue>5:utility:date_input,6:utility:date_input</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>rcOrderItemsEdited</assignToReference>
                        <name>outputEditedRows</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>rcOrderItemsSelected</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_01_Currency</name>
                    <choiceReferences>ccs_01_CurrencyIsoCode</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_SalesChannel</name>
                    <choiceReferences>ccs_01_SalesChannel</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_Payment_Method</name>
                    <choiceReferences>ccs_01_PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_01_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCredit.Subscription25__Invoice_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>cb_01_Create_As_Draft</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Create_As_Draft__c</elementReference>
                    </defaultValue>
                    <fieldText>Create as Draft</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Only persons with the Permission &apos;cp_miInvoiceCreatedFull Can change this value&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You don&apos;t have the permission, to change this setting&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( 
OR({!$Permission.cp_miInvoiceCreditFull},({!cb_01_Create_As_Draft} = {!rCredit.Subscription25__Create_As_Draft__c})),TRUE,FALSE)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>cb_01_Dont_send_by_Email</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Don&apos;t send by Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Exact_Description</name>
            <fieldText>Exact (Description is assigned toe the Invoice Notes)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Exact_Description_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCredit.Invoice_Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Email_Information</name>
            <fieldText>Email Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Email_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCredit.Subscription25__Email_Status__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_01_Email_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>em_01_Billing</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Email_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>me@movingintelligence.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Extra_information</name>
            <fieldText>Extra information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Extra_information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCredit.Cost_Center_invoicing__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_01_Extra_information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>rCredit.Subscription25__Purchase_Order_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sec_01_Billing_Information</name>
            <fieldText>Billing Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>sec_01_Billing_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pl_01_Account</name>
                    <choiceReferences>cho_01_Account</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_Contact</name>
                    <choiceReferences>cho_01_Contact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Contact_Person__c</elementReference>
                    </defaultValue>
                    <fieldText>Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_VATNumber</name>
                    <choiceReferences>cho_01_VATNumber</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__VAT_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>VAT Number</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_Administration</name>
                    <choiceReferences>cho_01_Administration</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Subscription25__Administration__c</elementReference>
                    </defaultValue>
                    <fieldText>Administration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>pl_01_Reseller</name>
                    <choiceReferences>pcs_01_Reseller</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rCredit.Reseller__c</elementReference>
                    </defaultValue>
                    <fieldText>Reseller</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;The Reseller of the current invoice, changes will be ommited! &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>sec_01_Billing_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>adr_01_Billing</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Postal_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>rCredit.Subscription25__Billing_Street__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dt_01_Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No Invoice Lines available to create credit invoices from&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vExistingOrderItems</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_rcInvoices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_cf_01_Order_Lines_outputEditedRows_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_cf_01_rcOrderItemsEdited</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_cf_01_rcOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rcInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Invoice__c</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsAvaillable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsEdited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsResult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrderItemsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rcOrdersCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Invoice__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription25__Invoice__c</objectType>
    </variables>
    <variables>
        <name>rOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vBaseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBaseEndFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vBaseMonthFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vBaseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBaseStartFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vBaseTotalFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCreateInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vExistingOrderItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNewEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewEndFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vNewMonthFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vNewStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewStartFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vNewTotalFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vOrderItemsResult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTotalCorrectionFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>vUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
