force-app/main/default/flows/scr_Account_Get_New_Debtor_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Replaces the current debtor number with a brand new one</description>
    <environments>Default</environments>
    <interviewLabel>scr - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>scr - Account - Get New Debtor Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_01_Confirmation</name>
        <label>scr_01_Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>afl_Account_Get_new_debtor_number</targetReference>
        </connector>
        <fields>
            <name>dt_01_Warning</name>
            <fieldText>&lt;p&gt;This action removes the current debtor number and requires a nieuw debtor number from the financial system.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &quot;COMFIRM&quot; to Continue or close this window or press CANCEL&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_01_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>afl_Account_Get_new_debtor_number</name>
        <label>afl - Account - Get new debtor number</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <flowName>afl_Account_Get_new_debtor_number</flowName>
        <inputAssignments>
            <name>rAccount</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
