force-app/main/default/flows/stf_Asset_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ass_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Dealer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Hardware__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.IsClosedOnCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Classification_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.ServiceEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fServiceEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_01_Has_Dealer_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_01_Commit</name>
        <label>1. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dur_01_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_02_Commit</name>
        <label>2. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_03_Commit</name>
        <label>3. Commit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCommit</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Correct Queue name = &lt;cQueueNameBase&gt; + &lt;Service Entity&gt;</description>
        <name>cQueueNameBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>gqCasePlatform</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dec_01_Has_Dealer_Account</name>
        <label>1. Has Dealer Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dgr_01_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dec_01_Has_Dealer_Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dgr_01_Account_Contact_Relation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Generates the ASR Cases from Asset</description>
    <environments>Default</environments>
    <formulas>
        <name>fQueueName</name>
        <dataType>String</dataType>
        <expression>{!cQueueNameBase} + {!fServiceEntity}</expression>
    </formulas>
    <formulas>
        <name>fServiceEntity</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Dealer_Account__r.Reseller_Name__c}),&apos;1&apos;)</expression>
    </formulas>
    <formulas>
        <name>fSubject</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Product2.Name}=&apos;Mi50P&apos;),&apos;Porsche &apos;,&apos;&apos;) + &apos;ASR voor &apos;  + NULLVALUE( {!$Record.Name},&apos;&apos;) +  &apos;  -  &apos;  +NULLVALUE( {!$Record.License_Plate__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fSystem</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.System_Platform__c}),&apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>stf - Asset - Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>stf - Asset - Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>dcr_01_Case</name>
        <label>1. Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Commit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ass_02_Commit</targetReference>
        </faultConnector>
        <inputReference>rCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>dgr_01_Account_Contact_Relation</name>
        <label>1. Account Contact Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isASRContact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>rCase.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <sortField>ContactId</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Queue</name>
        <label>1. Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcr_01_Case</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3 OR 4))</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASR_AS</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gqCaseSupportASR1</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>rCase.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>dgr_01_Record_Type</name>
        <label>1. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dgr_01_Queue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASR</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platform</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>rCase.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>dur_01_Asset</name>
        <label>1. Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_03_Commit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ass_02_Commit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ASR_Case__c</field>
            <value>
                <elementReference>rCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ass_01_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_ASR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-03-01</startDate>
            <startTime>03:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vCommit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
